/*
	Theme Name: VNCOM
	Theme URI: http://ttcom.vn
	Description: This is a private theme that is base on Genesis themeframework.
	Author: VNCOM
	Author URI: http://ttcom.vn
	Version: 1.0
	Template: genesis
*/


/* Table of Contents

* Import Fonts
* Defaults
* Hyperlinks
* Body
* Wrap
* Header
* Image Header - Partial Width
* Image Header - Full Width
* Header / Primary / Secondary Navigation
* Primary Navigation Extras
* Inner
* Breadcrumb
* Taxonomy Description
* Content-Sidebar Wrap
* Content
* Column Classes
* Featured Post Grid
* Headlines
* Ordered / Unordered Lists
* Post Info
* Post Meta
* Author Box
* Sticky Posts
* Archive Page
* Post Icons
* Images
* Post Navigation
* Primary / Secondary Sidebars
* Dropdowns
* Featured Page / Post
* User Profile
* Buttons
* Search Form
* eNews & Updates Widget
* Calendar Widget
* Footer Widgets
* Footer
* Comments
* Gravity Forms
* Responsive Design

*/

/* Defaults
------------------------------------------------------------ */

/**
 *
 * Thêm fontawesome
 *
 */
 @font-face {
	font-family: fontawesome;
	src: url(Font/fontawesome-webfont.woff) format('truetype');
}

body,
h1,
h2,
h2 a,
h2 a:visited,
h3,
h4,
h5,
h6,
p,
select,
textarea {
	color: #333;
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: 300;
	line-height: 1.5625;
	margin: 0;
	padding: 0;
	text-decoration: none;
}

blockquote,
input,
select,
textarea,
.author-box,
.breadcrumb,
.sticky,
.taxonomy-description,
.wp-caption {
	background-color: #f5f5f5;
	border: 1px solid #ddd;
}

input,
label,
select,
textarea {
	color: #333;
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: 300;
}

li,
ol,
ul {
	margin: 0;
	padding: 0;
}

ol li {
	list-style-type: decimal;
}

strong,
b {
	font-weight: 700;
}
/* Hyperlinks
------------------------------------------------------------ */

a,
a:visited {
	color: #0d72c7;
	text-decoration: none;
}

a:hover {
	text-decoration: none !important;
}

a img {
	border: none;
}


/* Body
------------------------------------------------------------ */

body {
	background-color: #fff;
}

::-moz-selection {
	background-color: #0d72c7;
	color: #fff;
}

::selection {
	background-color: #0d72c7;
	color: #fff;
}


/* Wrap
------------------------------------------------------------ */

#wrap {
	background-color: #fff;
	margin: 0 auto;
	width: 1100px;
	padding: 0;
	overflow: hidden;
}


/* Header
------------------------------------------------------------ */

#header {
	margin: 0 auto;
	min-height: 100px;
	width: 100%;
}

#title-area {
	float: left;
	overflow: hidden;
	padding: 17px 0 0;
	width: 400px;
}

#title {
	font-family: 'Helvetica Neue', Arial, sans-serif;
	font-size: 36px;
	line-height: 1.25;
	margin: 0;
	text-transform: uppercase;
}

#title a,
#title a:hover {
	color: #333;
	padding: 0 0 0 20px;
	text-decoration: none;
}

#description {
	font-size: 13px;
	padding: 0 0 0 20px;
}


/* Image Header - Partial Width
------------------------------------------------------------ */


.header-image #title,
.header-image #title a {
	display: block;
	float: left;
	height: 100px;
	overflow: hidden;
	padding: 0;
	text-indent: -9999px;
	width: 100%;
}

.header-image #description {
	display: none;
	overflow: hidden;
}


/* Image Header - Full Width
------------------------------------------------------------ */

.header-full-width #title-area,
.header-full-width #title,
.header-full-width #title a {
	width: 100%;
}


/* Header / Primary / Secondary Navigation
------------------------------------------------------------ */

.menu-primary,
.menu-secondary,
#header .menu {
	background-color: #f5f5f5;
	clear: both;
	color: #333;
	font-size: 13px;
	margin: 0 auto;
	overflow: hidden;
	width: 100%;
}

#header .menu {
	border: 1px solid #ddd;
	box-sizing: border-box;
}

.menu-primary {
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
}

.menu-secondary {
	border-bottom: 1px solid #ddd;
	border-top: none;
}

.menu-primary ul,
.menu-secondary ul,
#header .menu ul {
	float: left;
	width: 100%;
}

.menu-primary li,
.menu-secondary li,
#header .menu li {
	float: left;
	list-style-type: none;
}

.menu-primary a,
.menu-secondary a,
#header .menu a {
	border-left: solid 1px #5465d0;
    border-right: solid 1px #183768;
	color: #333;
	display: block;
	padding: 7px 15px 6px;
	position: relative;
	text-decoration: none;
}

.menu-primary li a:active,
.menu-primary .current-cat a,
.menu-secondary li a:active,
.menu-secondary li a:hover,
.menu-secondary .current_page_item a,
.menu-secondary .current-cat a,
.menu-secondary .current-menu-item a,
#header .menu li a:active,
#header .menu li a:hover,
#header .menu .current_page_item a,
#header .menu .current-cat a,
#header .menu .current-menu-item a {
	background-color: #fff;
	color: #333;
}
.menu-primary li a:hover,
.menu-primary .current_page_item a,
.menu-primary .current-menu-item a {
	background-image: url(images/bg-menu-hover.png);
    background-repeat: repeat-x;
	color: #333;
}
.menu-primary li li a,
.menu-primary li li a:link,
.menu-primary li li a:visited,
.menu-secondary li li a,
.menu-secondary li li a:link,
.menu-secondary li li a:visited,
#header .menu li li a,
#header .menu li li a:link,
#header .menu li li a:visited {
	background: none;
	background-color: #154ab0;
	border-top: solid 1px #5465d0;
    border-bottom: solid 1px #183768;
	color: #333;
	font-size: 12px;
	padding: 9px 10px 8px;
	position: relative;
	text-transform: none;
	width: 188px;
}

.menu-primary li li a:active,
.menu-primary li li a:hover,
.menu-secondary li li a:active,
.menu-secondary li li a:hover,
#header .menu li li a:active,
#header .menu li li a:hover {
	background-color: #2d71f5;
	color: #333;
}

.menu-primary li ul,
.menu-secondary li ul,
#header .menu li ul {
	height: auto;
	left: -9999px;
	margin: 0 0 0 -1px;
	position: absolute;
	width: 160px;
	z-index: 9999;
}

.menu-primary li ul a,
.menu-secondary li ul a,
#header .menu li ul a {
	width: 140px;
}

.menu-primary li ul ul,
.menu-secondary li ul ul,
#header .menu li ul ul {
	margin: -36px 0 0 159px;
}

.menu li:hover ul ul,
.menu li.sfHover ul ul {
	left: -9999px;
}

.menu li:hover,
.menu li.sfHover {
	position: static;
}

ul.menu li:hover>ul,
ul.menu li.sfHover ul,
#header .menu li:hover>ul,
#header .menu li.sfHover ul {
	left: auto;
}

.menu-primary li a.sf-with-ul,
.menu-secondary li a.sf-with-ul,
#header .menu li a.sf-with-ul {
	padding-right: 25px;
}

.menu li a .sf-sub-indicator,
.menu li li a .sf-sub-indicator,
.menu li li li a .sf-sub-indicator {
	background: url(images/icon-plus.png) no-repeat;
	height: 16px;
	position: absolute;
	right: 8px;
	text-indent: -9999px;
	top: 10px;
	width: 16px;
}

#wpadminbar li:hover ul ul {
	left: 0;
}


/* Primary Navigation Extras
------------------------------------------------------------ */

.menu li.right {
	float: right;
	padding: 7px 15px 6px;
}

.menu li.right a {
	background: none;
	border: none;
	color: #333;
	display: inline;
	text-decoration: none;
}

.menu li.right a:hover {
	color: #0d72c7;
	text-decoration: none;
}

.menu li.search {
	padding: 0 10px;
}

.menu li.rss a {
	background: url(images/rss.png) no-repeat center left;
	margin: 0 0 0 10px;
	padding: 0 0 0 16px;
}

.menu li.twitter a {
	background: url(images/twitter-nav.png) no-repeat center left;
	padding: 0 0 0 20px;
}


/* Inner
------------------------------------------------------------ */

#inner {
	margin: 0 auto;
	overflow: hidden;
	padding: 0px;
	width: 1100px;
}


/* Breadcrumb
------------------------------------------------------------ */

.breadcrumb {
	font-size: 13px;
	margin: -10px 0 30px;
	padding: 5px 10px;
}


/* Taxonomy Description
------------------------------------------------------------ */

.taxonomy-description {
	background-color: #fff;
	margin: -10px 0 30px;
	padding: 0 0 15px;
}

.taxonomy-description p {
	font-size: 14px;
	padding: 15px 15px 0;
}


/* Content-Sidebar Wrap
------------------------------------------------------------ */

.content-sidebar #content-sidebar-wrap,
.full-width-content #content-sidebar-wrap,
.sidebar-content #content-sidebar-wrap {
	width: 100%;
}

.sidebar-content-sidebar #content-sidebar-wrap,
.sidebar-sidebar-content #content-sidebar-wrap {
	float: right;
}


/* Content
------------------------------------------------------------ */

#content {
	float: left;
	padding: 0;
	width: 660px;
}

.content-sidebar #content,
.sidebar-content #content {
	width: 705px;
}

.sidebar-content #content,
.sidebar-sidebar-content #content {
	float: right;
}

.full-width-content #content {
	width: 920px;
}

.post {
	margin: 0 0 20px;
    border: 1px solid #f1f1f1;
    -webkit-box-shadow: 0 0 3px #CACACA;
    margin-left: 2px;
    padding: 8px;
}

.entry-content {
	overflow: hidden;
}

.entry-content p {
	margin: 0 0 10px;
	text-align: justify;
	font-size: 15px;
}

/* blockquote {
	background: url(images/blockquote.png) no-repeat;
	border: none;
	margin: 5px 5px 20px;
	padding: 25px 30px 5px 70px;
} */

blockquote p {
	color: #999;
	font-style: italic;
}

p.subscribe-to-comments {
	padding: 20px 0 10px;
}

.clear {
	clear: both;
}

.clear-line {
	border-bottom: 1px solid #ddd;
	clear: both;
	margin: 0 0 25px;
}


/* Column Classes
------------------------------------------------------------ */

.five-sixths,
.four-fifths,
.four-sixths,
.one-fifth,
.one-fourth,
.one-half,
.one-sixth,
.one-third,
.three-fifths,
.three-fourths,
.three-sixths,
.two-fifths,
.two-fourths,
.two-sixths,
.two-thirds {
	float: left;
	margin: 0 0 20px;
	padding-left: 3%;
}

.one-half,
.three-sixths,
.two-fourths {
	width: 48%;
}

.one-third,
.two-sixths {
	width: 31%;
}

.four-sixths,
.two-thirds {
	width: 65%;
}

.one-fourth {
	width: 22.5%;
}

.three-fourths {
	width: 73.5%;
}

.one-fifth {
	width: 17.4%;
}

.two-fifths {
	width: 37.8%;
}

.three-fifths {
	width: 58.2%;
}

.four-fifths {
	width: 78.6%;
}

.one-sixth {
	width: 14%;
}

.five-sixths {
	width: 82%;
}

.first {
	clear: both;
	padding-left: 0;
}


/* Featured Post Grid
------------------------------------------------------------ */

.genesis-grid-even,
.genesis-grid-odd {
	margin: 0 0 20px;
	padding: 0 0 15px;
	width: 48%;
}

.genesis-grid-even {
	float: right;
}

.genesis-grid-odd {
	clear: both;
	float: left;
}


/* Headlines
------------------------------------------------------------ */

h1,
h2,
h2 a,
h2 a:visited,
h3,
h4,
h5,
h6 {
	font-family: 'Helvetica Neue', Arial, sans-serif;
	line-height: 1.25;
	margin: 0 0 10px;
}

h1 {
	font-size: 18px;
}

.taxonomy-description h1 {
	margin: 0;
}

h2,
h2 a,
h2 a:visited {
	font-size: 16px;
}

h2 a,
h2 a:visited {
	color: #333;
	font-family: 'Helvetica Neue', Arial, sans-serif;
}

h2 a:hover {
	color: #0d72c7;
	text-decoration: none;
}

.widget-area h2,
.widget-area h2 a {
	font-size: 14px;
	margin: 0 0 5px;
}

h3 {
	font-size: 14px;
}

h4 {
	font-size: 13px;
}

.taxonomy-description h1 {
	/* background: -webkit-gradient(linear,0 0,0 100%,from(#1e7bca),to(#013c6d)); */
    border-bottom: 1px solid #ddd;
    font-size: 15px;
    padding: 10px 10px 10px 10px;
	color: #444;
	font-weight: bold;
}
.widget-area h4 {
	background-color: #f5f5f5;
    border-bottom: 1px solid #ddd;
    font-size: 15px;
    padding: 5px 10px 6px 40px;
    background-image: url(images/icon-gd.png);
    background-repeat: no-repeat;
    color: #fff;
    font-weight: bold;
}

.widget-area h4 a {
	color: #333;
	text-decoration: none;
}

#footer-widgets h4 {
	background: none;
	border: none;
	padding: 0;
}

h5 {
	font-size: 13px;
}


/* Ordered / Unordered Lists
------------------------------------------------------------ */

.entry-content ol,
.entry-content ul {
	margin: 0;
	padding: 0 0 25px;
}

.archive-page ul li,
.entry-content ul li {
	list-style-type: square;
	margin: 0 0 0 30px;
	padding: 0;
}

.entry-content ol li {
	margin: 0 0 0 35px;
}

.archive-page ul ul,
.entry-content ol ol,
.entry-content ul ul {
	padding: 0;
}


/* Post Info
------------------------------------------------------------ */

.post-info {
	font-size: 13px;
	margin: -5px 0 15px;
}


/* Post Meta
------------------------------------------------------------ */

.post-meta {
	border-top: 1px solid #ddd;
	clear: both;
	font-size: 13px;
	padding: 5px 0 0;
}


/* Author Box
------------------------------------------------------------ */

.author-box {
	background-color: #f5f5f5;
	margin: 0 0 40px;
	overflow: hidden;
	padding: 10px;
}

.author-box p {
	font-size: 13px;
}


/* Sticky Posts
------------------------------------------------------------ */

.sticky {
	background-color: #f5f5f5;
	margin: -10px 0 40px;
	padding: 20px;
}


/* Archive Page
------------------------------------------------------------ */

.archive-page {
	float: left;
	padding: 20px 0 0;
	width: 45%;
}


/* Post Icons
------------------------------------------------------------ */

.post-comments,
.tags {
	background: url(images/icon-dot.png) no-repeat left;
	margin: 0 0 0 3px;
	padding: 0 0 0 10px;
}


/* Images
------------------------------------------------------------ */

img {
	height: auto;
	max-width: 100%;
}

.avatar,
.featuredpage img,
.featuredpost img,
.post-image {
	background-color: #f5f5f5;
	border: 1px solid #ddd;
	padding: 4px;
}

.author-box .avatar {
	background-color: #fff;
	float: left;
	margin: 0 10px 0 0;
}

.post-image {
	margin: 0 10px 10px 0;
}

.comment-list li .avatar {
	background-color: #fff;
	float: right;
	margin: 5px 0 0 10px;
}

img.centered,
.aligncenter {
	display: block;
	margin: 0 auto 10px;
}

img.alignnone {
	display: inline;
	margin: 0 0 10px;
}

img.alignleft {
	display: inline;
	margin: 0 15px 10px 0;
}

img.alignright {
	display: inline;
	margin: 0 0 10px 15px;
}

.alignleft {
	float: left;
	margin: 0 15px 10px 0;
}

.alignright {
	float: right;
	margin: 0 0 10px 15px;
}

.wp-caption {
	padding: 5px;
	text-align: center;
}

p.wp-caption-text {
	font-size: 13px;
	margin: 5px 0;
}

.wp-smiley,
.wp-wink {
	border: none;
	float: none;
}

.gallery-caption {
}


/* Post Navigation
------------------------------------------------------------ */

.navigation {
	font-size: 13px;
	overflow: hidden;
	padding: 20px 0 8px;
	width: 100%;
}

.navigation li {
	display: inline;
}

.navigation li a,
.navigation li.disabled,
.navigation li a:hover,
.navigation li.active a {
	border: 1px solid #ddd;
	padding: 5px 8px;
}

.navigation li a:hover,
.navigation li.active a {
	background-color: #f5f5f5;
}


/* Primary / Secondary Sidebars
------------------------------------------------------------ */

.sidebar {
	display: inline;
	float: right;
	width: 302px;
}

#sidebar-alt {
	float: left;
	width: 160px;
	margin-top: 10px;
}

.sidebar-content #sidebar,
.sidebar-sidebar-content #sidebar {
	float: left;
}

.content-sidebar-sidebar #sidebar-alt {
	float: right;
	margin-top: 10px;
}

.sidebar p {
	font-size: inherit;
	font-style: italic;
	font-weight: bold;
}
.sidebar p:before{
	content: "\f105";
    display: inline-block;
    font-family: FontAwesome;
}

.sidebar .widget {
	background-color: #fff;
	border: 1px solid #ddd;
	margin: 0 0 15px;
	padding: 0 0 0px;
}

.sidebar.widget-area ol,
.sidebar.widget-area ul,
.widget-area .textwidget,
.widget_tag_cloud div div {
	padding: 0 15px;
}

.sidebar.widget-area ul li,
#footer-widgets .widget-area ul li {
	border-bottom: 1px solid #ddd;
	list-style-type: none;
	margin: 0 0 7px;
	padding: 0 0 5px;
	word-wrap: break-word;
}

.sidebar.widget-area ul ul li {
	border: none;
	margin: 0;
}


/* Dropdowns
------------------------------------------------------------ */

.widget_archive select,
#cat {
	display: inline;
	margin: 5px 15px 0;
	padding: 3px;
	width: 85%;
}


/* Featured Page / Post
------------------------------------------------------------ */

.featuredpage,
.featuredpost {
	clear: both;
	margin: 0 0 15px;
	overflow: hidden;
}

.featuredpage .page,
.featuredpost .post {
	border-bottom: 1px solid #ddd;
	margin: 0 0 5px;
	overflow: hidden;
	padding: 0 15px 10px;
}

#footer-widgets .featuredpage .page,
#footer-widgets .featuredpost .post {
	margin: 0 0 10px;
	padding: 0;
}

.more-from-category {
	padding: 5px 15px 0 215px;
}


/* User Profile
------------------------------------------------------------ */

.user-profile {
	overflow: hidden;
}

.user-profile p {
	padding: 5px 15px 0;
}

.user-profile .posts_link {
	padding: 0 15px;
}


/* Buttons
------------------------------------------------------------ */

input[type="button"],
input[type="submit"] {
	background: #0066FF;
	border: 1px solid #ccc;
    cursor: pointer;
    line-height: 19px;
    padding: 5px 7px;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

input:hover[type="button"],
input:hover[type="submit"] {
	background: url(images/gradient.png) 0 -33px;
	text-decoration: none;
}


/* Search Form
------------------------------------------------------------ */

#header .searchform {
	float: left;
	padding: 0;
	position: relative;
}

.sidebar .searchform {
	padding: 5px 0 0 15px;
}

#nav .s {
	background-color: #fff;
	margin: 2px -7px 0 0;
}


/* eNews and Update Widget
------------------------------------------------------------ */

.enews p {
	padding: 0 15px 5px;
}

.enews #subscribe {
	padding: 0 0 0 15px;
}

.enews #subbox {
	margin: 5px -7px 0 0;
	padding: 6px 5px;
	width: 75%;
}


/* Calendar Widget
------------------------------------------------------------ */

#wp-calendar {
	width: 100%;
}

#wp-calendar caption {
	font-size: 12px;
	font-style: italic;
	padding: 2px 5px 0 0;
	text-align: right;
}

#wp-calendar thead {
	background-color: #f5f5f5;
	font-weight: bold;
	margin: 10px 0 0;
}

#wp-calendar td {
	background-color: #f5f5f5;
	padding: 2px;
	text-align: center;
}


/* Footer Widgets
------------------------------------------------------------ */

#footer-widgets {
	background-color: #f5f5f5;
	border-top: 1px solid #ddd;
	clear: both;
	font-size: 13px;
	margin: 0 auto;
	overflow: hidden;
	width: 100%;
}

#footer-widgets .wrap {
	overflow: hidden;
	padding: 20px 30px 10px;
}

#footer-widgets .widget {
	background: none;
	border: none;
	margin: 0 0 15px;
	padding: 0;
}

#footer-widgets .textwidget {
	padding: 0;
}

#footer-widgets .widget_tag_cloud div div {
	padding: 0;
}

#footer-widgets p {
	font-size: inherit;
	margin: 0 0 10px;
}

#footer-widgets ul {
	margin: 0;
}

#footer-widgets ul li {
	margin: 0 0 0 20px;
}

#footer-widgets #wp-calendar thead,
#footer-widgets #wp-calendar td {
	background: none;
}

.footer-widgets-1 {
	float: left;
	margin: 0 30px 0 0;
	width: 280px;
}

.footer-widgets-2 {
	float: left;
	width: 280px;
}

.footer-widgets-3 {
	float: right;
	width: 280px;
}


/* Footer
------------------------------------------------------------ */

#footer {
	clear: both;
	font-size: 13px;
	margin: 0 auto;
	overflow: hidden;
	width: 100%;
	background: url(images/bg_footer.png);
    background-repeat: repeat-x;
}

#footer .wrap {
	overflow: hidden;
	padding: 20px 15px;
	background: url(images/bg_footer_top.png);
    background-repeat: no-repeat;
	background-position: top;
}

#footer p {
	font-size: inherit;
}

#footer a,
#footer a:visited {
	color: #333;
}

#footer a:hover {
	color: #0d72c7;
	text-decoration: none;
}

#footer .gototop {
	float: left;
	width: 200px;
}

#footer .creds {
	float: right;
	text-align: right;
	width: 650px;
}


/* Comments
------------------------------------------------------------ */

#comments,
#respond {
	margin: 0 0 15px;
	overflow: hidden;
}

#author,
#comment,
#email,
#url {
	margin: 10px 5px 0 0;
	padding: 5px;
	width: 250px;
}

#comment {
	height: 150px;
	margin: 10px 0;
	width: 98%;
}

.ping-list {
	margin: 0 0 40px;
}

.comment-list ol,
.ping-list ol {
	padding: 10px;
}

.comment-list li,
.ping-list li {
	font-weight: bold;
	list-style-type: none;
	margin: 15px 0 5px;
	padding: 10px 15px;
}

.comment-list li ul li {
	list-style-type: none;
	margin-right: -16px;
}

.comment-content p {
	font-size: 13px;
	margin: 0 0 20px;
}

.comment-list cite,
.ping-list cite {
	font-style: normal;
}

.commentmetadata {
	font-size: 12px;
	margin: 0 0 5px;
}

.reply {
	font-size: 13px;
	font-weight: 300;
}

.nocomments {
	text-align: center;
}

#comments .navigation {
	display: block;
}

.bypostauthor {
}

.thread-alt,
.thread-even {
	background-color: #f5f5f5;
}

.alt,
.depth-1,
.even {
	border: 1px solid #ddd;
}


/* Gravity Forms
------------------------------------------------------------ */

div.gform_wrapper input,
div.gform_wrapper select,
div.gform_wrapper textarea {
	box-sizing: border-box;
	font-size: 14px !important;
	padding: 4px 5px !important;
}

div.gform_footer input.button {
	color: #333;
}

div.gform_wrapper .ginput_complex label {
	font-size: 13px;
}

div.gform_wrapper li,
div.gform_wrapper form li {
	margin: 0 0 10px;
}

div.gform_wrapper .gform_footer {
	border: none;
	margin: 0;
	padding: 0;
}


/* Block
------------------------------------------------------------ */

.block {
	clear: both;
	margin: 0 0 20px 0;
}

.block .older-posts ul {
	padding-left: 0px;
}

.block-title {
	font-size: 16px;
	background-color: #fff;
	margin: 0;
	padding: 9px 0px 8px;
}

.block-wrap {
	padding: 10px 10px 10px 0px;
}


/*Caia widget advertise
--------------------------------------------------------------*/
.caia_ads_widget, .sidebar .caia_ads_widget, .caia_ads_widget .widget-wrap{
	text-align:center;
	background:none;
	border:none;
	padding:0px;
}
.caia_ads_widget .widgettitle{
	background:none;
	color:inherit;
	border:none;
	padding:0px;
	width:100%;
	margin:0px;
}

/**
 * SANGMINI Ngày 30 Tháng 01 Năm 2018
 */
#header_first {width: 100%;float: left;overflow: hidden;background-color: #fff;border-bottom: 2px solid #e0e0e0; display: none;}
#header_first .first_container { width: 1000px;margin: auto; }
#header_first .first_container .header_first_left { width: 50%;float: left; }
#header_first .first_container .header_first_right { width: 50%;float: left; }
#header_first .first_container .header_first_left ul#menu-menu-first { margin-bottom: 0px; }
#header_first .first_container .header_first_left ul#menu-menu-first li { list-style-type: none; display: inline-block;padding:10px 15px; background-image: url(images/toolbar-topic-icon.png);background-repeat: no-repeat;background-position: 0 16px;}
#header_first .first_container .header_first_left ul#menu-menu-first li a { color: #666; }
#header_first .first_container .header_first_left ul#menu-menu-first li a:hover { text-decoration: none; }
#header_first .first_container .header_first_right ul#menu-menu-header-right { width: 100%;float:left;border: 0; box-sizing: border-box; background-color: transparent;margin-bottom:0px;margin-top:5px; }
#header_first .first_container .header_first_right ul#menu-menu-header-right li { padding: 5px 10px;;list-style: none;float: left;margin-left: 17px;background: #f1f1f1; box-shadow: 0px 3px 4px -1px;margin-bottom: 8px;border-radius: 5px;}
#header_first .first_container .header_first_right ul#menu-menu-header-right li a { background-image: url(images/icon_header.png);background-repeat: no-repeat;padding: 8px 5px 8px 30px;background-position: 4px 7px;}

#wrap #header .wrap { width: 100%;margin: auto;overflow: hidden;}


#wrap #header .wrap .widget-area { float: left;padding: 10px 0px;width: 70%; }
#wrap #header .wrap .widget-area #search-2 { position: absolute; z-index: 99; left: 846px; top: 145px; }
#wrap #header .wrap .widget-area #search-2 .s { margin: 0; padding: 5px 5px; width: 330px; border: 2px solid #04655c; border-radius: 5px; font-size: 11px; }
#wrap #header .wrap .widget-area #search-2 .searchform.search-form input[type="submit"] {
	text-transform: uppercase;
	width: 39px;
	height: 28px; 
	border-left: none; 
	color: #3a3a3a; 
	text-indent: -9999px; 
	display: block;
	background: url(images/icon_search.png)no-repeat 11px center; 
	border: none; 
	position: absolute; 
	right: 0px; 
	top: 0px; 
	text-decoration: none;
}
#wrap #header .wrap .widget-area #search-2 .searchform.search-form input[type=text] {
	width: 130px; 
	box-sizing: border-box;
	-webkit-transition: width 0.4s ease-in-out; 
	transition: width 0.4s ease-in-out;
}
#wrap #header .wrap .widget-area #search-2 .searchform.search-form input[type=text]:focus {
    width: 300px;
}
#wrap #header .wrap .widget-area #nav_menu-2 { width: 55%;float: left;margin: 29px 0px;}




#wrap #inner #content-sidebar-wrap #home_content_1 .lof-main-outer { width: 60%;float: left;border-right: 1px solid #dedede; }
#wrap #inner #content-sidebar-wrap #home_content_1 .lof-main-outer a.slide { width: 100%;float: left;border-top: 1px solid #dedede;border-bottom: 1px solid #dedede;border-left: 1px solid #dedede; }
#wrap #inner #content-sidebar-wrap #home_content_1 .lof-main-outer a.slide img { width: 100%;height: 265px; }
#wrap #inner #content-sidebar-wrap #home_content_1 .lof-main-outer .lof-main-item-desc { width: 100%;float: left; }
#wrap #inner #content-sidebar-wrap #home_content_1 .lof-main-outer .lof-main-item-desc a { text-decoration: none;font: 700 21px/30px "Times New Roman",Georgia,Times;;font-weight: bold;color: #067594; }
#wrap #inner #content-sidebar-wrap #home_content_1 .lof_navigator_outer { width: 40%;float: left; padding-left: 5px;background-color: #F7F7F7; }
#wrap #inner #content-sidebar-wrap #home_content_1 .lof_navigator_outer ul.lof_navigator li { overflow: hidden;list-style-type: none;padding: 5px 0px; background-repeat: no-repeat;padding-left: 5px;background-position: 0px 14px;border-bottom: 1px dotted #C0BFBF; }
#wrap #inner #content-sidebar-wrap #home_content_1 .lof_navigator_outer ul.lof_navigator li:last-child { border-bottom: 0px; }
#wrap #inner #content-sidebar-wrap #home_content_1 .lof_navigator_outer ul.lof_navigator li a { font: 500 12px/15px Arial; color: #067594; }
#wrap #inner #content-sidebar-wrap #home_content_1 .lof_navigator_outer ul.lof_navigator li a.atitle img { width: 25%; float:left; margin-right:10px; }
#wrap #inner #content-sidebar-wrap #home_content_1 .lof_navigator_outer ul.lof_navigator li a.atitle h5 { width: 70%;float:left;margin-top: 0px; font-size: 13px; }
#wrap #inner #content-sidebar-wrap #home_content_1 .lof_navigator_outer .icon-event { padding: 6px 30px;border-radius: 15px 0px 0px 15px;background-color: transparent;background-image: url(images/sprite.png);background-repeat: no-repeat; }
#wrap #inner #content-sidebar-wrap #home_content_1 .lof_navigator_outer .icon-event a { text-decoration: none;color: #fff; font-size: 13px; font-weight: bold; }
#wrap #inner #content-sidebar-wrap #home_content_1 ul#ct-morelink { width: 100%;float: left; padding: 10px 0px;border-top: 3px solid #D8D8D8;border-bottom: 1px solid #dedede;}
#wrap #inner #content-sidebar-wrap #home_content_1 ul#ct-morelink li { list-style-type: none;width: 33.333333%;float: left;padding: 10px; }
#wrap #inner #content-sidebar-wrap #home_content_1 ul#ct-morelink li a.slide { width: 45%;float: left;border: #D8D8D8 4px solid;}
#wrap #inner #content-sidebar-wrap #home_content_1 ul#ct-morelink li a.slide img { width: 100%;height: 65px; }
#wrap #inner #content-sidebar-wrap #home_content_1 ul#ct-morelink li h3.star { width: 50%;float: left;font-size: 13px;margin-top: 0px;margin-bottom: 0px;margin-left: 6px;color: #067594;font-weight: 600; }

#wrap #inner #content-sidebar-wrap #home_content_2 { width: 100%;float: left; }
#wrap #inner #content-sidebar-wrap #home_content_2 .news-block-tintuc { width: 50%;float: left;margin-bottom: 0px; }
#wrap #inner #content-sidebar-wrap #home_content_2 .news-block-tintuc .block-title { background-color: #fff;padding: 10px 0; }
#wrap #inner #content-sidebar-wrap #home_content_2 .news-block-tintuc .block-wrap .main-posts { width: 100%;float: left; }
#wrap #inner #content-sidebar-wrap #home_content_2 .news-block-tintuc .block-wrap .main-posts .caia-block-item { width: 100%;float: left;height: 146px; }
#wrap #inner #content-sidebar-wrap #home_content_2 .news-block-tintuc .block-wrap .main-posts .caia-block-item a.img_item { width: 35%;float: left;margin-right: 5px; }
#wrap #inner #content-sidebar-wrap #home_content_2 .news-block-tintuc .block-wrap .main-posts .caia-block-item a.img_item img { width: 100%;height: 85px;border: 1px solid #f1f1f1;padding: 2px; }
#wrap #inner #content-sidebar-wrap #home_content_2 .news-block-tintuc .block-wrap .main-posts .caia-block-item .caia-block p { font-size: 12px; }
#wrap #inner #content-sidebar-wrap #home_content_2 .news-block-tintuc .block-wrap .main-posts .caia-block-item .title-block { margin-top: 0px; }
#wrap #inner #content-sidebar-wrap #home_content_2 .news-block-tintuc .block-wrap .main-posts .caia-block-item .title-block a { font-size: 14px;font-weight: bold; }
#wrap #inner #content-sidebar-wrap #home_content_2 .news-block-tintuc .block-wrap ul.older-posts-tintuc { width: 100%;float: left;background-color: #f2fffe;border-radius: 4px;height: 182px; }
#wrap #inner #content-sidebar-wrap #home_content_2 .news-block-tintuc .block-wrap ul.older-posts-tintuc li { list-style-type: none;background-color: #f9f9f9f9;background: url(images/cham.png) left no-repeat;background-position: 3px 11px;padding: 0px 0px 0px 8px;height: 35px; }
#wrap #inner #content-sidebar-wrap #home_content_2 .news-block-tintuc .block-wrap ul.older-posts-tintuc li:nth-child(4),
#wrap #inner #content-sidebar-wrap #home_content_2 .news-block-tintuc .block-wrap ul.older-posts-tintuc li:nth-child(5) { background-color:#e3fdfb; }
#wrap #inner #content-sidebar-wrap #home_content_2 .news-block-tintuc .block-wrap ul.older-posts-tintuc li h3 { font-size: 12px;margin-top: 0px;margin-bottom: 0;padding: 8px 5px 3px 10px; }


#wrap #inner #content-sidebar-wrap #home_content_31 { width: 100%;float:left; }

/** Sidebar **/

#wrap #inner #content-sidebar-wrap #sidebar #caia-post-list-2 { background-color: #F7F7F7;width: 100%;float: left; }
#wrap #inner #content-sidebar-wrap #sidebar #caia-post-list-2 .widget-wrap h4 { background: -webkit-gradient(linear,0 0,0 100%,from(#18c5b6),to(#05736a));margin-top: 0px;margin-bottom: 0px;padding: 12px;text-align: center;font-size: 16px;color: #fff;font-weight: bold; }
#wrap #inner #content-sidebar-wrap #sidebar #caia-post-list-2 .widget-wrap .main-posts .type-post { width: 100%;float:left; border-bottom: 1px dotted #C0BFBF; }
#wrap #inner #content-sidebar-wrap #sidebar #caia-post-list-2 .widget-wrap .main-posts .type-post:first-child { border-bottom: #3px solid #C0BFBF; }
#wrap #inner #content-sidebar-wrap #sidebar #caia-post-list-2 .widget-wrap .main-posts .type-post:first-child a.alignleft { width: 100%;float: left;margin: 0;padding: 10px;}
#wrap #inner #content-sidebar-wrap #sidebar #caia-post-list-2 .widget-wrap .main-posts .type-post:first-child a.alignleft img { width: 100%;float: left; }
#wrap #inner #content-sidebar-wrap #sidebar #caia-post-list-2 .widget-wrap .main-posts .type-post:first-child h3.widget-item-title { width: 100%;float:left;font-size: 14px;font-weight: bold;padding:10px;text-align: justify; }
#wrap #inner #content-sidebar-wrap #sidebar #caia-post-list-2 .widget-wrap .main-posts .type-post a.alignleft { width: 30%;float: left; margin: 0 10px 10px 5px;}
#wrap #inner #content-sidebar-wrap #sidebar #caia-post-list-2 .widget-wrap .main-posts .type-post a.alignleft img { border: 1px solid #ccc;padding: 3px; }
#wrap #inner #content-sidebar-wrap #sidebar #caia-post-list-2 .widget-wrap .main-posts .type-post h3.widget-item-title { width: 64%;float: left;font-size: 12px; margin: 0px; }

#wrap #footer_address { width: 100%;float: left; }
#wrap #footer_address .footer_header_content { width: 1000px;margin: auto; }
#wrap #footer_address .footer_header_content .logo { width: 100%;float: left;border-top: solid 2px #c7c7c7;padding: 10px 0px; }
#wrap #footer_address .footer_header_content .logo img { background-color: #f0a52b;padding: 10px;width: 25%;float: left; }
#wrap #footer_address .footer_header_content .logo .footer-adv { width: 73%;float: left;margin-left:15px; }
#wrap #footer_address .footer_header_content .menu-footer { width:100%;float:left;border-top: solid 1px #dbdbdb;text-align: center;padding-top: 10px; }
#wrap #footer_address .footer_header_content .menu-footer ul li { display: inline-block;list-style-type:none;color: #666;padding:0px 10px;border-right: 1px solid #808080; }
#wrap #footer_address .footer_header_content .menu-footer ul li:last-child {border-right:0px;}
#wrap #footer_address .footer_header_content .menu-footer ul li a { color: #666;font-size: 11px; }
#wrap #footer_address .footer_header_content .footer-address-content { width: 100%;float:left;border-top: solid 8px #007f74;border-bottom: solid 1px #e9e9e9;padding-bottom: 13px; }
#wrap #footer_address .footer_header_content .footer-address-content #text-2 { width:50%;float:left;padding: 20px 0px 0px 20px; }
#wrap #footer_address .footer_header_content .footer-address-content #text-3 { width:45%;float:right;padding: 20px 0px 0px 20px; }

.taxonomy-count { width: 11%;float: left; }
.archive-head { width: 100%; float: left; overflow: hidden; border-top: 1px solid #ddd; position: relative; background: #FDFCFD; }
.archive-head .nums-post { float: right; text-align: center; font-weight: bold; background: url(images/bg-numpost.png) no-repeat top center; text-shadow: 2px 3px #005867; width: 100%; height: 85px; }
.archive-head .nums-post p.num { color: #fff; font-size: 28px; line-height: 30px; height: 44px;padding-top: 5px;margin-bottom: 0px;text-align: center; }
.archive-head .nums-post p.truong { color: #fffc00; font-size: 12px; text-align: center; }
.archive-description { width: 100%;float: left;margin-top: 0px; }


/*** breadcrumb ****/
#inner .breadcrumb { margin-bottom: 0px;margin-top: 0px;border: 0px;color: #007f74;font-size: 13px;font-weight: bold; }
.dmca-badge { width: 100%; float: left;text-align: center; }

/** Secondary Sidebar **/

#wrap #inner #sidebar-alt #ads_widget-7 { border: 0px solid #ddd; }
/* tùng ngày 6-2-2018 */

.navbar-toggle{
	padding: 0;
}


/* tùng ngày 8-2 */
.navbar-brand{
	padding: 5px 10px;
}
 .navbar-fixed-top{
	display: none;
}
.navbar-header{
	background: #031faa;
	max-height: 56px;
} 

ul.icon-nav li{float:left;list-style:none;padding:0px 15px 0px 15px;border-left:1px solid #4E5BB8;height:33px;}
ul.icon-nav li:last-child{padding-right:0px;}
a.ttgd{height:29px;display:block;}
img.icon-news{width:25px;}
img.icon-toggle{width:40px;}
.logo{width:135px;}
.clear{clear:both;}
.view{background:#FFFFFF;}
.view .navbar-collapse{padding:0px;}
body{position: relative;}
.fixed{position:fixed;top:10px;width:245px;}
.fixedp{position:absolute;bottom:560px;width:245px;}
.fixedpc {position: absolute;bottom: 245px;width: 245px;}
.fixed2{position:fixed;top:10px;width:295px;}
.fixed2p{position: absolute;bottom: 575px;width: 295px;}
.fixed2pc{position: absolute;bottom: 365px;width:295px;}
.fixedtb{    position: absolute;bottom: 583px;width: 295px;}
#ajaxsearchlite1 input[placeholder]{color:#7d6969 !important;font-size:13px !important;font-weight:bold !important;text-transform:uppercase;}
.menu_cat_main li{float:left;width:93px;background-color:#efeff4;margin-left:10px;margin-top:10px;border-radius:3px;box-shadow:0 1px 1px #dedee3;list-style:none;}
.menu_cat_main li a{display:block;padding:10px 0;}
.menu_cat_main li span{display:block;text-align:center;font:normal 12px/1.300 arial;color:#505050;}
.menu_cat_main li span i{color:#2D5BE3;}
.menu_cat_main li span.txt{margin-top:10px;text-transform:uppercase;}
.view .navbar-collapse{padding:0px;}
.menu_cat_main{padding:0px 22px 10px 22px;}
.menu_cat_main{overflow:hidden;}
.menu_cat_sub{overflow:hidden;padding-bottom:20px;}
.menu_cat_sub h4{border-top:dotted 1px #dcdcdc;padding:10px 0;margin:0 10px;font:normal 13px/1.300 arial;color:#888;}
.menu_cat_sub ul{overflow:hidden;text-align:center;}
.menu_cat_sub li{display:inline-block;margin-left:10px;margin-top:10px;background-color:#f5f7f7;border-radius:3px;border:solid 1px #dfe3e6;width:143px;}
.menu_cat_sub li a{display:block;font:bold 12px/1.300 arial;text-align:center;color:#666;padding:10px 0;text-transform:uppercase;}
.menu_cat_sub li:last-child{background: -webkit-gradient(linear,0 0,0 100%,from(#00afef),to(#2a55a3)); width: 200px; }
.menu_cat_sub li:last-child>a{ color: #FFF; }
.ovh li{width:120px;}
.modal-backdrop{position:static !important;}
.menu_policy{height:54px;margin-top: 3px; margin-left: 18px;}
.menu_policy li{
	float:left;
	width:140px;
	background: -webkit-gradient(linear,0 0,0 100%,from(#ffd000),to(#ff5a00));
	margin-left:10px;margin-top:10px;
	border-radius:3px;
	box-shadow: 0 2px 4px #666;
	list-style:none;
	margin-left:15px ;
	}
.menu_policy li a{
	display:block;
	padding:10px 0;
	}
.menu_policy li span{
	display:block;
	text-align:center;
	font:normal 13px/1.300 arial;
	color:#FFF;
	text-transform: capitalize;
	}
 .menu_policy li:first-child{
 	background: -webkit-gradient(linear,0 0,0 100%,from(#4f8bfd),to(#0229ea));
}

/***********************************************************************************/
/** SANG MINI ngày 10/02/2018 **/
/***********************************************************************************/
/**
 * HOME
 */
#wrap #blocktop { width: 100%; float: left; border-bottom: 1px solid #e0dfdf; /* background: #fcfcfc; */ }
#wrap #blocktop .blocktop-centent { margin: auto; width: 100%; float: left; padding: 5px 0px; }
#wrap #blocktop .blocktop-centent .date { width: 50%; float: left;font-family: arial; padding-top: 4px;}
.fa-clock-o:before{color: #379974;margin-right: 10px; margin-left: 2px;}
#wrap #blocktop .blocktop-centent .mntop { width: 50%; float: right; }
#wrap #blocktop .blocktop-centent .mntop ul li { display: inline-block ;list-style-type:none; border: 1px solid #cdcdcd; border-radius: 5px;background: -webkit-gradient(linear,0 0,0 100%,from(#fdfdfd),to(#e9e9eb)); padding: 4px 5px; }
#header .header-widget-area #ads_widget-2 { border: 1px solid #ddd;float:right;overflow:hidden; }
#wrap #header .wrap #title-area { width: 30%; float: left; padding: 10px 0px; }
#wrap #header .wrap #title-area #title a { display: block; background: url(images/logo.png) no-repeat 1px; background-position: 1px 13px; text-indent: -99999px; background-size: 100%; height: 90px; }
#blocktop .menu-blocktop-container ul li a {
    color: #4f4c4c;
    font-family: 'arial';
    text-transform: uppercase;
    font-size: 11px;
    font-weight: bold;
    padding-left: 0px;
}
#blocktop .menu-blocktop-container ul li a span { padding-left: 11px; }
#blocktop .menu-blocktop-container ul li:nth-child(1) a:before {
    content: "\f2b5";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-right: 5px;
    color: #068153;
    font-size: 19px;
    width: 16px;
    top: 4px;
    left: 10px;
}
#blocktop .menu-blocktop-container ul li:nth-child(2) a:before {
    content: "\f23e";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-right: 5px;
    color: #068153;
    font-size: 19px;
    width: 15px;
    top: 4px;
    left: 10px;
}
#blocktop .menu-blocktop-container ul li:nth-child(3) a:before {
    content: "\f0a1";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-right: 5px;
    color: #068153;
    font-size: 19px;
    width: 15px;
    top: 4px;
    left: 10px;
}

/**
 * Nav-menu
 */
#wrap #nav { width: 100%;float: left; }
#wrap #nav .wrap { width: 100%;margin: auto; }
#wrap #nav .wrap ul#menu-mainmenutop { width: 100%;float: left; background-image: url(images/bg-menu.png);background-repeat: /* repeat-x; */ border: 0px;}
#wrap #nav .wrap ul#menu-mainmenutop li:first-child a { border-left: 0px; }
#wrap #nav .wrap ul#menu-mainmenutop li:last-child a { border-right: 0px; }
#wrap #nav .wrap ul#menu-mainmenutop li a { font-size: 13px;color: #fff;padding: 10px 14px 10px 10px;}
#wrap #nav .wrap ul#menu-mainmenutop li a:hover { text-decoration: none; }
#wrap #nav .wrap ul#menu-mainmenutop li#menu-item-39079 img { padding-right: 0px;width: 20px; }
#wrap #nav .wrap ul#menu-mainmenutop li#menu-item-39079 span.menu-image-title { display:none; }
ul#menu-mainmenutop>li.menu-item-has-children>a:after { position: absolute; right: 4px; top: 50%; margin-top: -6px; content: "\f107"; display: inline-block; font-family: 'FontAwesome'; font-style: normal; font-weight: 400; line-height: 1; color: inherit; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

/**
 * Content
 */
#content-sidebar-wrap { width: 935px;float:left;overflow: hidden;padding: 10px 0px;background-color: #fff;}
#wrap #content-sidebar-wrap #content .therain { width: 100%; float:left; }
#wrap #content-sidebar-wrap #content .therain .lof_slidecontent { width: 100%;float:left; }
#wrap #content-sidebar-wrap #content .therain .lof_slidecontent .lof-main-outer { width: 60%;float: left; background: url(images/1pxtophomev3.png) right; background-repeat: repeat-y; padding-right: 10px;}
#wrap #content-sidebar-wrap #content .therain .lof_slidecontent .lof-main-outer .lof-main-item-desc .ginuaday { font-size: 24px; font-weight: bold; padding: 10px 0px 0px 0px; }
#wrap #content-sidebar-wrap #content .therain .lof_slidecontent .lof-main-outer .slide img { border: 1px solid #f1f1f1;padding: 2px; }
#wrap #content-sidebar-wrap #content .therain .lof_slidecontent .lof_navigator_outer { width: 40%;float: left; }
#wrap #content-sidebar-wrap #content .therain .lof_slidecontent .lof_navigator_outer .icon-event { background-image: url(images/sprite.png); background-repeat: no-repeat; padding: 6px 33px;font-size: 14px;font-weight: bold; }
#wrap #content-sidebar-wrap #content .therain .lof_slidecontent .lof_navigator_outer .icon-event a { color: #fff; }
#wrap #content-sidebar-wrap #content .therain .lof_slidecontent .lof_navigator_outer ul.lof_navigator li { list-style-type: none;padding: 2px; background: url(images/sprite-2.gif); background-repeat: no-repeat; background-position: 2px 6px; padding-left: 18px;font-size: 12px; padding-bottom: 5px; padding-top: 2px;}

#wrap #content-sidebar-wrap #content .news-block { width: 50%; float: left; clear: none; margin-bottom: 2px; }
#wrap #inner #content-sidebar-wrap .news-block .block-title { background-color: #fff;padding: 10px 0; }
#wrap #inner #content-sidebar-wrap .news-block .block-wrap .main-posts { width: 100%; float: left; }
#wrap #inner #content-sidebar-wrap .news-block .block-title span.icon-block-title { background: url(images/border-sp-2.png) no-repeat right center; float: left; text-indent: 12px; height: 37px; color: #ffffff; font-size: 13px; font-weight: bold; line-height: 26px; padding: 0px 5px 0px 0px; }
#wrap #inner #content-sidebar-wrap .news-block .block-title span { background: url(images/border-sp-1.png) no-repeat right center; float: left; text-indent: 12px; height: 32px; color: #ffffff; font-size: 13px; font-weight: bold; line-height: 26px; padding: 0px 20px 10px 0px; }
#wrap #inner #content-sidebar-wrap .news-block .block-wrap .main-posts h3 { width: 100%; float: left;font-size: 14px; font-weight: bold; height: 30px; }
#wrap #inner #content-sidebar-wrap .news-block .block-wrap .main-posts a { width: 40%; float: left; height: 90px;}
#wrap #inner #content-sidebar-wrap .news-block .block-wrap .main-posts h3 a { width: 100%; float: left; }
#wrap #inner #content-sidebar-wrap .news-block .block-wrap .main-posts p { width: 60%; float: left; padding-left: 10px;height: 86px;text-transform: lowercase;}
#wrap #inner #content-sidebar-wrap .news-block .block-wrap .main-posts p a { width: 100%; float: left; display: none;}
#wrap #inner #content-sidebar-wrap .news-block .block-wrap .main-posts img { width: 120px; border: 1px solid #f1f1f1;}
#wrap #inner #content-sidebar-wrap .news-block .block-wrap .main-posts h3{padding: 2px; }
#wrap #inner #content-sidebar-wrap .news-block .block-wrap .older-posts { width: 100%;float: left;background-color: #f8f8ff; }
#wrap #inner #content-sidebar-wrap .news-block .block-wrap .older-posts ul li { list-style-type: none;background-image: url(images/cham.png); background-repeat: no-repeat;background-position: 1px 6px;padding-left: 15px;font-size: 12px;padding-bottom: 5px; }
#wrap #inner #content-sidebar-wrap .news-block .block-wrap .older-posts ul li:nth-child(4),
#wrap #inner #content-sidebar-wrap .news-block .block-wrap .older-posts ul li:nth-child(5) { background-color: #c1e1f9; }
#wrap #inner #content-sidebar-wrap #desktop-centent,
#wrap #inner #content-sidebar-wrap #desktop-centent #news-block-tintuc { width: 100%;float:left;overflow:hidden; }
#wrap #inner #content-sidebar-wrap #desktop-centent #news-block-tintuc .block-wrap .main-posts .caia-block-item { width:100%;float:left; }
#wrap #inner #content-sidebar-wrap #desktop-centent #news-block-tintuc .block-wrap .main-posts .caia-block-item a.caia-block-img { width:25%;float:left; }
#wrap #inner #content-sidebar-wrap #desktop-centent #news-block-tintuc .block-wrap .main-posts .caia-block-item a.caia-block-img img { width: 100%;border: 1px solid #f1f1f1;padding: 2px; height: 125px;}
#wrap #inner #content-sidebar-wrap #desktop-centent #news-block-tintuc .block-wrap .main-posts .caia-block-item .older-posts-tintuc { width:75%;float:left;padding-left: 10px; }
#wrap #inner #content-sidebar-wrap #desktop-centent #news-block-tintuc .block-wrap .main-posts .caia-block-item .older-posts-tintuc h3 { margin-top: 0px;font-size:16px;font-weight:bold;}
#wrap #inner #content-sidebar-wrap #desktop-centent #news-block-tintuc .block-wrap .main-posts .caia-block-item .older-posts-tintuc ul li { list-style-type: none;font-size: 12px;background: url(images/cham.png) left no-repeat;padding: 3px 0px 3px 15px; }
#wrap #inner #content-sidebar-wrap #desktop-centent #news-block-tintuc .block-wrap .main-posts .caia-block-item .older-posts-tintuc ul li a:hover { text-decoration:none; }
#wrap #inner #content-sidebar-wrap .block-title span { background: url(images/border-sp-1.png) no-repeat right center;float: left;text-indent: 12px;height: 32px;color: #ffffff;font-size: 13px;font-weight: bold;line-height: 26px;padding: 0px 20px 10px 0px; }
#wrap #inner #content-sidebar-wrap .block-title span.icon-block-title { background: url(images/border-sp-2.png) no-repeat right center;float: left;text-indent: 12px;height: 37px;color: #ffffff;font-size: 13px;font-weight: bold;line-height: 26px;padding: 0px 5px 0px 0px; }
#wrap #inner #content-sidebar-wrap .xemtatca {font-size: 12px;background-color: #dedede;margin-left: 2px;border-radius: 5px;float: left;text-indent: 12px;height: 25px;color: #000;font-weight: bold;line-height: 26px;padding: 0px 20px 10px 0px;}

#wrap #inner #content-sidebar-wrap #content #home-block-news { width: 100%; float: left; margin-top: 20px; }
#wrap #inner #content-sidebar-wrap #content #home-block-news .news1 { width: 100%; float: left; margin-bottom: 20px; }
#wrap #inner #content-sidebar-wrap #content #home-block-news .tab-content { width: 100%; float: left; border-left: 1px solid #ddd; border-right: 1px solid #dddd; border-bottom: 1px solid #ddd; }
#wrap #inner #content-sidebar-wrap #content #home-block-news ul.nav-tabs { border: none; background: url(images/bg-tabs.png) repeat-x left center; min-height: 36px; }
.news li:first-child {
    background: #047ACE;
}
.news ul li {
    font-size: 14px;
    margin-top: 2px;
}
.news .nav-tabs>li:first-child.active>a, .news .nav-tabs>li:first-child.active>a:focus, .news .nav-tabs>li:first-child.active>a:hover {
    color: #fff;
}
.news .nav-tabs>li.active>a, .news .nav-tabs>li.active>a:focus, .news .nav-tabs>li.active>a:hover {
    background: none;
    border: none;
    color: #047ACE;
}
.news .nav-tabs>li>a {
    border: none;
    font-weight: bold;
}
.news li:first-child>a {
    color: #fff;
    margin-right: 5px;
    text-transform: uppercase;
    display: relative;
    padding-left: 30px;
}
.news .nav>li>a {
    padding: 6px 11px 6px;
    color: #3a3a3a;
}
.news li:first-child>a:after {
    content: "";
    background: url(images/tabline.png) no-repeat;
    position: absolute;
    top: 0px;
    right: -20px;
    width: 25px;
    height: 33px;
    display: block;
}
.news li:nth-child(2) a {
    margin-left: 15px;
}
#wrap #inner #content-sidebar-wrap #content #home-block-news .itemblock { width: 33.33333%; float: left; padding: 10px; }
#wrap #inner #content-sidebar-wrap #content #home-block-news .itemblock .item .item-img { width: 24%; float: left; }
#wrap #inner #content-sidebar-wrap #content #home-block-news .itemblock .item .aname { width: 74%; float: left; margin-left: 3px; color: #0a4479;}

.group-area-home .namekn { background: url(images/bg-tabs.png) repeat-x left center; margin-bottom: 10px; }
.group-area-home .namekn h4 { text-transform: uppercase; font-size: 14px; font-weight: bold; padding: 11px 30px 9px; background: url(images/gd-icon-home.png) no-repeat 3px 6px; }
.quang-cao { width: 302px; float: left; height: 250px; border: 1px solid #ccc; margin-right: 5px; }
.group-area-home .kn1 { overflow: hidden; width: 320px; float: left; margin-left: 4px; }
.group-area-home .kn .gitem { height: 74px; margin-bottom: 14px; width: 48%; float: left; margin-right: 5px; }
.kinhte { background: #4ABC96; }
.gitem a:hover { text-decoration: none; }
.gitem a.aarea { overflow: hidden; display: block; padding: 18px 13px; position: relative; }
.group-area-home .gitem a.aarea:hover i { position: absolute; top: 20px; left: 124px; }
.gitem a.aarea:hover .textarea { float: left; -webkit-transition: all 0.1s; transition: all 0.1s; }
.gitem .textarea { text-align: center; display: block; float: right; }
.gitem i { display: inline-block; font-size: 30px; position: absolute; left: 10px; top: 20px; -webkit-transition: all 0.2s; transition: all 0.2s; }
.vanhoa i.vanhoa { background: url(images/icon-vanhoa.png) no-repeat top center; display: block; height: 40px; width: 30px; background-size: 100%; }
.congan i.congan { background: url(images/icon-ca.png) no-repeat top center; display: block; height: 40px; width: 40px; background-size: 90%; }
.yduoc i.yduoc { background: url(images/icon-yduoc.png) no-repeat top center; display: block; height: 40px; width: 40px; background-size: 90%; }
.gitem p.ng1 { font-size: 14px; margin:0px; }
.gitem p.ng2 { font-size: 24px; }
.kinhte p { text-shadow: 2px 2px #36896D; }
.gitem p { font-family: 'mipro'; color: #fff; text-transform: capitalize; }
.kinhte p { text-shadow: 2px 2px #36896D; }
.gitem p { font-family: 'mipro'; color: #fff; text-transform: capitalize; }
.kythuat { background: #FFCC00; }
.vanhoa { background: #06AAE7; }
.supham { background: #A362B2; }
.yduoc { background: #99CC00; }
.congan { background: #FF7875; }
.kinhte i { color: #BDFFE9; }
.kythuat i { color: #FDFFBE; }
.supham i { color: #F7D5FF; }

/** Category **/
#wrap #inner #content-sidebar-wrap #content .listpost { width: 100%;float:left;}
#wrap #inner #content-sidebar-wrap #content .listpost .itemblock { width: 11%;margin-top: 10px;margin-right: 10px; margin-left:10px; float: left;height: 135px;text-align: left;overflow: hidden; }
#wrap #inner #content-sidebar-wrap #content .listpost .itemblock:nth-child(7n) { /* margin-right: 0px; *//* float: right; */ }
#wrap #inner #content-sidebar-wrap #content .listpost .itemblock a.item { display: block;color: #414141;font-size: 12px;min-height: 90px;font-size: 12px; }
#wrap #inner #content-sidebar-wrap #content .listpost .itemblock a.item img { width: 100%;height: 78px;border: 1px solid #ccc;padding: 1px;margin-top: 3px;margin-right: 6px;float: left;object-fit: cover; }

#wrap #inner #content-sidebar-wrap #content ul.list-item { width: 100%;float:left;overflow:hidden; }
#wrap #inner #content-sidebar-wrap #content ul.list-item  li { width: 100%; float:left;list-style-type:none;border: 1px solid #DEDEDE;margin: 10px 0px 10px 0px;}
#wrap #inner #content-sidebar-wrap #content ul.list-item  li .photo { width: 25%; float:left;padding: 6px; }
#wrap #inner #content-sidebar-wrap #content ul.list-item  li .photo img { width: 100%; }
#wrap #inner #content-sidebar-wrap #content ul.list-item  li .info { width: 75%; float:left;padding: 0px 10px; }
#wrap #inner #content-sidebar-wrap #content ul.list-item  li .info h4 { font-size:13px;font-weight:bold; }

#wrap #inner #content-sidebar-wrap #content h1.archive-heading { color: #3a3a3a; font-size: 20px; text-align: left; text-transform: uppercase; font-weight: bold; border-left: 4px solid #FEC103; padding: 5px;padding-left:10px; border-bottom: 1px solid #ddd; background: linear-gradient(#FDFDFD, #F8F9FA); margin-top: 0px; }
#wrap #inner #content-sidebar-wrap #content h1.archive-heading a { color: #007f74 }

.searchformts { width: 100%;float: left;background: url(images/bg-search.jpg) no-repeat; background-size: 100%; border-top: 1px solid #CCCCCC; border-bottom: 1px solid #CCCCCC; padding-bottom: 15px; }
.search-wrap { width: 95%; margin: 0 auto; }
.intro-search { position: relative; overflow: hidden; background: url(images/bg-head-search.png) repeat-x left center; border-bottom-right-radius: 13px; border-bottom-left-radius: 13px; border: 1px solid #ddd; height: 29px; }
.searchformts .uwpqsf_class { width: 22%; margin-bottom: 10px; clear: none; float: left; margin-right: 15px; }
.search-wrap #uwpqsf_id { border: 0px; }
.uwpqsf_submit input#uwpqsf_id_btn { background: #3B71C5 url(images/isearch.png)no-repeat 75px 7px; background: -webkit-linear-gradient(#3A94D9, #2254B8); background: -o-linear-gradient(#3A94D9, #2254B8); background: -moz-linear-gradient(#3A94D9, #2254B8); background: linear-gradient(#3A94D9, #2254B8); width: 112px; height: 34px; text-align: left; border-radius: 6px; margin-top: 9px; box-shadow: 0px 4px 5px #C7C7C7; transition: all 0.2s; }
.searchformts .uwpqsf_class select { -webkit-appearance: menulist-button; width: 137px; cursor: pointer; height: 33px; font-size: 11px; opacity: 0.8; background: #fff; }
.thongbao { width: 100%;float: left; }
.thongbao .nametype { width: 100%;float: left;/* margin: 15px 0px 0px 0px; */ background: url(images/icon-gd.png) no-repeat;}
.thongbao .nametype h4{ padding: 7px 0 0 45px;font-size: 16px;color: #fff;font-weight: bold;}
/** Luyện thi đại học trang home **/
#wrap .slider-home { position: relative; width: 100%; margin: auto; overflow: hidden; padding: 10px 0px; background-color: #fff; }
#wrap .slider-home .block-title { overflow: hidden; height: 35px; line-height: 31px; width: 100%; margin: 0px;background-color: #fff;padding: 0px; }
#wrap .slider-home .block-title span.icon-block-title { background: url(images/border-sp-2.png) no-repeat right center; float: left; text-indent: 12px; height: 37px; color: #ffffff; font-size: 13px; font-weight: bold; line-height: 26px; padding: 0px 5px 0px 0px; }
#wrap .slider-home .block-title span { background: url(images/border-sp-1.png) no-repeat right center; float: left; text-indent: 12px; height: 32px; color: #ffffff; font-size: 13px; font-weight: bold; line-height: 26px; padding: 0px 20px 10px 0px; }
#wrap .slider-home .menu-luyenthi {width: 100%; float: left;margin-top: 0px; }
#wrap .slider-home .menu-luyenthi .cac-mon-hoc { width: 100%; overflow: hidden;margin-top: 0px; }
#wrap .slider-home .menu-luyenthi .cac-mon-hoc .menu-luyenthi-menu-container ul li { width: 12%; margin-right: 5.7px;display: inline-block; float: left; padding: 20px 0px 20px 0; text-align: center; background-color: #422f47; position: relative; }
#wrap .slider-home .menu-luyenthi .cac-mon-hoc .menu-luyenthi-menu-container ul li:last-child { float: right;margin-right: 0px; }

.menu-luyenthi .cac-mon-hoc .menu-luyenthi-menu-container ul li { vertical-align: middle; -webkit-transform: perspective(1px) translateZ(0); -webkit-transition-property: color; transition-property: color; -webkit-transition-duration: 0.5s; transition-duration: 0.5s; }
.menu-luyenthi .cac-mon-hoc .menu-luyenthi-menu-container ul li:before { content: ""; position: absolute; z-index: -1; top: 0; left: 0; right: 0; bottom: 0; background: #2098D1; -webkit-transform: scaleY(0); transform: scaleY(0); -webkit-transform-origin: 50% 0; transform-origin: 50% 0; -webkit-transition-property: transform; transition-property: transform; -webkit-transition-duration: 0.5s; transition-duration: 0.5s; -webkit-transition-timing-function: ease-out; transition-timing-function: ease-out; }
.menu-luyenthi .cac-mon-hoc .menu-luyenthi-menu-container ul li:nth-child(2)::before { background-color: #E7428E !important; }
.menu-luyenthi .cac-mon-hoc .menu-luyenthi-menu-container ul li:nth-child(3)::before { background-color: #FF7903 !important; }
.menu-luyenthi .cac-mon-hoc .menu-luyenthi-menu-container ul li:nth-child(4)::before { background-color: #8958E9 !important; }
.menu-luyenthi .cac-mon-hoc .menu-luyenthi-menu-container ul li:nth-child(5)::before { background-color: #4C9E3B !important; }
.menu-luyenthi .cac-mon-hoc .menu-luyenthi-menu-container ul li:nth-child(6)::before { background-color: #FFB10F !important; }
.menu-luyenthi .cac-mon-hoc .menu-luyenthi-menu-container ul li:nth-child(7)::before { background-color: #F24733 !important; }
.menu-luyenthi .cac-mon-hoc .menu-luyenthi-menu-container ul li:nth-child(8)::before { background-color: #17B99F !important; }
.menu-luyenthi .cac-mon-hoc .menu-luyenthi-menu-container ul li:hover:before { -webkit-transform: scaleY(1); transform: scaleY(1); -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66); transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66); }

.slider-home .menu-luyenthi .cac-mon-hoc .menu-luyenthi-menu-container ul li span.menu-image-hover-wrapper { width: 100%; float: left; padding-bottom: 5px; }
.menu-luyenthi .cac-mon-hoc .menu-luyenthi-menu-container ul li span.menu-image-title { color: #fff; font-size: 13px; font-weight: bold; }
.block-title-mobile{display: none;}
#wrap #inner .slider-home .menu-luyenthi .cac-mon-hoc .menu-luyenthi-menu-container ul li:last-child { float: right; margin-right: 0px; }
.giao-vien { width: 100%; overflow: hidden; float: left; margin-top: 20px; }
.giao-vien-ul { width: 100%; overflow: hidden; margin-top: 15px; }
.slider-home .giao-vien ul li { width: 19%; }
.giao-vien ul li { width: 31%; float: left; margin-right: 12.5px; list-style-type: none; }
.giao-vien ul li .col { margin-bottom: 20px; border: 1px solid #e1e1e1; float: left; width: 100%; }
.giao-vien ul li .col .images { min-height: 138px; position: relative; }
.image { opacity: 1; display: block; width: 100%; height: auto; transition: .5s ease; backface-visibility: hidden; }
.giao-vien ul li .col .images:hover .image { opacity: 0.3; }
.middle { transition: .5s ease; opacity: 0; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); }
.list-group { padding-left: 0; margin-bottom: 20px; }
ul.list-group.hover_img center a { color: #fff; }
.giao-vien ul li .col .title { height: 50px; }
.giao-vien ul li .col .title,
.giao-vien ul li .col .star { padding: 5px 10px 0 10px; }
.giao-vien ul li .col .price { padding: 10px; float: left; width: 100%; border-top: 1px solid #e1e1e1; }
.giao-vien ul li .col .price .sell-price { font-weight: bold; margin: 0 5px 0 0; float: left; }
.price .btn-dk { float: right; background: -webkit-gradient(linear,0 0,0 100%,from(#ffd000),to(#ff5a00)); background-repeat: repeat-x; padding: 3px 15px; color: #fff; border-radius: 5px; box-shadow: 0 2px 4px #666; font-size: 12px; }
.slider-home .giao-vien ul li:last-child { float: right; margin-right: 0px; }
.giao-vien ul li .col .star .number { float: left; width: 62%; min-height: 40px; }
.giao-vien ul li .col .star .text { float: left; margin: 3px 0 0 0px; width: 38%; }
ul.item-list { margin: 0; padding: 0; list-style: none; }
.star .person ul.item-list li { float: left; display: inline-block; width: 3%; margin-right: 14px; }
.item-list .fa-star { color: #ffc804; } .person i { margin: 0 3px 0 0; }

/** Single **/

td, th { border: 1px solid #666; padding: 6px 10px; }
table { width: 100%; }
.entry-content h2 { font-size: 20px;font-weight: bold;/* padding: 10px 10px; */ }
h1.entry-title { font-size: 26px;font-weight: bold;color: #333;margin: 0px 0 10px 0; font-family: arial;}
.quang-cao-1, .quang-cao-1-category { width: 49%;float: left;overflow: hidden;border: 1px solid #ddd; }
.quang-cao-2, .quang-cao-2-category { width: 49%;float: right;overflow: hidden;border: 1px solid #ddd; }
#ct-morelink{background:none;border:none;padding:10px 0px 10px 0;}
#ct-morelink p{color:#999;font-style:italic;font-size: 14px;margin-bottom: 5px;}
#ct-morelink i{color:#13912B;padding-right:5px;font-weight:bold;}

#main-info { width: 100%;float: left;border: 1px solid #bbb8b8; }
.top-info { width: 100%;float: left; }
.hinh-anh-truong { width: 39%;float: left;padding: 5px 0 5px 5px;}
.hinh-anh-truong img{width: 100%;}
.desc-info { width: 61%;float: left; padding: 5px 10px 15px 15px; }
.butom-gioi-thieu { background-color: #ffd100;
    background-image: -moz-linear-gradient(center top,#4eb50e,#077d01);
    background: -webkit-gradient(linear,0 0,0 100%,from(#ffd000),to(#e69603));
    background-repeat: repeat-x;
    padding: 10px 15px 10px 10px;
    color: #fff;
    box-shadow: 0 2px 4px #666;
    text-shadow: 0 0 2px #666;
    font-size: 11px;
    display: inline-block;
    border-radius: 5px;
}
.butom-gioi-thieu:after{
	content: "\f105";
    display: inline-block;
    font-family: FontAwesome;
   font-size: 11px;
    margin-left: 10px;
}
.tai-lieu-on-mien-phi { background-color: #2d9b08;
    background-image: -moz-linear-gradient(center top,#4eb50e,#077d01);
    background: -webkit-gradient(linear,0 0,0 100%,from(#4eb50e),to(#077d01));
    background-repeat: repeat-x;
    padding: 10px 15px 10px 10px;
    color: #fff;
    box-shadow: 0 2px 4px #666;
    text-shadow: 0 0 2px #666;
    font-size: 11px;
    display: inline-block;
    border-radius: 5px;
    margin-left: 12px;
}
.tai-lieu-on-mien-phi:after{
	content: "\f105";
    display: inline-block;
    font-family: FontAwesome;
    font-size: 11px;
    margin-left: 10px;
}

#tin-tuc .main-news { margin: 0 0 20px; border: 1px solid #f1f1f1; /* -webkit-box-shadow: 0 0 3px #CACACA; */ margin-left: 2px; padding: 10px; }
.breadrum { width: 100%; float: left; margin: 0px 0px 0px 0px; }
.breadrum ul#crumbs { padding-top:7px ;height: 35px;background: #FAF9FB; border-top: 1px dashed #ddd; border-bottom: 1px dashed #ddd; overflow: hidden; margin-bottom: 5px; }
.breadrum ul#crumbs li { display: inline-block; }
.breadrum #crumbs a { color: #211e1e;font-size: 14px;font-family: "arial";}
#crumbs i { color: #13912B; font-weight: bold; padding-right: 4px; padding-left: 5px; font-size: 18px;}
.likebox { padding: 20px 0px 0px 0px; width: 100%;}
.liketext { font-size: 20px;font-weight: bold;padding-bottom: 6px; width: 50%; float: left;}
.likebutton{padding-top: 8px;}

#boxNewest.slwrap { position: relative; float: left; width: 100%; background: url(images/cont-news-bg.png); background-repeat: repeat-x; }
.sltitle { font-family: Arial,Helvetica,sans-serif; margin-bottom: 15px; color: #004175; background-position: -1176px -363px; text-transform: uppercase; display: block; font-size: 15px; padding: 3px 0 0px 0; }
#boxNewest .sltitle:before { content: url(images/icon-lq.png); padding: 8px; }
#boxNewest ul li { list-style-type: square; background: url(images/cham.png) no-repeat left 7px; padding: 0px 0px 3px 14px; list-style: none; margin-left: 6px; font-size: 14px; }
#boxNewest ul li a{ color: #004175; }
#boxNewest ul li a:hover{ color: #4f82ac !important; }
#boxNewest ul li:nth-child(1)>a:after , #boxNewest ul li:nth-child(2)>a:after , #boxNewest ul li:nth-child(3)>a:after{
	background: url(images/newnew.gif) no-repeat;
}
#ads_widget-16,
#ads_widget-3 { width:100%;border: 1px solid #ddd;float:left;overflow:hidden; }

/** footer **/
#footer .thanh span { font-weight: bold; line-height: 2.5;color: #333;font-size: 16px; }
#footer p { font-size: inherit; line-height: 1.8; color: #333; margin: 0px; }
#footer .thanh p.ttt { font-style: italic; padding-top: 5px; }

#ct-mobile { display: none; }
#mobile-centent { display: none; }
/* ngày 21-2 */
.DMCA{
	position: absolute;
	right: 140px;
    bottom: 35px;
}
/* SUB-MENU */
.menu-primary li li{
	opacity: 0.9;
}
.menu-primary li li a, .menu-primary li li a:link{
	width: 202px;
	font-size: 12px;
}
/* content */
#wrap #content-sidebar-wrap #content .therain .lof_slidecontent .lof-main-outer .lof-main-item-desc .ginuaday a{
	color: #052156;
}
#wrap #content-sidebar-wrap #content .therain .lof_slidecontent .lof-main-outer .lof-main-item-desc .ginuaday a:hover{
	color: #004999;
}
#wrap #content-sidebar-wrap #content .therain .lof_slidecontent .lof_navigator_outer ul.lof_navigator li a{
	color: #004175;
}
#wrap #content-sidebar-wrap #content .therain .lof_slidecontent .lof_navigator_outer ul.lof_navigator li a:hover{
	color: #0d72c7;
}
#content{
	width: 631px;
	margin-right: 2px;
}
#wrap #content-sidebar-wrap #content .therain .lof_slidecontent{
    border-bottom: 1px solid #f1f1f1;
}
#wrap #inner #content-sidebar-wrap .news-block .block-wrap .main-posts p a{
	display: none;
}
#wrap #inner #content-sidebar-wrap .news-block .block-wrap .older-posts ul li:nth-child(4), #wrap #inner #content-sidebar-wrap .news-block .block-wrap .older-posts ul li:nth-child(5){
	background-color: #e1ecf1f5;
}
#wrap #inner #content-sidebar-wrap .news-block .block-wrap .main-posts h3 a{
	color: #004175;
}
#wrap #inner #content-sidebar-wrap .news-block .block-wrap .main-posts h3 a:hover{
	color: #0d72c7;
}
#wrap #inner #content-sidebar-wrap .news-block .block-wrap .older-posts ul li:nth-child(4) a, #wrap #inner #content-sidebar-wrap .news-block .block-wrap .older-posts ul li:nth-child(5) a{
	color: #0B4A7F;
}
#wrap #inner #content-sidebar-wrap #content #home-block-news .itemblock .item .aname:hover {
	text-decoration: underline !important;
}
.block{
	margin: 0;
}
#wrap #inner #content-sidebar-wrap #desktop-centent #news-block-tintuc .block-wrap .main-posts .caia-block-item .older-posts-tintuc h3 a{
	color: #004175;
}
#wrap #inner #content-sidebar-wrap #desktop-centent #news-block-tintuc .block-wrap .main-posts .caia-block-item .older-posts-tintuc h3 a:hover{
	color: #0d72c7;
}
.entry-content{
	padding: 5px;
}
/* end-content */
/* sidebar */
.sidebar.widget-area ul li{
	padding: 0;
}
.sidebar.widget-area ul li a.alignleft {
	width: 25%;
	height: 65px;
	overflow: hidden;
}
/* .sidebar.widget-area ul li h3 {
	font-weight: bold;
} */
.widget-item-title a{
	color: #0B4A7F;
}
.widget-item-title a:hover{
	color: #0d72c7;
}
/* chuyên mục con *//*  */
.widget-tintuc:nth-child(1){
	width: 100%;
	clear: both;
}
.widget-tintuc:nth-child(1) .category-mobile{
	width: 60%;
	float: right;
}
.widget-tintuc:nth-child(1) .title-news {
	font-weight: bold;
	color: #0B4A7F;
	font-size: 20px;
}
.widget-tintuc:nth-child(1) .title-news:hover{
	color: #0D72C7;
}
.widget-tintuc:nth-child(1) .aimg{
	width: 38%;
	float: left;
}
.time{
	display: none;
}
.widget-tintuc:nth-child(1) .desctt{
	width: 60%;
	float: left;
	margin-left: 10px;
}
#random-post{
    background-color: #f8f8ff;
    padding: 5px;
    border-radius: 12px;
}
#random-post ul{
	list-style-type: none;
}
#random-post ul li{
	background-image: url(images/cham.png);
    background-repeat: no-repeat;
    background-position: 1px 6px;
    padding-left: 15px;
}
#random-post ul li a{
	font-size: 12px;
}
.widget-tintuc:nth-child(1) .xt{
	display: none;
}
.widget-tintuc:nth-child(2) , .widget-tintuc:nth-child(4) , .widget-tintuc:nth-child(10) , .widget-tintuc:nth-child(8){
	width: 48%;
	float: left;
}
.widget-tintuc:nth-child(3), .widget-tintuc:nth-child(5) , .widget-tintuc:nth-child(7), .widget-tintuc:nth-child(11) , .widget-tintuc:nth-child(6) , .widget-tintuc:nth-child(9){
	width: 48%;
	float: right;
}
.widget-tintuc:nth-child(2) .title-news, .widget-tintuc:nth-child(4) .title-news, .widget-tintuc:nth-child(6) .title-news, .widget-tintuc:nth-child(8) .title-news, .widget-tintuc:nth-child(10) .title-news,
.widget-tintuc:nth-child(3) .title-news, .widget-tintuc:nth-child(5) .title-news, .widget-tintuc:nth-child(7) .title-news, .widget-tintuc:nth-child(9) .title-news, .widget-tintuc:nth-child(11) .title-news{
	font-size: 12px;
	color: #0B4A7F;
	margin: 0;
	font-weight: bold;
}


.widget-tintuc:nth-child(2) #random-post, .widget-tintuc:nth-child(4) #random-post, .widget-tintuc:nth-child(6) #random-post, .widget-tintuc:nth-child(8) #random-post, .widget-tintuc:nth-child(10) #random-post,
.widget-tintuc:nth-child(3) #random-post, .widget-tintuc:nth-child(5) #random-post, .widget-tintuc:nth-child(7) #random-post, .widget-tintuc:nth-child(9) #random-post, .widget-tintuc:nth-child(11) #random-post{
	display: none;
}

.widget-tintuc:nth-child(2) .category-mobile, .widget-tintuc:nth-child(4) .category-mobile, .widget-tintuc:nth-child(6) .category-mobile, .widget-tintuc:nth-child(8) .category-mobile, .widget-tintuc:nth-child(10) .category-mobile,
.widget-tintuc:nth-child(3) .category-mobile, .widget-tintuc:nth-child(5) .category-mobile, .widget-tintuc:nth-child(7) .category-mobile, .widget-tintuc:nth-child(9) .category-mobile, .widget-tintuc:nth-child(11) .category-mobile{
	width: 64%;
	float: right;
	height: 45px;
}
.widget-tintuc:nth-child(2) .aimg, .widget-tintuc:nth-child(4) .aimg, .widget-tintuc:nth-child(6) .aimg, .widget-tintuc:nth-child(8) .aimg, .widget-tintuc:nth-child(10) .aimg,
.widget-tintuc:nth-child(3) .aimg, .widget-tintuc:nth-child(5) .aimg, .widget-tintuc:nth-child(7) .aimg, .widget-tintuc:nth-child(9) .aimg, .widget-tintuc:nth-child(11) .aimg{
	width: 35%;
	float: left;
}
.widget-tintuc:nth-child(2) .aimg img, .widget-tintuc:nth-child(4) .aimg img, .widget-tintuc:nth-child(6) .aimg img, .widget-tintuc:nth-child(8) .aimg img, .widget-tintuc:nth-child(10) .aimg img,
.widget-tintuc:nth-child(3) .aimg img, .widget-tintuc:nth-child(5) .aimg img, .widget-tintuc:nth-child(7) .aimg img, .widget-tintuc:nth-child(9) .aimg img, .widget-tintuc:nth-child(11) .aimg img{
	max-height: 70px;
	overflow: hidden;
}
.widget-tintuc:nth-child(2), .widget-tintuc:nth-child(4) , .widget-tintuc:nth-child(6) , .widget-tintuc:nth-child(8) , .widget-tintuc:nth-child(10) ,
.widget-tintuc:nth-child(3) , .widget-tintuc:nth-child(5) , .widget-tintuc:nth-child(7) , .widget-tintuc:nth-child(9) , .widget-tintuc:nth-child(11) {
	margin-top: 8px;
    border-top: 1px solid #f1f1f1;
    padding-top: 14px;
}
.widget-tintuc:nth-child(2) .desctt, .widget-tintuc:nth-child(4) .desctt, .widget-tintuc:nth-child(6) .desctt, .widget-tintuc:nth-child(8) .desctt, .widget-tintuc:nth-child(10) .desctt,
.widget-tintuc:nth-child(3) .desctt, .widget-tintuc:nth-child(5) .desctt, .widget-tintuc:nth-child(7) .desctt, .widget-tintuc:nth-child(9) .desctt, .widget-tintuc:nth-child(11) .desctt{
	width: 63%;
	float: right;
	height: 40px;
}

.widget-tintuc:nth-child(2) .xt, .widget-tintuc:nth-child(4) .xt, .widget-tintuc:nth-child(6) .xt, .widget-tintuc:nth-child(8) .xt, .widget-tintuc:nth-child(10) .xt,
.widget-tintuc:nth-child(3) .xt, .widget-tintuc:nth-child(5) .xt, .widget-tintuc:nth-child(7) .xt, .widget-tintuc:nth-child(9) .xt, .widget-tintuc:nth-child(11) .xt{
	float: right;
	width: 39%;
}
.widget-tintuc:nth-child(2) .xt a, .widget-tintuc:nth-child(4) .xt a, .widget-tintuc:nth-child(6) .xt a, .widget-tintuc:nth-child(8) .xt a, .widget-tintuc:nth-child(10) .xt a,
.widget-tintuc:nth-child(3) .xt a, .widget-tintuc:nth-child(5) .xt a, .widget-tintuc:nth-child(7) .xt a, .widget-tintuc:nth-child(9) .xt a, .widget-tintuc:nth-child(11) .xt a{
	font-size: 12px;
	color: #777;
}
.widget-tintuc:nth-child(2) .xt a:before, .widget-tintuc:nth-child(4) .xt a:before, .widget-tintuc:nth-child(6) .xt a:before, .widget-tintuc:nth-child(8) .xt a:before, .widget-tintuc:nth-child(10) .xt a:before,
.widget-tintuc:nth-child(3) .xt a:before, .widget-tintuc:nth-child(5) .xt a:before, .widget-tintuc:nth-child(7) .xt a:before, .widget-tintuc:nth-child(9) .xt a:before, .widget-tintuc:nth-child(11) .xt a:before{
	content: "\f105";
    display: inline-block;
    font-family: FontAwesome;
    font-size: 14px;
    color: #78B43D;
    font-weight: bold;
    padding-left: 36px;
    padding-right: 8px;
}
.widget-tintuc:nth-child(2) .xt a:hover, .widget-tintuc:nth-child(4) .xt a:hover, .widget-tintuc:nth-child(6) .xt a:hover, .widget-tintuc:nth-child(8) .xt a:hover, .widget-tintuc:nth-child(10) .xt a:hover, .widget-tintuc:nth-child(3) .xt a:hover, .widget-tintuc:nth-child(5) .xt a:hover, .widget-tintuc:nth-child(7) .xt a:hover, .widget-tintuc:nth-child(9) .xt a:hover, .widget-tintuc:nth-child(11) .xt a:hover{
	text-decoration: underline !important;
}

.widget-tintuc:nth-child(2) .desctt p, .widget-tintuc:nth-child(4) .desctt p, .widget-tintuc:nth-child(6) .desctt p, .widget-tintuc:nth-child(8) .desctt p, .widget-tintuc:nth-child(10) .desctt p,
.widget-tintuc:nth-child(3) .desctt p, .widget-tintuc:nth-child(5) .desctt p, .widget-tintuc:nth-child(7) .desctt p, .widget-tintuc:nth-child(9) .desctt p, .widget-tintuc:nth-child(11) .desctt p{
	font-size: 13px;
	line-height: 16px;
	text-align: left;
}
.widget-tintuc:nth-child(2) .title-category, .widget-tintuc:nth-child(4) .title-category, .widget-tintuc:nth-child(6) .title-category, .widget-tintuc:nth-child(8) .title-category, .widget-tintuc:nth-child(10) .title-category,
.widget-tintuc:nth-child(3) .title-category, .widget-tintuc:nth-child(5) .title-category, .widget-tintuc:nth-child(7) .title-category, .widget-tintuc:nth-child(9) .title-category, .widget-tintuc:nth-child(11) .title-category{
	margin: 0;
	padding-left: 2px;
}
.widget-tintuc:nth-child(2) .title-news:hover, .widget-tintuc:nth-child(4) .title-news:hover, .widget-tintuc:nth-child(6) .title-news:hover, .widget-tintuc:nth-child(8) .title-news:hover, .widget-tintuc:nth-child(10) .title-news:hover, .widget-tintuc:nth-child(3) .title-news:hover, .widget-tintuc:nth-child(5) .title-news:hover, .widget-tintuc:nth-child(7) .title-news:hover, .widget-tintuc:nth-child(9) .title-news:hover, .widget-tintuc:nth-child(11) .title-news:hover{
	color: #0d72c7 !important;
}
.banner-category{
	float: left;
	border: 1px solid #f1f1f1;
    width: 302px;
    height: 252px;
    position: absolute;
    top: 892px;
    left: 21%;
}

.widget-tintuc:nth-child(4){
	height: 379px !important;
}
.widget-tintuc:nth-child(8){
	border-top: none;
}

.nav_mobi{
	display: none;
}
.box_video {
	width: 100%;
	height: 250px;
	border: 1px solid #f1f1f1;
}
#wrap #inner #content-sidebar-wrap #desktop-centent #news-block-tintuc .block-wrap .main-posts .caia-block-item>a>img{
	height: 125px;
	border: 1px solid #f1f1f1;
    padding: 2px;
}
/* end chuyên mục con */
/* THÔNG BÁO */
.taxonomy-description{
	margin: 0;
}
.taxonomy-description h1{
	margin-bottom: 5px;
	border-left: 5px solid #fec602;
	background: -webkit-gradient(linear,0 0,0 100%,from(#fdfdfd),to(#f9fafb));
}
.taxonomy-description h1:before{
	 content: "\f19d";
    display: inline-block;
    font: normal normal normal 20px/1 FontAwesome;
    color: #fec602;
    margin-right: 5px;
}
.taxonomy-description{
	background: #FDFCFD;
}
.taxonomy-description p{
	width: 100%;
	border-top: 1px solid #f1f1f1;
	background: #FDFCFD;
	position: relative;
	padding-right: 85px;
	padding-bottom: 15px;
}
.taxonomy-count {
    width: 11%;
    float: right;
   position: absolute;
   left: 59.7%;
   top: 249px;
    
}
.archive-head{
	background: none;
	border-top:none ;
}
/* thông báo và bài viết */

#wpcomm .avatar{
	border-radius:50%;
	padding: 1px;
    margin: 0 auto;
    float: none;
    display: inline;
    width: 100%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 50%;
    box-shadow:none;
}
.stylekh{
	font-size: 16px;
}
#wpcomm .wc-blog-guest > .wc-comment-right .wc-comment-author, #wpcomm .wc-blog-guest > .wc-comment-right .wc-comment-author a{
	font-size: 16px;
    width: 40%;
    float: left;
    white-space: normal;
    text-align: left;
    padding: 6px 0px 2px 15px;
    color: #00B38F;
}
h1.entry-title>i{
	color: #FEC602;
}
.socialbutton{
	position: absolute;
    top: 297px;
    left: 48%;
}
.twitter-share-button{
	border-radius: 3px;
    font-size: 11px;
    height: 20px;
    padding: 3px;
    background: #1B95E0;
    color: #fff !important;
    font-weight: bold;
    position: absolute;
}
.twitter-share-button:before{
	content: "\f099";
    display: inline-block;
    font-family: FontAwesome;
    color: #FFF;
    font-size: 11px;
    margin-right: 4px;
}
#___plus_0{
	margin-left: 60px !important;
}
.kenht-dau-bai-viet-tin-tuc{
	margin-bottom:5px ;
}
#wc-comment-header{
	background: url(images/comment.png) no-repeat left;
	padding-left:52px ;
	padding-top:16px ;
	background-position: 0 4px;
}
#wpcomm .wc_comm_form .wc-field-comment{
	background: #F9F9F9;
	padding: 10px;
    margin-top: 0;
    border: 1px solid #f1f1f1;
    clear: both;
}
#wpcomm .wc_comm_form .wc-field-comment .wc-field-avatararea{
	width: 55px;
    float: left;
    margin-left: 4px;
    margin-top: 7px;
}
#wpcomm .wc-field-textarea .wpdiscuz-textarea-wrap{
	background: #e4e4e4;
}
#wpcomm .wc-field-textarea .wpdiscuz-textarea-wrap textarea{
	background: #e4e4e4;
}
.wpdiscuz-front-actions{
	padding: 5px 10px;
}
#wpcomm .wc-comment-header{
	border: none;
	margin: 0;
}
#wpcomm .wc-comment .wc-comment-left .wpd-xborder{
	border: none;
}
#wpcomm .wc-comment-right .wpd-bottom-custom-fields{
	padding: 0;
    margin-bottom:0;
}
#wpcomm .wc-comment-footer{
	border-bottom: 1px solid #ddd;
}
#wpcomm .wc-comment-right .wpd-top-custom-fields ,.wc_editable_comment .wc-cta-button{
	display: none;
}
#wpcomm .wc-footer-left .wc-cta-button, #wpcomm .wc-footer-left .wc-cta-button-x{
	font-size: 11px;
    cursor: pointer;
    text-transform: uppercase;
    height: 24px;
    padding: 2px 7px 2px 5px;
    line-height: 18px;
    display: inline-block;
    vertical-align: top;
    margin-right: 2px;
    font-family: arial;
}
#wpcomm .wc-cta-button, #wpcomm .wc-cta-button-x{
	background: #888888;
    border: 1px solid #888888;
    color: #ffffff;
}
#wpcomm .wc-comment-title{
	font-size: 14px;
	color: #c53f27;
}
#wpcomm .wc-comment .wc-comment-left{
	width: 64px;
}

#wpcomm .wc-footer-left .wc-cta-button-x, #wpcomm .wc-footer-left .wc-cta-button i{
	display: inline;
}
.entry-content ul li{
	font-size: 15px;
}
/* end */

/* pages */
h1.title{
	margin-bottom: 5px;
    border-left: 5px solid #fec602;
    background: -webkit-gradient(linear,0 0,0 100%,from(#fdfdfd),to(#f9fafb));
    border-bottom: 1px solid #ddd;
    padding: 10px 10px 10px 10px;
    font-weight: bold;
    font-size: 24px !important;
}
h1.title:before{
	content: "\f19d";
    display: inline-block;
    font: normal normal normal 24px/1 FontAwesome;
    color: #fec602;
    margin-right: 5px;
}
.tentruong{
	background: #e7f4e9;
}
.xanhnhat{
	background: #F8FCF8;
}

.dsc:before{
	content: "\f015";
    display: inline-block;
    font-family: FontAwesome;
    color: #13912B;
    font-size: 18px;
    margin-right: 5px;
}
/* quảng cáo top home mobile */
.adver_top_home{
	display: none;
}

/* hình ảnh cành đào */
body{
	background: url(images/dao.png) no-repeat;
}
#wrap{
	background:none;
}
/* end */