@font-face{font-family:'opensanbold';src:url('fonts/OpenSans-Bold.ttf');}
@font-face{font-family:'Open Sans';src:url('fonts/OpenSans-Regular.ttf');}
@font-face{font-family:'mipro';src:url('fonts/MYRIADPRO-REGULAR.OTF');}
@font-face{font-family:'miprobold';src:url('fonts/MYRIADPRO-BOLDCOND.OTF');}
@font-face{font-family:gothic;src:url('fonts/UTM_Alter_Gothic.ttf');}
body,h2,h2 a,h2 a:visited,h3,h4,h5,h6,p,select,textarea{color:#333;font-family:'Arial', sans-serif;font-size:16px;line-height:1.5625;margin:0;padding:0;text-decoration:none;}
h1{font-size:28px;color:#333;font-family:"Arial", Helvetica, sans-serif;font-weight:300;line-height:1.5625;margin:0;padding:0;text-decoration:none;}
blockquote,input,select,textarea,.author-box,.breadcrumb,.sticky,.wp-caption{background-color:#f5f5f5;border:1px solid #ddd;}
input,label,select,textarea{color:#333;font-family:"Arial", Helvetica, sans-serif;font-size:13px;font-weight:300;}
li,ol,ul{margin:0;padding:0;}
ol li{list-style-type:decimal;}
strong,b{font-weight:100;}
a,a:visited{color:#061bd0;text-decoration:none;}a:hover{text-decoration:underline; color:#061bd0; }a img{border:none;}
body{background-color:#fff;}body.home{margin-top:0px;}::-moz-selection{background-color:#0d72c7;color:#fff;}::selection{background-color:#0d72c7;color:#fff;}
#wrap{margin:0 auto;width:1100px;}
#header{margin:0 auto;min-height:102px;width:1100px;background:#fff;}#header .wrap{margin:0 auto;}
#nav{background:url(images/bg-menu.png)repeat-x;width:100%;clear:both;}
#nav .wrap{margin:0 auto;}
#title-area{float:left;overflow:hidden;padding:0px 0 0;width:345px;}
#title{font-family:'Arial', sans-serif;font-size:36px;line-height:1.25;margin:0;text-transform:uppercase;}
#title a,#title a:hover{display:block;height:102px;background:url(images/logo.png) no-repeat 1px;text-indent:-99999px;}
#description{font-size:13px;padding:0 0 0 20px;display:none;}
#header .widget-area{float:right;width:728px;     margin-top: 20px;margin-bottom: 5px;}
#banner-under-menu {margin-top: 10px;}
#header .widget_search{width:230px;margin-top:5px;float:right;}
#header .widget_search .searchform{width:227px;border-bottom:1px solid #f1f1f1;overflow:hidden;line-height:45px;}
#header .widget_search .searchform .s{width:168px;float:left;margin:-12px 0 0 13px;border:transparent;background:transparent;color:#d5d5d5;}
#header .widget_search .search-submit{width:22px;float:left;border:transparent;background:url(images/search.png) no-repeat;text-indent:-999999px;margin:-10px 1px 0px 0px;cursor:pointer;}
.header-image #title-area,.header-image #title,.header-image #title a{}.header-image #description{display:block;overflow:hidden;}
.header-full-width #title-area,.header-full-width #title,.header-full-width #title a{}
.menu-primary,.menu-secondary,#header .menu{color:#ffffff;font-size:13px;margin:0 auto;overflow:hidden;}
#header .menu{border:1px solid #ddd;box-sizing:border-box;}
.menu-primary{}.menu-secondary{border-bottom:1px solid #ddd;border-top:none;}
.menu-primary ul,.menu-secondary ul,#header .menu ul{float:left;width:100%;}
.menu-primary li,.menu-secondary li,#header .menu li{float:left;list-style-type:none;}
.menu-primary a,.menu-secondary a,#header .menu a{color:#ffffff;display:block;padding:10px 30px;position:relative;text-decoration:none;font-weight:bold;}.menu-primary li a:active,.menu-primary li a:hover,.menu-primary .current_page_item a,.menu-primary .current-cat a,.menu-primary .current-menu-item a,.menu-secondary li a:active,.menu-secondary li a:hover,.menu-secondary .current_page_item a,.menu-secondary .current-cat a,.menu-secondary .current-menu-item a,#header .menu li a:active,#header .menu li a:hover,#header .menu .current_page_item a,#header .menu .current-cat a,#header .menu .current-menu-item a{background:url(images/bg-menu-hover.png) repeat-x;color:#ffffff;text-decoration:none;}
.menu-primary li li a,.menu-primary li li a:link,.menu-primary li li a:visited,.menu-secondary li li a,.menu-secondary li li a:link,.menu-secondary li li a:visited,#header .menu li li a,#header .menu li li a:link,#header .menu li li a:visited{background:none;background-color:#fff;border-top:none;color:#333;font-size:12px;padding:9px 10px 8px;position:relative;text-transform:none;min-width:150px;}.menu-primary li li a:active,.menu-primary li li a:hover,.menu-secondary li li a:active,.menu-secondary li li a:hover,#header .menu li li a:active,#header .menu li li a:hover{background-color:#f5f5f5;color:#333;}.menu-primary li ul,.menu-secondary li ul,#header .menu li ul{height:auto;left:-9999px;margin:0 0 0 1px;position:absolute;width:150px;z-index:9999;}.menu-primary li ul a,.menu-secondary li ul a,#header .menu li ul a{width:140px;}.menu-primary li ul ul,.menu-secondary li ul ul,#header .menu li ul ul{margin:-36px 0 0 159px;}.menu li:hover ul ul,.menu li.sfHover ul ul{left:-9999px;}.menu li:hover,.menu li.sfHover{position:static;}ul.menu li:hover>ul,ul.menu li.sfHover ul,#header .menu li:hover>ul,#header .menu li.sfHover ul{left:auto;}.menu-primary li a.sf-with-ul,.menu-secondary li a.sf-with-ul,#header .menu li a.sf-with-ul{padding-right:25px;}
.menu li a .sf-sub-indicator,.menu li li a .sf-sub-indicator,.menu li li li a .sf-sub-indicator{background:url(images/icon-plus.png) no-repeat;height:16px;position:absolute;right:8px;text-indent:-9999px;top:10px;width:16px;}#wpadminbar li:hover ul ul{left:0;}
.menu-primary > li > a{border-right:1px solid #5465d0;border-left:1px solid #183768;}
#menu-mainmenutop > li:last-child a{border-right:none;}#menu-mainmenutop > li:first-child a{border-left:none;}
.menu li.right{float:right;padding:7px 15px 6px;}.menu li.right a{background:none;border:none;color:#333;display:inline;text-decoration:none;}.menu li.right a:hover{color:#0d72c7;text-decoration:none;}.menu li.search{padding:0 10px;}.menu li.rss a{background:url(images/rss.png) no-repeat center left;margin:0 0 0 10px;padding:0 0 0 16px;}.menu li.twitter a{background:url(images/twitter-nav.png) no-repeat center left;padding:0 0 0 20px;}
#inner{margin:0 auto;overflow:hidden;padding-bottom:15px;background:#fff;}
.breadcrumb{font-size:13px;margin:-10px 0 30px;padding:5px 10px;}
.taxonomy-description{background-color:#fff;margin:0px 0 5px;padding:0 0 0px;}
#content-sidebar-wrap{float:left;padding-top:10px;width:880px;}.content-sidebar #content-sidebar-wrap,.full-width-content #content-sidebar-wrap,.sidebar-content #content-sidebar-wrap{width:100%;}.sidebar-content-sidebar #content-sidebar-wrap,.sidebar-sidebar-content #content-sidebar-wrap{float:right;}
#content{float:left;width:925px;}
body.home #content{padding-right:0px;}
body.category #content,body.tax-nhom_nganh #content,.tax-muc_diem_chuan #content{width:875px;overflow:hidden;}
.content-sidebar #content,.sidebar-content #content{background:#fff;}
#support-online-3{background:#fff;}
#support-online-3 h3{width:100%;margin-top:3px;background:url(images/bagroung_s.gif) no-repeat top center;height:36px;line-height:27px;color:rgb(0, 97, 238);text-align:center;font-weight:bold;padding-bottom:5px;font-size:17px;}
.sidebar-content #content,.sidebar-sidebar-content #content{float:right;}
.full-width-content #content{width:920px;}
.hfeed .post{padding:10px;}
.entry-content{overflow:hidden;font-size:16px;font-family:'Arial', sans-serif !important;}
.entry-content p{margin:0 0 5px;font-size:16px;text-align:justify;font-family:'Arial', sans-serif !important;}
#ct-morelink{background:none;border:none;padding:15px 30px 15px 0;}
#ct-morelink p{color:#999;font-style:italic;}
#ct-morelink i{color:#13912B;padding-right:5px;font-weight:bold;}
p.subscribe-to-comments{padding:20px 0 10px;}
.clear{clear:both;}
.clear-line{border-bottom:1px solid #ddd;clear:both;margin:0 0 25px;}
.five-sixths,.four-fifths,.four-sixths,.one-fifth,.one-fourth,.one-half,.one-sixth,.one-third,.three-fifths,.three-fourths,.three-sixths,.two-fifths,.two-fourths,.two-sixths,.two-thirds{float:left;margin:0 0 20px;padding-left:3%;}.one-half,.three-sixths,.two-fourths{width:48%;}.one-third,.two-sixths{width:31%;}.four-sixths,.two-thirds{width:65%;}.one-fourth{width:22.5%;}.three-fourths{width:73.5%;}.one-fifth{width:17.4%;}.two-fifths{width:37.8%;}.three-fifths{width:58.2%;}.four-fifths{width:78.6%;}.one-sixth{width:14%;}.five-sixths{width:82%;}.first{clear:both;padding-left:0;}
.genesis-grid-even,.genesis-grid-odd{margin:0 0 20px;padding:0 0 15px;width:48%;}.genesis-grid-even{float:right;}.genesis-grid-odd{clear:both;float:left;}
h1,h2,h2 a,h2 a:visited,h3,h4,h5,h6{font-family:'Arial', sans-serif;line-height:1.25;margin:0 0 2px;}
.taxonomy-description h1{margin:0;}
h2,h2 a,h2 a:visited{font-size:16px;}
h2 a,h2 a:visited{color:#333;font-family:'Arial', sans-serif;}
h2 a:hover{color:#0d72c7;text-decoration:none;}
.widget-area h2,.widget-area h2 a{font-size:14px;margin:0 0 5px;}
h3{font-size:12px;}
h4{font-size:13px;}
.widget-area h4{margin:0px;line-height:30px;font-weight:bold;text-transform:uppercase;font-size:15px;font-family:"myfont";}#sidebar .widget-wrap{background:#fff;     border: 1px solid #f1f1f1;
    padding: 2px}.widget-area h4 a{color:#333;text-decoration:none;}#footer-widgets h4{background:none;border:none;padding:0;}h5{font-size:13px;}
.entry-content ol,.entry-content ul{margin:0;padding:0 0 15px;}.archive-page ul li,.entry-content ul li{list-style-type:square;margin:0 0 0 30px;padding:0;}.entry-content ol li{margin:0 0 0 35px;}.archive-page ul ul,.entry-content ol ol,.entry-content ul ul{padding:0;}
.post-info{font-size:13px;margin:-5px 0 15px;}
.post-meta{display:none;}
.author-box{background-color:#f5f5f5;margin:0 0 40px;overflow:hidden;padding:10px;}.author-box p{font-size:13px;}
.sticky{background-color:#f5f5f5;margin:-10px 0 40px;padding:20px;}
.archive-page{float:left;padding:20px 0 0;width:45%;}
.post-comments,.tags{background:url(images/icon-dot.png) no-repeat left;margin:0 0 0 3px;padding:0 0 0 10px;}
img{height:auto;max-width:100%;}.featuredpage img,.featuredpost img,.post-image{background-color:#f5f5f5;border:1px solid #ddd;}.author-box .avatar{background-color:#fff;float:left;margin:0 10px 0 0;}.post-image{margin:0 10px 10px 0;}.comment-list li .avatar{background-color:#fff;float:right;margin:5px 0 0 10px;}img.centered,.aligncenter{display:block;margin:0 auto 10px;}img.alignnone{display:inline;}img.alignleft{display:inline;margin:0 15px 0px 0;}img.alignright{display:inline;margin:0 0 10px 15px;}.alignleft{float:left;margin:0 15px 10px 0;}.alignright{float:right;margin:0 0 10px 15px;}.wp-caption{padding:5px;text-align:center;width:460px !important}p.wp-caption-text{font-size:13px;margin:5px 0;}.wp-smiley,.wp-wink{border:none;float:none;}.gallery-caption{}
.navigation{font-size:13px;overflow:hidden;padding:20px 0;width:100%;}.navigation li{display:inline;}.navigation li a,.navigation li.disabled,.navigation li a:hover,.navigation li.active a{border:1px solid #ddd;padding:5px 8px;}.navigation li a:hover,.navigation li.active a{background-color:#f5f5f5;}
.sidebar{display:inline;float:right;width:166px;}
.sidebar #text-6{margin-bottom:20px;}
#sidebar-alt{float:left;width:295px;}
.sidebar-content #sidebar,.sidebar-sidebar-content #sidebar{float:left;}
.content-sidebar-sidebar #sidebar-alt{float:right;margin-top:10px;}
.sidebar p{font-size:inherit;}
.sidebar .vietnit-post-list-widget .main-posts{}
.sidebar.widget-area ol,.sidebar.widget-area ul,.widget_tag_cloud div div{}
#caia-post-list-6 ul li h3 a {font-size: 15px;}
#caia-post-list-6 ul li img {padding-bottom: 8px;}
#caia-post-list-6 ul li,#footer-widgets .widget-area ul li{
	border-bottom: 1px solid #ddd;
    list-style-type: none;
    word-wrap: break-word;
    width: 100%;
    float: left;
    padding: 5px;
}
#caia-post-list-6 ul li a {
	font-size:15px;
}
/* Thanh Vũ sửa ngày 4/9/2017 */
.itemblockk {
    width: 212px;
    height: 150px;
    float: left;
    border: 1px solid #f1f1f1;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 10px;
}
.itemblockk:nth-child(5n) {
	 margin-right: 0px;
}
.itemblockk a {
	color:#1a1a1a ;
	    font-size: 15px;
}
.itemblockk span {
	color: #037ace; 
	    font-size: 13px;

}
.itemblockk span.gia-coh {
	color:red;
}
.itemblockk img {
    width: 90px;
    height: 71px;
    border: 1px solid #f1f1f1;
    margin-top: 10px;
}
.giaco {
	float: right;
    width: 92px;
    margin-top: 10px;
}

.sidebar.widget-area ul ul li{border:none;margin:0;}
.widget_archive select,#cat{display:inline;margin:5px 15px 0;padding:3px;width:85%;}
.featuredpage,.featuredpost{clear:both;margin:0 0 15px;overflow:hidden;}.featuredpage .page,.featuredpost .post{border-bottom:1px solid #ddd;margin:0 0 5px;overflow:hidden;padding:0 15px 10px;}#footer-widgets .featuredpage .page,#footer-widgets .featuredpost .post{margin:0 0 10px;padding:0;}.more-from-category{padding:5px 15px 0;}
.user-profile{overflow:hidden;}.user-profile p{padding:5px 15px 0;}.user-profile .posts_link{padding:0 15px;}
input[type="button"],input[type="submit"]{background:#0066FF;border:1px solid #ccc;cursor:pointer;line-height:19px;padding:5px 7px;text-decoration:none;color:#ffffff;font-weight:bold;}input:hover[type="button"],input:hover[type="submit"]{opacity:0.7;text-decoration:none;}
#header .searchform{float:right;padding:12px 0 0;}.sidebar .searchform{padding:5px 0 0 15px;}.s{margin:10px -7px 0 0;padding:6px 5px;width:180px;}#nav .s{background-color:#fff;margin:2px -7px 0 0;}
.enews p{padding:0 15px 5px;}.enews #subscribe{padding:0 0 0 15px;}.enews #subbox{margin:5px -7px 0 0;padding:6px 5px;width:75%;}
#wp-calendar{width:100%;}#wp-calendar caption{font-size:12px;font-style:italic;padding:2px 5px 0 0;text-align:right;}#wp-calendar thead{background-color:#f5f5f5;font-weight:bold;margin:10px 0 0;}#wp-calendar td{background-color:#f5f5f5;padding:2px;text-align:center;}
#footer-widgets{background-color:#f5f5f5;border-top:1px solid #ddd;clear:both;font-size:13px;margin:0 auto;overflow:hidden;width:100%;}#footer-widgets .wrap{overflow:hidden;padding:20px 30px 10px;}#footer-widgets .widget{background:none;border:none;margin:0 0 15px;padding:0;}#footer-widgets .textwidget{padding:0;}#footer-widgets .widget_tag_cloud div div{padding:0;}#footer-widgets p{font-size:inherit;margin:0 0 10px;}#footer-widgets ul{margin:0;}#footer-widgets ul li{margin:0 0 0 20px;}#footer-widgets #wp-calendar thead,#footer-widgets #wp-calendar td{background:none;}.footer-widgets-1{float:left;margin:0 30px 0 0;width:280px;}.footer-widgets-2{float:left;width:280px;}.footer-widgets-3{float:right;width:280px;}
#footer .wrap{overflow:hidden;}#footer p{font-size:inherit;}#footer a,#footer a:visited{color:#ffffff;}#footer a:hover{color:#0d72c7;text-decoration:none;}#footer .gototop{float:left;width:200px;}#footer .creds{float:right;text-align:right;width:650px;}
#comments,#respond{margin:10px 0 15px;overflow:hidden;}#author,#comment,#email,#url,#phone{margin:10px 5px 0 0;padding:5px;width:250px;}#comment{height:150px;margin:10px 0;width:98%;}.ping-list{margin:0 0 40px;}.comment-list ol,.ping-list ol{padding:10px;}.comment-list li,.ping-list li{font-weight:bold;list-style-type:none;margin:15px 0 5px;padding:10px 15px;}.comment-list li ul li{list-style-type:none;margin-right:0px;}.comment-content p{font-size:13px;margin:0 0 20px;}.comment-list cite,.ping-list cite{font-style:normal;}.commentmetadata{font-size:12px;margin:0 0 5px;}.reply{font-size:13px;font-weight:300;}.nocomments{text-align:center;}#comments .navigation{display:block;}.bypostauthor{}.thread-alt,.thread-even{background-color:#EEEFF1;}.alt,.depth-1,.even{}
div.gform_wrapper input,div.gform_wrapper select,div.gform_wrapper textarea{box-sizing:border-box;font-size:14px !important;padding:4px 5px !important;}div.gform_footer input.button{color:#333;}div.gform_wrapper .ginput_complex label{font-size:13px;}div.gform_wrapper li,div.gform_wrapper form li{margin:0 0 10px;}div.gform_wrapper .gform_footer{border:none;margin:0;padding:0;}
.flexible-block{clear:both;margin:0 0 10px 0;overflow:hidden;border-bottom:1px solid #f1f1f1;background:#ffffff;position:relative;}.block .older-posts ul li{list-style-type:square;background:url(images/red-star.gif) left no-repeat;padding-left:13px;list-style:none;}.block-title{overflow:hidden;height:31px;line-height:31px;width:100%;border-bottom:1px solid #0FA0FF;margin:0px;}
.block h2{font-size:14px;color:#073669;font-weight:400;font-family:tahoma;margin-bottom:3px;}.block-title span{background:url(images/border-sp.png) no-repeat left center;width:175px;float:left;font-weight:normal;text-indent:12px;height:40px;color:#ffffff;font-size:13px;font-weight:bold;line-height:44px;padding-left:5px;}.block p{font-size:13px;text-align:justify;font:500 13px/18px Arial;margin-top:12px;}#new{margin-top:9px;}.left-new{width:720px;float:left;overflow:hidden;}.right-new{width:250px;float:right;background:#fff;margin-top:13px;}.right-new a img{width:100%;border:1px solid #ddd;}.right-new #nav_menu-2 h3{width:100%;margin:0px;background:#8f0013 url(images/border_bottom_sidebar_header.png) no-repeat bottom center;height:36px;line-height:27px;border-top-left-radius:10px;border-top-right-radius:10px;color:#fff;text-align:center;font-weight:bold;padding-bottom:5px;font-size:13px;}.right-new #nav_menu-2 ul li{list-style:none;}.right-new #nav_menu-2 ul{padding:5px 10px 10px 10px;}.right-new #nav_menu-2 ul li#menu-item-3204 a{background:url(images/icon_diemthi1.png),url(images/icon-hot.gif);background-repeat:no-repeat,no-repeat;background-position:left center, 99% center;padding:15px 45px 15px 15px;text-indent:20px;color:#F20000;font-weight:bold;padding-left:35px;}.menu-thongtinhuuich-container{background:url(images/background_right.png) repeat-y top;overflow:hidden;}.menu-thongtinhuuich-container ul{background:url(images/background_bottom_right.png) no-repeat bottom;}.right-new #nav_menu-2 ul li{padding-bottom:4px;padding-top:4px;border-bottom:1px solid #f1f1f1;}.right-new #nav_menu-2 ul li:last-child{border-bottom:none;}.right-new #nav_menu-2 ul li#menu-item-3207 a{background:url(images/iconThuVienDeThi.png) left no-repeat;padding-left:20px;font-weight:bold;padding-left:35px;}.right-new #nav_menu-2 ul li#menu-item-3205 a{background:url(images/icon_chitieu.png) left no-repeat;padding-left:20px;font-weight:bold;padding-left:35px;}.right-new #nav_menu-2 ul li#menu-item-3206 a{background:url(images/icon_tinhoc.png) left no-repeat;padding-left:20px;font-weight:bold;padding-left:35px;}.right-new #nav_menu-2 ul li#menu-item-3208 a{background:url(images/iconThuVienDeThi.png) left no-repeat;padding-left:20px;font-weight:bold;padding-left:35px;}
.right-new #nav_menu-2 ul li#menu-item-3206 a{background:url(images/5.png) left no-repeat;padding-left:20px;font-weight:bold;padding-left:35px;}
.right-new>img:first-child{margin-bottom:9px;}.image_thumb{width:280px;float:right;}.new-1>div:first-child{width:100%;}.new-1>div:last-child{width:100%;}.quangcao{margin:3px 0;}
.block-wrap .main-posts{overflow:hidden;margin-bottom:12px;margin-top:6px;}.block-wrap .main-posts img{margin-right:20px;float:left;margin-bottom:10px;width:170px;height:130px;}.block-wrap .main-posts h3~ a:first-of-type{display:block;border:1px solid #f1f1f1;float:left;border-radius:3px;margin-bottom:3px;}.block-wrap .main-posts h3 a{font-weight:700;font-size:14px;}#news-block-0 h3 a{min-height:54px;}.block-wrap .main-posts p{}.news-block-1 .older-posts ul{list-style:none;}.older-posts ul li{}.older-posts ul li a img{float:left;width:50px;display:none;}.older-posts ul li a{font-size:13px;color:#004175;font-weight:none;}.extra-menu{width:100%;height:30px;position:absolute;top:0px;left:168px;}.extra-menu ul{list-style:none;}.extra-menu ul li{float:left;}.extra-menu ul li a{padding-right:10px;padding-left:10px;border-right:1px solid #333;font-size:14px;font-weight:bold;color:#337ab7;}.extra-menu ul li:last-child a{border-right:none;}.sidebar a{font-weight:normal;font-size:13px;}.sidebar .post{margin-bottom:12px;}.sidebar .post h3{margin:0px 0px 0px 15px;background:url(images/li.png) no-repeat 0px 5px;padding-left:20px;line-height:20px;text-transform:uppercase;}.supporter{height:55px;width:43px;float:left;margin-right:25px;}.supporter:last-child{margin-right:0px;}.supporter .supporter-info{float:left;padding-left:7px;}.supporter-online{margin-left:10px;}.supporter-online p.supporter-yahoo{float:left;margin-right:7px;}.slider-doitac{width:720px;overflow:hidden;position:relative;margin-top:10px;}.slider-doitac .slider-controls #prev{position:absolute;right:65px;z-index:99999;background-size:contain;}.slider-doitac .slider-controls #next{position:absolute;top:-40x;left:16px;z-index:99999;bottom:10px;top:0px;background-size:contain;}.slider-doitac ul#logo-slider{width:680px;margin:0 auto;}.slider-doitac img.logo-img{margin-right:10px;padding-top:10px;width:155px;height:120px;}.extra-menu ul li a:hover{text-decoration:none;}
.icon li{display:inline-block;margin:15px 5px;}.slider-lienket h2{background-image:url(images/bg-h22.png);background-repeat:no-repeat;background-position:left center;font-weight:bold;text-indent:10px;height:29px;line-height:29px;color:#ffffff;border-bottom:3px solid #0fa0ff;}.container{width:1100px;margin:0 auto;overflow:hidden;clear:both;}.container ul li a{}
.lof_slidecontent{width:850px;overflow:hidden;float:left;margin-top:13px;}
.lof-main-outer{width:610px;height:auto;float:left;background:#fff;padding-right:13px;background:url(images/1pxtophomev3.png) repeat-y right;}
.lof-main-outer #ct-morelink{padding:10px 30px 0px 0;}
.lof-main-outer #ct-morelink a{display:block;padding-left:13px;font-size:15px;color:#202b7f !important;font-style:italic;}
.lof-main-outer a img{border:1px solid #F1F1F1;width:98%;height:290px;}
.lof-main-outer>p{margin-top:12px;font-family:Arial,"Helvetica Neue",Helvetica,sans-serif;font-size:14px;line-height:21px;color:#353535;}
.lof-main-outer h3.ginuaday{margin-top:14px;padding-bottom:10px;}
.lof-main-outer h3.ginuaday a{font-size:28px;line-height:35px;margin-top:-6px;font-family:'Arial',Helvetica,sans-serif;font-weight:bold;color:#1d1d1d;}
.lof-main-outer h3.ginuaday a:hover{text-decoration:none;color:#063a90;}
.lof_slidecontent .related-news{margin-top:12px;margin-bottom:4px;}
.lof_slidecontent .related-news li{position:relative;padding:1px 0 1px 10px;}
.lof_slidecontent .related-news li:before{background-color:#007f74;width:3px;height:3px;background-repeat:no-repeat;display:inline-block;margin-top:2px;background-image:none;content:'';}
.lof_slidecontent .related-news li a{font-size:13px;line-height:21px;color:#414141;font-weight:bold;font-family:'Arial',Helvetica,sans-serif;}
.lof_navigator_outer{width:240px;float:right;border-right:1px solid #eee;}
.lof_navigator_outer ul li{padding-bottom:6px;padding-top:13px;padding-left:20px;padding-right:24px;display:block;}
.lof_navigator_outer ul li:first-child{border:none;}
.lof_navigator_outer ul li{border-top:solid 1px #ebebeb;}
.lof_navigator_outer ul li a img{width:75px;height:52px;border:1px solid #ddd;}
.lof_navigator_outer ul li h3{margin-top:2px;margin-bottom:3px;}
h4.ginuadaynd{margin:0px;}
.lof_navigator_outer ul li h3.sub-title a{font-family:'Arial',Helvetica,sans-serif;font-size:12px;line-height:16px;color:#6f6f6f;text-transform:none;}
a.atitle{font-size:14px;line-height:21px;font-family:'Arial',Helvetica,sans-serif;font-weight:bold;color:#282828;}
.niemdau{overflow:hidden;background:#f1f1f1;border-bottom:1px solid #f1f1f1;}
.niemdauchondau{width:195px;float:left;margin-right:11px;margin-left:10px;}
.niemdauchondau:last-child{margin-right:0px;}
.niemdauchondau h4 a{font-weight:700;font-size:13px;line-height:1.5;overflow:hidden;display:inherit;}
.niemdauchondau .nd{padding:5px;}.niemdauchondau a img{width:60px;height:60px;padding:2px;margin-right:10px;border-radius:100%;float:left;}
.niemdauchondau span.view{background:url(images/icon-author.jpg) left no-repeat;padding-left:20px;color:#c0c0c0;font-size:12px;}.niemdauchondau span.date{background:url(images/icon-time.jpg) left no-repeat;padding-left:20px;color:#c0c0c0;font-size:12px;}.nhip{overflow:hidden;height:20px;border-bottom:1px solid #F1F1F1;margin-bottom:20px;}.nhip span{background:#327CCB;color:#fff;padding:5px 10px 5px 10px;font-size:14px;font-weight:bold;text-transform:uppercase;border-top-left-radius:5px;border-top-right-radius:5px;line-height:2.5;border-bottom:1px solid #f1f1f1;font:700 12px/22px Arial;}#caia-post-list-3 ul li{padding-left:15px;background:url(images/red-star.gif) left no-repeat;}#caia-post-list-3 ul li a{font-weight:700;}#news-block-3{position:relative;}#news-block-3 .block-wrap{background-image:url(images/bg-thaykhong.png);overflow:hidden;}#news-block-3 h2.block-title{border:none;position:absolute;background:none;top:10px;}#news-block-3 h2.block-title span{background:url(images/thaykhong.png) left no-repeat;background-position:-1px 0;width:180px;line-height:2;}#news-block-3 h3{padding:10px;}
#news-block-3 h3 a{color:#242424;}
#news-block-3 .block-wrap .main-posts{width:311px;min-height:244px;float:left;background:#febd00;}
#news-block-3 .block-wrap .main-posts a img{}
#news-block-3 .older-posts{width:330px;float:right;margin-top:6px;}
#news-block-3 .older-posts ul li{background:none;min-height:75px;background:#f1f1f1;margin-bottom:10px;padding-left:0px;list-style:none;}#news-block-3 .older-posts ul li a{}#news-block-3 .older-posts ul li img{margin-right:5px;width:88px;height:65px;margin-top:5px;margin-left:5px;}.hotline-area{padding:0px 0px 10px 12px;}.hotline-area span.tel span.label{color:#7e7e7e;padding-right:22px;}span.label{color:#7e7e7e;}.hotline-area span.tel{padding-right:60px;color:#7e7e7e;}.hotline-area span.num{color:#ec0000;font-size:20px;font-weight:700;}
#caia-post-list-4 .main-posts{margin-bottom:12px;padding-top:97px;background:url(images/bg-tuvantoancanh_header.png),url(images/bg-tuvantoancanh_footer.png);background-repeat:no-repeat,no-repeat;background-position:top center, bottom center;padding-bottom:1px;}#caia-post-list-4 .main-posts ul{background:url(images/bg-toancanh.png) repeat-y;margin-left:2px;}
#footer{background:#A4D0FF url(images/bg_footer_top.png) no-repeat top center;clear:both;font-size:13px;margin:0 auto;overflow:hidden;width:1100px;}#footer .wrap{overflow:hidden;margin-top:10px;background:url(images/bg_footer.png) repeat-x top left;padding-left:20px;}#footer p{font-size:inherit;line-height:1.8;color:#333;margin:0px;}#footer .thanh{width:600px;float:left;}#footer .thanh p.ttt{font-style:italic;padding-top:5px;}#footer .thanh span{font-weight:bold;line-height:2.5;}#footer .vu{width:350px;float:right; padding-right: 10px;}#nav_menu-3{width:1000px;margin:0 auto;margin-top:1px;}#nav_menu-3 ul li{list-style:none;float:left;padding-left:10px;padding-right:10px;background:url(images/bg_li_mennu_footer.png) no-repeat right center;}#nav_menu-3 ul li a{color:#327CCB;font-size:13px;}#footer .vu a img{}#footer a,#footer a:visited{color:#333;}#footer a:hover{color:#0d72c7;text-decoration:none;}#footer .gototop{float:left;width:200px;}#footer .creds{float:right;text-align:right;width:650px;}.vcl h4{font-size:20px;border-bottom:1px solid #f1f1f1;padding:10px;}.vcl ul{padding:10px 0px 20px 15px;}.vcl ul li{list-style:none;padding-top:5px;}.vcl ul li a{background:url(images/li-fuck.jpg) no-repeat left center;background:url(images/li-fuck.jpg),url(images/newnew.gif);background-repeat:no-repeat,no-repeat;background-position:left center, 99% center;padding:15px 45px 15px 15px;text-indent:20px;}
#respond{padding-top:25px;padding-left:10px;padding-right:10px;}#respond span.binhluan{background:url(images/icon-coment.png) no-repeat left;font-size:20px;padding:56px;color:#2e2e2e;}#respond p.thanhvu{padding-top:15px;font-style:italic;}
#comments ol{}
#comments ol li{}#comments h3{background:url(images/icon-coment.png) no-repeat left;}
#content h1.archive-heading{padding:10px;}
.t{margin-top:10px;padding:10px;font-size:20px;font-weight:bold;}
.t a{background:#f1f1f1;padding:5px;border-radius:5px;line-height:2.2;font-size:13px;}
.navsingle{overflow:hidden;}.navsingle ul li{width:257px;overflow:hidden;float:left;background:#fff;min-height:63px;margin-right:5px;padding:6px;border-radius:2px;border:1px solid #DFDFDF;}
.navsingle ul li:last-child{margin-right:0px;}.navsingle ul li a{color:#929292;font-size:13px;}.navsingle ul li a:hover{color:#000BF9;}.navsingle ul li img{border:1px solid #f1f1f1;padding:1px;border-radius:2px;width:65px;height:65px;float:left;margin-right:5px;}.tt{background:#f0f9fe;}.tt span{border-left:5px solid #00bbf3;padding-left:10px;}.tt span a{color:#00ACDF;padding:3px;font-size:15px;}
h1.entry-title{font-weight:bold;color:#3a3a3a;margin-bottom:10px;}
body.page h1.entry-title{font-size:16px;}
.so7{margin-bottom:0px !important;}
.entry-content a.star{display:block;font-size:16px;color:#202b7f !important;font-style:italic;}
body.category-4 .widget-tintuc a img, body.category-74 .widget-tintuc a img,body.category-75 .widget-tintuc a img,
body.category-76 .widget-tintuc a img,body.category-78 .widget-tintuc a img,body.category-77 .widget-tintuc a img{width:100px;height:100px;border-radius:100%;}
.entry-content span{font-size:16px;font-family:'Arial', Arial, sans-serif !important;}
.lof-main-outer-duhoc , .lof_slidecontent-duhoc{width:490px;float:right;overflow:hidden;}
.duhocne{border-bottom:1px solid #F0F0F0;float:left;width:223px;margin:4px 10px 10px 10px;background:none repeat scroll 0 0 #ffffff;box-shadow:#E4E4E4 0px 0px 5px 1px;}
.duhocne:last-child{margin-right:0px;}
.duhocne h3 a{clear:both;display:block;font-size:13px;line-height:20px;color:#032d5f;font-weight:bold;padding:10px;}
.duhocne h3:hover a{color:#0066d0;}
.duhocne .ginuaday p{border-bottom:1px solid #CDCDCD;text-align:justify;color:#696A6A;height:57px;}
.duhocne .ginuaday .xt{border:medium none;height:29px;}
.duhocne .ginuaday .xt a{background:none repeat scroll 0 0 #F8690A;color:#FFFFFF;display:block;float:right;width:79px;height:25px;line-height:25px;border-radius:7px;-webkit-border-radius:7px;margin:5px 0;text-align:center;}
.duhocne .ginuaday .xt:hover a{background:#4496d2;transition:background 0.4s;-webkit-transition:background 0.4s;}
.lof-main-outer-duhoc h2.danhtieng{background:url(images/popular_school.png) no-repeat scroll left center rgba(0, 0, 0, 0);border-bottom:1px solid #CFCFCF;color:#F31200;display:block;font-size:16px;font-weight:bold;height:35px;line-height:46px;margin:0px 0px 10px 10px;text-indent:60px;padding-bottom:10px;text-transform:capitalize;}
.tintuc-page span.cndhs{background:url(images/ver-menu-icon.png) no-repeat scroll left center rgba(0, 0, 0, 0);border-bottom:1px solid #CFCFCF;color:#F31200;display:block;font-size:16px;font-weight:bold;height:35px;line-height:46px;margin:0px 0px 10px 10px;text-indent:60px;padding-bottom:10px;text-transform:capitalize;}
.lof_slidecontent_tsdh{width:500px;float:left;background:url(images/hot-info.png) no-repeat;overflow:hidden;min-height:290px;}
.lof_slidecontent_tsdh h3 a{font-size:18px !important;color:#F31200}
.lof_slidecontent_tsdh p{width:260px;float:right;font-size:14px;margin-right:10px;}
.lof-main-item-desc-du{width:300px;float:right;overflow:hidden;margin-top:25px;}
.lof-main-item-desc-du p.rt{float:right;width:62px;background:#1D4FB0;border-radius:5px;}
.lof-main-item-desc-du p.rt a{color:#fff;padding:3px;}
.lof-main-outer h3.ginuaday_duhoc{background:url(images/danh-muc.png) no-repeat scroll left center rgba(0, 0, 0, 0);border-bottom:1px solid #CFCFCF;display:block;font-size:16px;font-weight:bold;height:35px;line-height:46px;margin:0px 0px 10px 10px;text-indent:60px;padding-bottom:10px;text-transform:capitalize;}
.lof-main-outer h3.ginuaday_duhoc a{color:#F31200;}
.page{padding:0px;}
#comments .navigation{display:none;}
.paginate-com{margin:10px 0 20px 0;padding:5px 1px 5px;text-align:center;}
.paginate-com a{padding:3px 6px 4px 6px;margin:3px;text-decoration:none;border:1px solid #ccc;color:#666;}
.paginate-com a:hover{border:1px solid #444;color:#444;background-color:#eee;}
.paginate-com .current{padding:3px 6px 4px 6px;margin:3px;font-weight:bold;border:1px solid #666;color:#444;background-color:#eee;}
.comment-list li .fn, .comment-list li .cfn{font-size:12px;color:#578cca;line-height:29px;position:relative;padding-right:15px;padding-left:5px;}
.comment-list cite, .comment-list cite a, .ping-list cite, .ping-list cite a{font-weight:bold;font-style:normal;}
.comment-list li .avatar{border-radius:3px;display:block;width:30px;height:30px;float:left;}
.comment-list li .commentmetadata a{color:#999;}
.comment-list{margin:0;padding:0;}
.comment-list li ul li{margin-left:15px;margin-top:0px;}
#comments h3{padding:15px 20px 10px 60px !important;}
.comment-list li, .ping-list li{font-weight:bold;margin:0px 0 15px 0;padding:0px 0px;list-style:none;position:relative;}
.comment-content{padding:0px 10px 5px;margin-left:40px;text-align:justify;clear:both;width:82%;}
.comment-list li .commentmetadata{font-weight:normal;font-size:13px;font-style:italic;padding:5px 0 0 !important;}
.comment-list li .commentmetadata a{color:#999;}
.comment-list p, .ping-list p{font-weight:normal;text-transform:none;margin:10px 5px 10px 0;padding:0;}
.comment-list li .reply{right:1px;position:absolute;margin-top:-35px;padding:0px 5px;}
.reply a, .reply a:visited{text-decoration:none;color:#fff;font-size:11px;font-weight:normal;width:40px;display:block;text-align:center;line-height:25px;border-radius:3px;background:#3498db;background-image:-webkit-linear-gradient(top, #3498db, #2980b9);background-image:-moz-linear-gradient(top, #3498db, #2980b9);background-image:-ms-linear-gradient(top, #3498db, #2980b9);background-image:-o-linear-gradient(top, #3498db, #2980b9);background-image:linear-gradient(to bottom, #3498db, #2980b9);}
.reply a:hover{background:#3cb0fd;background-image:-webkit-linear-gradient(top, #3cb0fd, #3498db);background-image:-moz-linear-gradient(top, #3cb0fd, #3498db);background-image:-ms-linear-gradient(top, #3cb0fd, #3498db);background-image:-o-linear-gradient(top, #3cb0fd, #3498db);background-image:linear-gradient(to bottom, #3cb0fd, #3498db);text-decoration:none;}
.comment-list li ul li{background-color:#F7F7F7;} 
.comment-list li .says{display:none;} 
#comment{font-family:arial, verdana, sans-serif;font-size:16px;} 
#header .header-widget-area a img{margin-top:11px;height:80px;} 
.fuckh{width:100%;margin-left:10px;margin-top:10px;}
.fuckh ul li{list-style:none;background:url(images/red-star.gif)no-repeat left 4px;}  
#sidebar .vietnit-post-list-widget ul li img{width:130px;height:80px;float:left;border:1px solid #f1f1f1;margin-right:5px;} 
#sidebar .vietnit-post-list-widget ul li:nth-child(2n){margin-right:0px;}#sidebar .vietnit-post-list-widget ul li{margin-left:5px;}#sidebar .vietnit-post-list-widget ul li h3 a{color:#333;font-family:"myfont";}.paging{float:right;}body.single .right-new{width:290px;margin-right:0px;}body.single .menu-thongtinhuuich-container ul{background:url(images/background_bottom_right_2.png) no-repeat bottom;}body.single .menu-thongtinhuuich-container{background:url(images/background_right_2.png) repeat-y top;}
body.single .right-new #nav_menu-2 h3{line-height:34px;text-transform:uppercase;} 
body.single .right-new a img{width:281px;border:1px solid #ddd;padding:1px;} 
body.single .right-new{overflow:hidden;padding-bottom:10px;}#text-13{border:1px solid #c0c0c0;padding:1px;}
#text-19 h3,#text-30 h4.widgettitle{background:#F8F8F8;text-transform:uppercase;font-weight:bold;font-size:15px;margin:0;margin-bottom:2px;border-top:1px solid #E1E1E1;border-bottom:1px solid #E1E1E1;padding:5px 10px 0px;line-height:26px;border-left:5px solid #BEC1C2;font-family:"mipro";color:#4f4c4c;}
#text-30 .textwidget,#text-19 .textwidget{background:#FAFAFA;}
.lienhehl{background:url(images/icon_ct_ht.png) no-repeat 5% 40%;padding:5px 0px 5px 53px;overflow:hidden;}
.sphl{padding-left:15px;} 
.lienhehl p{float:left;color:#4c4c4c;font-size:16px;margin:0;} 
.sphl span.tel{color:#ff5a00;font-size:22px;font-family:'miprobold';}
#sidebar .vietnit-post-list-widget ul li:nth-child(2n){float:right;margin-right:5px;}
.lof-main-outer img{width:400px;height:235px;}
.slicknav_menu{display:none;}
#ftmbi{display:none;}
.flexible-block .block-wrap a.more-from-category{display:none;}
#metro_menu{display:none;}
a.more-from-category{display:none;}
p.desc{overflow:hidden;text-align:justify;}
.ubermenu-item-level-0.ubermenu-current-menu-item > .ubermenu-target, .ubermenu-item-level-0.ubermenu-current-menu-parent > .ubermenu-target, .ubermenu-item-level-0.ubermenu-current-menu-ancestor > .ubermenu-target{background:#3579FB !important;}
.nav_mobi{display:none;}
.older-posts p.time{display:none;}
table{width:100% !important;}
#div_bang_bao_gia table.tbl{border-top:1px solid #ccc;border-left:1px solid #ccc;}
#div_bang_bao_gia table.tbl td{padding:8px;border-bottom:1px solid #ccc;border-right:1px solid #ccc;text-align:center;}
#div_bang_bao_gia .header td{background:#dcefff;color:#094371;font-weight:bold;}
#div_bang_bao_gia table.tbl tr:hover{background:#fffed8;color:#700000;}
#div_bang_bao_gia ol{margin:3px 0px;text-align:left}
#div_bang_bao_gia .note{background:#fffed8;padding:8px 15px;border:1px solid #7b621e;border-radius:5px;line-height:22px;text-align:left}
td{border:1px solid #BDBABA;border-collapse:inherit;}
table{display:table;border-collapse:collapse;border-spacing:2px;border-color:gray;}
#div_bang_bao_gia .note b{color:#700000;font-size:16px;}
#div_bang_bao_gia .note2{background:#ecf6ff;padding:8px 15px;border:1px solid #055496;border-radius:5px;line-height:22px;text-align:left}
#div_bang_bao_gia .note2 b{color:#0c4676;font-size:16px;}
#div_bang_bao_gia h2{color:#07375f;text-transform:uppercase;margin:0px;}
#div_bang_bao_gia .buttons{text-align:center;margin-top:-5px;margin-bottom:5px;}
#div_bang_bao_gia .top-menu a{font-weight:bold}
#div_bang_bao_gia .top-menu a b{color:#8d0000}
#div_bang_bao_gia{width:1000px;margin:0 auto;}
.demoimg{overflow:hidden;}
.demoimg span{text-align:center;}
.full-width-content #content{width:1185px !important;}
.paginate-com{margin:10px 0 20px 0;padding:5px 1px 5px;text-align:center;}
.paginate-com a{padding:3px 6px 4px 6px;margin:3px;text-decoration:none;border:1px solid #ccc;color:#666;}
.paginate-com a:hover{border:1px solid #444;color:#444;background-color:#eee;}
.paginate-com .current{padding:3px 6px 4px 6px;margin:3px;font-weight:bold;border:1px solid #666;color:#444;background-color:#eee;}
iframe[name='google_conversion_frame']{height:0 !important;line-height:0 !important;font-size:0 !important;}
.right-new #text-19{margin-bottom:10px;}
.widget_text{margin-bottom:10px;     border: 1px solid #f1f1f1; padding: 2px; background: #f1f1f1;}
.vietnit-post-list-widget{margin-bottom:20px;overflow:hidden;border:1px solid #f1f1f1;}
.clear{clear:both;}
#blocktop{border-bottom:1px solid #cdcdcd;padding-top:4px;padding-bottom:0px;overflow:hidden;}
.date{float:left;margin-top:7px;}
.mntop{float:right;width:550px;}
#menu-blocktop{margin:0;}
#blocktop .menu-blocktop-container ul li{background:#FDFDFD;background:-webkit-linear-gradient(#FDFDFD, #ECEDEE);background:-o-linear-gradient(#FDFDFD, #ECEDEE);background:-moz-linear-gradient(#FDFDFD, #ECEDEE);background:linear-gradient(#FDFDFD, #ECEDEE);position:relative;}
#blocktop .menu-blocktop-container ul li{float:left;list-style:none;padding:5px 10px;border-radius:6px;margin:0px 9px 0px 0px;font-size:13px;line-height:18px;border:1px solid #CDCDCD;width:155px;height:29px;}
#blocktop .menu-blocktop-container ul li a{color:#4f4c4c;font-family:'mipro';text-transform:uppercase;font-size:11px;font-weight:bold;padding-left:25px;}
#blocktop .menu-blocktop-container ul li:nth-child(1) a:before{content:"\f23e";display:inline-block;font:normal normal normal 14px/1 FontAwesome;font-size:inherit;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;padding-right:5px;color:#068153;font-size:19px;position:absolute;width:20px;display:block;top:4px;left:10px;}
#blocktop .menu-blocktop-container ul li:nth-child(2) a:before{content:"\f0a1";display:inline-block;font:normal normal normal 14px/1 FontAwesome;font-size:inherit;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;padding-right:5px;color:#068153;font-size:19px;position:absolute;width:20px;display:block;top:4px;left:10px;}
.news-relate{overflow:hidden;padding-bottom:20px;margin-top:35px;}
.news-relate h4{padding:7px;color:#3a3a3a;margin-bottom:15px;font-size:20px;border-bottom:1px solid #f1f1f1;}
.news-relate .reimg img{height:100px;margin:0 15px 10px 0;}
p.time{font-family:'Open Sans', arial, sans-serif;font-size:11px;margin-bottom:7px;line-height:1;min-height:17px;display:block;margin-top:5px;padding-left:2px;overflow:hidden;font-style:italic;}
span.time{font-family:'Open Sans', arial, sans-serif;font-size:11px;color:#333;}
td{padding-left:10px !important;     font-size: 15px;}
.sidebar .widget_text img{padding:1px;border:1px solid #ddd;width:100%;}
.comment-author{float:left;}
.comment-meta{float:left;}
.comment-author img.photo{float:left;width:30px;}
@font-face{font-family:"myfont";src:url(fonts/UTM_Swiss_Condensed.ttf);}
#caia-post-list-6{margin-bottom:20px;overflow:hidden;border-bottom:1px #D3D3D3 solid;background:#f3f3f3;}
#caia-post-list-6 h4{background:url(images/list-bar.png)no-repeat 5px;color:#fff;font-size:19px;height:29px;line-height:27px;border:1px solid #f1a60d;text-shadow:3px 3px 3px rgba(166,36,22,0.3);padding-left:45px;}
.vietnit-post-list-widget h4{background:url(images/icon-gd.png)no-repeat;color:#fff;font-size:15px;height:29px;line-height:27px;text-shadow:3px 3px 3px rgba(166,36,22,0.3);padding-left:45px;margin-bottom:2px;}
#caia-post-list-6 .widget-wrap{background:url(images/h4-sidebar.png)repeat-x;}
#caia-post-list-7 ul{list-style:none;}
#caia-post-list-7 ul li{background:#FCFCFD;background:-webkit-linear-gradient(#FCFCFD, #FDFDFD);background:-o-linear-gradient(#FCFCFD, #FDFDFD);background:-moz-linear-gradient(#FCFCFD, #FDFDFD);background:linear-gradient(#FCFCFD, #FDFDFD);border-bottom:1px solid #ddd;padding:15px 5px 5px;}
#caia-post-list-7 ul a{color:#3a3a3a;font-family:"mipro";background:url(images/iblue.png) no-repeat left 4px;display:block;font-size:14px;padding-left:15px;}
#caia-post-list-7 ul li:nth-child(1) a:after,#caia-post-list-7 ul li:nth-child(2) a:after{content:url("images/inews.png");}
#caia-post-list-8 ul li img{width:130px;height:80px;float:left;border:1px solid #f1f1f1;margin-right:5px;}
#caia-post-list-8 ul li{border-bottom:1px solid #ddd;list-style-type:none;margin-top:10px;word-wrap:break-word;width:50%;float:left;min-height:50px;}
body.home #caia-post-list-8 ul li h3 a{min-height:145px;}
#caia-post-list-8 ul li h3 a{color:#333;font-family:"myfont";font-size:15px;min-height:145px;display:block;}
#caia-post-list-9 ul{padding:10px 6px;}
#caia-post-list-9 ul li img{border:1px solid #ddd;}
#caia-post-list-9 ul li h3 a{font-weight:bold;color:#3a3a3a;padding:10px 0px;display:block;}
h2.cat_title{font-size:18px;font-weight:bold;text-transform:uppercase;}
#search-2 input[type="submit"]{color:#fff;font-family:Arial, sans-serif;font-size:11px;font-weight:bold;text-transform:uppercase;float:left;cursor:pointer;margin:0;padding:0 5px;width:70px;height:28px;line-height:20px;background:#32BBEF;background:-webkit-gradient(linear, left top, left bottom, from(#32BBEF), to(#0EB1EF));background:-moz-linear-gradient(top, #32BBEF, #0EB1EF);margin-left:10px;}
#header .widget-area #search-2{padding:26px 0px 0px 0px;overflow:hidden;position:absolute;left:31%;}
#search-2 input[type="text"]{float:left;width:340px;height:23px;line-height:18px;color:#888;font-size:11px;margin:0;padding:0px 5px 3px 20px;border:1px solid #e6e6e6 !important;border-right:0;background:#fff url(images/icons.gif) no-repeat 5px -34px;-webkit-appearance:none;}
.timkiem #search-2{padding:5px 0 5px 0;}
.main-search{margin-top:5px;}
.tintuc-page #search-2{clear:both;overflow:hidden;margin-bottom:15px;}
#ubermenu-main-8-primary{background:#154AB0;}
#ubermenu-main-8-primary .ubermenu-item-level-0 > .ubermenu-target{color:#fff !important;}
#ubermenu-main-8-primary .ubermenu-item-level-0.ubermenu-current-menu-item > .ubermenu-target{background:#3579FC !important;}
#ubermenu-main-8-primary .ubermenu-item-level-0:hover > .ubermenu-target, #ubermenu-main-8-primary .ubermenu-item-level-0.ubermenu-active > .ubermenu-target{background:#3579FC !important;}
#ubermenu-nav-main-8-primary .ubermenu-item-level-0:first-child a{border-left:none;}
#ubermenu-nav-main-8-primary .ubermenu-item-level-0:last-child a{border-right:none;}
#ubermenu-main-8-primary .ubermenu-item-level-0 > .ubermenu-target{padding:11px 32px !important;border-left:1px solid rgb(31, 68, 120);border-right:1px solid rgb(0, 152, 251);}
#ubermenu-main-8-primary .ubermenu-item-level-0 > .ubermenu-target{font-size:13px;font-weight:bold;text-transform:none !important;}
#ubermenu-main-8-primary.ubermenu-responsive-toggle:hover{background:#154AB0 !important;}
#ubermenu-main-8-primary.ubermenu-responsive-toggle{background:#154AB0 !important;}
a.ubermenu-responsive-toggle-main{background:#154AB0 !important;}
body{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}
.h25{height:25px;}
@font-face{font-family:'mytitle';src:url('fonts/HelveticaNeueLTStd-BdCn.otf');}
.navbar-custom{display:none;}
.logo{width:135px;}
.navbar-custom{background:#1728A4;border-bottom:1px solid #ddd !important;}
.navbar-custom .navbar-collapse{min-height:465px !important;}
.navbar-custom .navbar-nav>li>a{color:#fff;}
img.icon-toggle{width:40px;}
img.icon-news{width:25px;}
.navbar-toggle{padding:0px !important;}
ul.icon-nav li{float:left;list-style:none;padding:0px 15px 0px 15px;border-left:1px solid #4E5BB8;height:33px;}
ul.icon-nav li:last-child{padding-right:0px;}
.view{background:#FFFFFF;}
.mwrap{margin-top:20px;}
.cmenu{text-align:center;padding-bottom:20px;}
.mbt{border:1px solid #D9D9D9;padding:5px;border-radius:5px;background:#E6E6E6;}
.mbt a,.mbt a:hover{color:#333;text-decoration:none;}
ul#menu-mainmenutop>li.menu-item-has-children>a:after{position:absolute;right:10px;top:50%;margin-top:-6px;content:"\f107";display:inline-block;font-family:'FontAwesome';font-style:normal;font-weight:400;line-height:1;color:inherit;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
a.icon-phone{background:url(images/ico-phone.png)no-repeat;}
.lh-info b{font-size:11px;}
.lh-info a{font-weight:bold;}
.ads{display:none;overflow: hidden;}
.icon-google-plus:before{content:"\f0d5";}
.social{float:right;position:relative;width:215px;}
.social a{display:inline-block;float:right;padding-right:5px;padding-top:3px;}
.social i{width:38px;height:27px;display:inline-block;background-size:80% !important;}
.social i.iconfb{background:url(images/iconfb.png)no-repeat;}
.social i.icong{background:url(images/icong.png)no-repeat;}
.social i.icontw{background:url(images/icontw.png)no-repeat;}
.social span.connect{font-family:'Open Sans', sans-serif;position:absolute;left:0px;top:5px;width:100px;display:block;font-size:14px;}
.searchtop{float:left;width:365px;margin-left:15px;}
#wpcomm .wc-comment-right .wpd-bottom-custom-fields,#wpcomm .wc-comment-right .wpd-top-custom-fields{display:none;}
#wpcomm .wc-comment-author{width:50%;}
#wpcomm .wc-comment .wc-comment-left{width:40px !important;}
#wpcomm .wc-comment .wc-comment-right{margin-left:40px !important;}
#wpcomm .wc-comment-right .wc-comment-text{padding:2px 10px !important;}
#wpcomm .wc-comment-text p{margin-bottom:5px !important;}
#wpcomm .wc-comment-footer{margin-bottom:5px !important;padding:2px 10px 5px 10px !important;}
#wpcomm .wc-cta-button{background:#f1f1f1 !important;border:none !important;color:#3a3a3a !important;}
#wpcomm .wc-footer-left .wc-cta-button{text-transform:none !important;}
#wpcomm .wc-reply .wc-comment-footer{padding-bottom:5px !important;}
.wc-load-more-submit{background-color:#00B3A9 !important;color:#fff !important;}
.wc-load-more-submit:hover{color:#fff !important;}
#wpcomm .wc-thread-wrapper{padding:5px 0 !important;margin-bottom:5px !important;}
#wpcomm{padding:1px 0 5px 0 !important;margin:5px auto !important;}
#wpcomm .photo{padding:1px;margin:0 auto;float:none;display:inline;width:100%;height:auto;border:1px solid #ddd;border-radius:50%;}
body.single #content{width:930px;}
#main-info{font-family:"mipro";border:1px solid #ddd;border-radius:3px;}
#main-info .top-info{padding:5px;overflow:hidden;background:#FFFFFF;background:-webkit-linear-gradient(#FFFFFF, #FAFAFA);background:-o-linear-gradient(#FFFFFF, #FAFAFA);background:-moz-linear-gradient(#FFFFFF, #FAFAFA);background:linear-gradient(#FFFFFF, #FAFAFA);}
#main-info .top-info .hinh-anh-truong{width:367px;float:left;}
#main-info .top-info .hinh-anh-truong img{height:230px;}
#main-info .top-info .desc-info{float:left;width:470px;margin-left:25px;padding-top:10px;}
#main-info h1.info-title{font-size:20px;text-transform:uppercase;font-weight:bold;padding-bottom:10px;}
#main-info .desc-info p{font-size:15px;font-weight:bold;padding-bottom:5px;}
#main-info .image-thumbnail{float:left;width:103px;padding-top:13px;}
#main-info .image-thumbnail img{width:103px;}
#main-info .kihieu{float:right;width:145px;padding-top:13px;}
#main-info .kihieu>p{font-size:19px;font-weight:bold;}
#main-info .kihieu p.stylekh{color:#f40711;font-size:50px;font-weight:bold;text-transform:uppercase;}
#main-info .kh-pic{overflow:hidden;border-right:1px solid #ddd;padding:5px;border-bottom:1px solid #ddd;}
#main-info .under-info{overflow:hidden;border-top:1px solid #ddd;clear:both;padding-left:5px;}
#main-info .dc-wrap .dc-title{height:28px;}
#main-info .dc-wrap .dc-title h4{background:url(images/icon-gd.png)no-repeat;color:#fff;font-size:19px;height:28px;text-transform:uppercase;line-height:27px;text-shadow:3px 3px 3px rgba(166,36,22,0.3);padding-left:45px;font-family:gothic;}
#main-info #caia-post-list-6 h3{background:url(images/icon-gd.png)no-repeat;color:#fff;font-size:19px;height:28px;text-transform:uppercase;line-height:27px;text-shadow:3px 3px 3px rgba(166,36,22,0.3);padding-left:45px;font-family:gothic;}
#main-info #caia-post-list-6 ul li {
	list-style: none;
    background: url(images/red-star.gif) no-repeat 5px 23px;
    padding-bottom: 5px;
    padding-left: 25px;
}
#main-info #caia-post-list-6 ul {margin-top: 10px;}
#main-info .dc-wrap ul.ul-dc{padding:10px 10px;}
#main-info .dc-wrap ul.ul-dc li{list-style:none;background:url('images/li-dc.png') no-repeat left 4px;padding-bottom:5px;}
#main-info .dc-wrap ul.ul-dc li a{color:#52524d;font-size:16px;padding-left:20px;display:block;}
#main-info .dc-wrap ul.ul-th{padding:10px 10px;}
#main-info .dc-wrap ul.ul-th li{list-style:none;padding-bottom:10px;background:url('images/icon-thnn.png') no-repeat left 4px;}
#main-info .dc-wrap ul.ul-th li a{color:#52524d;font-size:16px;padding-left:20px;display:block;}
#main-info .dtk{}
#main-info .dtk .postkhac{background:#F8F8F8;background:-webkit-linear-gradient(#F8F8F8, #FFFFFF);background:-o-linear-gradient(#F8F8F8, #FFFFFF);background:-moz-linear-gradient(#F8F8F8, #FFFFFF);background:linear-gradient(#F8F8F8, #FFFFFF);border-top:1px solid #ddd;overflow:hidden;padding:6px 5px;margin-top:4px;list-style:none;}
#main-info .dtk .postkhac img{width:70px;height:70px;border:1px solid #f1f1f1;}
#main-info .dtk a{color:#3d3d3d;font-size:16px;font-family:'mipro';font-weight:bold;line-height:25px;}
span.icon i{color:#379974;font-size:17px;}
.block-gd{width:306px;float:left;}
.block-nd{float:left;width:610px;padding:0px 10px 0px 15px;}
.sltitle{font-family:'mipro';margin-bottom:15px;color:#56595a;background-position:-1176px -363px;text-transform:uppercase;display:block;font-size:20px;}
#boxNewest{margin-bottom:20px;margin-top:26px;}
#boxNewest.slwrap{position:relative;float:left;width:100%;}
#boxNewest.slwrap .slprev a{background-position:-78px;opacity:0;transition:all .3s;-webkit-transition:all .3s;-moz-transition:all .3s;}
#boxNewest.slwrap .slnext a, #boxNewest.slwrap .slprev a{background:rgba(54, 114, 183, 0.8) url(images/nextbackslidev7.png) 10px 50% no-repeat;width:30px;text-align:center;font-size:42px;font-weight:normal;color:#666;top:76px;line-height:65px;height:88px;}
#boxNewest.slwrap .slnext a, .slwrap .slprev a{display:block;position:absolute;cursor:pointer;color:transparent;text-indent:-9999px;}
.slwrap .slprev a{background-position:-561px -463px;left:-24px;opacity:0;transition:all .3s;-webkit-transition:all .3s;-moz-transition:all .3s;}
.slwrap .slnext a{background-position:-561px -463px;right:-24px;opacity:0;transition:all .3s;-webkit-transition:all .3s;-moz-transition:all .3s;}
#boxNewest.slwrap:hover .slprev a{opacity:1;left:0;}
#boxNewest.slwrap:hover .slnext a{opacity:1;right:0;}
#boxNewest.slwrap .slprev a{background-position:-78px;opacity:0;transition:all .3s;-webkit-transition:all .3s;-moz-transition:all .3s;}
#boxNewest.slwrap li h4{text-align:left;font:700 16px/20px "Arial";margin-top:15px;}
#boxNewest.slwrap li h4 a{color:#242323;line-height:20px;}
#boxNewest .item img{border:1px solid #ddd;height:160px;}
#boxNewest .sltitle:before{content:url('images/icon-lq.png');padding:8px;}
#nhomnganh{clear:both;overflow:hidden;}
#nhomnganh ul li{float:left;width:139px;margin:9px;list-style:none;border-top:1px solid #CBCCCC;background:#f0f0fD;background:-webkit-linear-gradient(#f0f0fD, #FFFFFF);background:-o-linear-gradient(#f0f0fD, #FFFFFF);background:-moz-linear-gradient(#f0f0fD, #FFFFFF);background:linear-gradient(#f0f0fD, #FFFFFF);border-radius:5px;}
#nhomnganh ul li p{padding:0px 10px 10px;}
#nhomnganh ul li a.imgnc{display:block;text-align:center;padding:20px;}
#nhomnganh ul li a img{width:100%;height:100px;}
#nhomnganh ul li p{}
#nhomnganh ul li p a{color:#51548C;}
#nhomnganh b.sltitle:before{content:url('images/icon-nc.png');padding:8px;}
#tin-tuc{overflow:hidden;}
.wrap-news{width:610px;float:left;border:1px solid #ddd;}
.main-news{padding:15px 15px 0px 0px;}
.main-news i.fa-graduation-cap{color:#FEC103;}
.news-sidebar{width:310px;float:right;}
.breadrum{background:#FAF9FB;border-top:1px dashed #ddd;border-bottom:1px dashed #ddd;overflow:hidden;margin-bottom:15px;}
.breadrum li{list-style:none;}
.breadrum #crumbs > li{float:left;padding:1px 1px;}
.breadrum #crumbs a{color:#211e1e;font-size:14px;font-family:"mipro";}
#crumbs{overflow:hidden;padding:5px 0px;float:left;}
#crumbs i{color:#13912B;font-weight:bold;padding-right:4px;padding-left:5px;font-size:18px;}
.socialbutton{float:left;padding:10px 5px 0px;}
#tin-tuc .bk-cmt{display: none;}
#infosv .if1{background:url('images/bgif.png') repeat-x left top;overflow:hidden;}
#infosv p{margin:0;}
#infosv a:hover{text-decoration:none;}
#infosv p.pif1{color:#fe6702;font-size:18px;font-family:'miprobold';text-transform:uppercase;}
#infosv p.pif2{color:#963e23;font-size:18px;font-family:'miprobold';}
#infosv .if1 i.fa-graduation-cap{color:#13912B;font-size:27px;}
#infosv .if1 i.fa-book{color:#FEC602;font-size:27px;}
#infosv p.nganh{font-size:16px;font-family:'mipro';color:#404b42;}
.if1 a{float:left;display:block;width:50%;text-align:center;margin-top:5px;}
.if2 a{float:left;display:block;width:165px;text-align:center;margin-top:5px;}
.if1 a{padding:5px 5px 0px;}
.if2 a:nth-child(1){width:40%;background:url('images/split.png') no-repeat right 0px;}
.if2 a:nth-child(2){width:60%;}
.if1 .icon{float:left;     width: 25px; }
.if1 .nd{float:left;}
.if1 a:nth-child(1){background:url('images/split.png') no-repeat right 0px;}
.if2{clear:both;clear:both;overflow:hidden;background:url('images/bgif.png') repeat-x left top;}
.news-tb{box-shadow:0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;width:99%;margin:0 auto;border-top:1px solid #ddd;margin-bottom:10px;overflow:hidden;padding-bottom:15px;}
.news-tb .fa-graduation-cap{color:#FEC103;font-size:23px;}
.taxonomy-description h1.archive-title{color:#3a3a3a;font-size:19px;text-transform:uppercase;font-weight:bold;border-left:4px solid #FEC103;padding:10px;border-bottom:1px solid #ddd;background:#FDFDFD;background:-webkit-linear-gradient(#FDFDFD, #F8F9FA);background:-o-linear-gradient(#FDFDFD, #F8F9FA);background:-moz-linear-gradient(#FDFDFD, #F8F9FA);background:linear-gradient(#FDFDFD, #F8F9FA);}
.taxonomy-description .intro p{font-size:16px;padding:2px 15px 0;text-align:justify;}
.archive-head{overflow:hidden;border-top:1px solid #ddd;margin-top:4px;position:relative;background:#FDFCFD;}
.archive-head .intro{float:left;width:90%;}
.archive-head .nums-post{float:right;text-align:center;font-weight:bold;background:url(images/bg-numpost.png) no-repeat top center;text-shadow:2px 3px #005867;width:85px;height:85px;}
.archive-head .nums-post p.num{color:#fff;font-size:44px;line-height:30px;height:44px;padding-top:10px;}
.archive-head .nums-post p.truong{color:#fffc00;font-size:12px;}
.listpost .itemblock{width:205px;margin-top:10px;margin-left:10px;float:left;}
.listpost .itemblock a{display:block;color:#414141;font-size:12px;min-height:84px;font-size:14px;font-family:"myfont";}
.listpost .itemblock .item img{width:65px;height:65px;border:1px solid #ccc;padding:1px;margin-top:3px;margin-right:6px;float:left;}
.thongbao{overflow:hidden;margin-top:25px;}
.nametype{position:relative;border-bottom:1px dotted #333;margin-top:9px;margin-bottom:10px;}
.nametype h4{position:absolute;padding:5px;top:-15px;left:0px;background:#fff;text-transform:capitalize;font-size:15px;color:#7d6969;font-weight:bold;}
p.update{font-size:14px;padding:10px;}
#lienthong .listpost .itemblock{width:205px;margin-top:10px;margin-left:10px;float:left;margin-bottom:15px;min-height: 110px;}
#lienthong .listpost .itemblock .item img{width:90px;height:93px;border:1px solid #ccc;padding:1px;margin-right:6px;float:left;}
.school-area{margin-top:20px;}
.school-header h4{display:inline-block;padding:6px;background:#FDA801 url(images/icon-nc.png) no-repeat 3px center;color:#fff;text-transform:uppercase;font-size:15px;font-weight:bold;text-shadow:3px 3px 3px rgba(166,36,22,0.3);font-family:"myfont";padding-left:35px;}
.school-header{margin-bottom:35px;}
.list-area img{border:1px solid #ddd;width:250px;height:155px;}
.list-area h4{font-family:'opensanbold';padding:15px 0px;line-height:21px;}
.list-area h4 a{color:#3a3a3a;font-size:15px;}
.linearea{overflow:hidden;background:url(images/linearea.png) repeat-x left center;height:11px;margin:10px 0px 20px;}
.list-area .itemkv{float:left;width:20%;padding:0px 10px;}
.group-area .gitem{float:left;width:180px;height:100px;margin-right:21px;}
.group-area .gitem:last-child{float:right;margin:0px;}
.area-head h4{font-family:"mipro";text-transform:uppercase;font-size:21px;color:#56595a;padding:6px;padding-left:35px;background:url(images/icon-nc.png) no-repeat 3px -3px;margin-bottom:20px;}
.gitem a.aarea{overflow:hidden;display:block;padding:18px 13px;position:relative;}
.gitem .textarea{text-align:center;display:block;float:right;}
.gitem p{font-family:'mipro';color:#fff;text-transform:capitalize;}
.gitem a:hover{text-decoration:none;}
.gitem p.ng1{font-size:16px;}
.gitem p.ng2{font-size:25px;}
.gitem i{display:inline-block;font-size:55px;position:absolute;left:10px;top:20px;-webkit-transition:all 0.2s;transition:all 0.2s;}
.kinhte{background:#4ABC96;}
.kinhte i{color:#BDFFE9;}
.kinhte p{text-shadow:2px 2px #36896D;}
.kythuat{background:#FFCC00;}
.kythuat i{color:#FDFFBE;}
.kythuat p{text-shadow:2px 2px #BA9500;}
.yduoc{background:#99CC00;}
.yduoc p{text-shadow:2px 2px #709500;}
.yduoc i.yduoc{background:url(images/icon-yduoc.png) no-repeat top center;display:block;height:80px;width:75px;background-size:90%;}
.supham{background:#A362B2;}
.supham i{color:#F7D5FF;}
.supham p{text-shadow:2px 2px #8F569C;}
.congan{background:#FF7875;}
.congan i.congan{background:url(images/icon-ca.png) no-repeat top center;display:block;height:80px;width:75px;background-size:90%;}
.congan p{text-shadow:2px 2px #D84642;}
.vanhoa p{text-shadow:2px 2px #047CA8;}
.vanhoa{background:#06AAE7;}
.vanhoa i.vanhoa{background:url(images/icon-vanhoa.png) no-repeat top center;display:block;height:70px;width:52px;background-size:100%;}
.gitem a.aarea:hover i{position:absolute;top:20px;left:110px;}
.group-area-home .gitem a.aarea:hover i{position:absolute;top:20px;left:120px;}
.gitem a.aarea:hover .textarea{float:left;-webkit-transition:all 0.1s;transition:all 0.1s;}
.news{margin-bottom:20px;overflow:hidden;}
.news .item img{width:50px;height:50px;border:1px solid #ccc;padding:1px;margin-top:3px;margin-right:6px;float:left;}
.news .item{display:block;color:#414141;font-size:12px;min-height:65px;font-size:14px;}
.news .item a.aname{display:block;color:#414141;font-size:14px;min-height:65px;overflow:hidden;}
.news .itemblock{width:192px;margin-top:10px; margin-right: 10px;float:left;}
.news .nav-tabs{border:none;background:url(images/bg-tabs.png) repeat-x left center;min-height:36px;}
.news ul li{font-size:14px;margin-top:2px;}
.news .nav-tabs>li.active>a, .news .nav-tabs>li.active>a:focus,.news .nav-tabs>li.active>a:hover{background:none;border:none;color:#047ACE;}
.news .nav-tabs>li:first-child.active>a,
.news .nav-tabs>li:first-child.active>a:focus,
.news .nav-tabs>li:first-child.active>a:hover{color:#fff;}
.news .nav>li>a{padding:6px 11px 6px;color:#3a3a3a;}
.news li:first-child{background:#047ACE;}
.news li:first-child>a{color:#fff;margin-right:5px;text-transform:uppercase;display:relative;padding-left:30px;}
.news li:first-child>a:hover{color:#fff;}
.news li:first-child>a:after{content:"";background:url(images/tabline.png) no-repeat;position:absolute;top:0px;right:-28px;width:25px;height:32px;display:block;}
.news li:first-child>a:before{content:"";background:url(images/gd-icon-home.png) no-repeat;width:25px;height:24px;position:absolute;left:3px;top:4px;}
.news .nav>li>a:focus,.news .nav>li>a:hover{background:none !important;border:none !important;}
.news li:nth-child(2) a{margin-left:15px;}
.news .nav-tabs>li>a{border:none;font-weight:bold;}
.news .tab-content{overflow:hidden;margin-top:10px;}
.group-area-home .kn1{overflow:hidden;width:100%;}
.group-area-home .kn2{width:100%;overflow:hidden;}
.group-area-home .kn .gitem{height:100px;margin-bottom:14px;width:189px;float:left;margin-right:20px;}
.group-area-home .kn .congan,.group-area-home .kn .vanhoa{margin-right:0px;float:right;}
.group-area-home .namekn{background:url(images/bg-tabs.png) repeat-x left center;margin-bottom:18px;}
.group-area-home .namekn h4{text-transform:uppercase;font-size:14px;font-weight:bold;padding:11px 30px 9px;background:url(images/gd-icon-home.png) no-repeat 3px 6px;}
.tinmoi_header{border:1px solid #e4e4e4;border-top:3px solid #1449ae;border-radius:3px;margin-bottom:20px;}
.tinmoi_header .tinmoititletop{width:100%;height:40px;border-bottom:1px solid #e4e4e4;     margin-bottom: 20px;}
.tinmoi_header .viewgt{overflow:hidden;position:relative;margin-top:0;width:100%;}
.tinmoi_header .viewgt #ads_widget-2 {
	margin-bottom: 30px;
    background: #f1f1f1;
    padding: 8px;
}
.tinmoi_header .viewgt #ads_widget-3 {
padding-bottom: 10px;
}
.tinmoi_header .list{display:inline-block;padding:5px 0;padding-left:15px;padding-right:15px;background:url(images/1pxtinmoihome.png) repeat-x;}
.tinmoi_header .list li{display:block;position:relative;padding:8px 0;border-bottom:1px dotted #ddd;float:left;width:100%;}
.tinmoi_header .list li:last-child{border:none;}
.tinmoi_header .list li a{display:block;font:400 14px/17px Arial,"Helvetica Neue",Helvetica,sans-serif;width:440px;border-left:1px dotted #ddd;padding-left:9px;float:right;color:#142f66;margin-top:1px;}
.tinmoi_header .list li .time{color:#636363!important;font:400 13px/17px Arial,"Helvetica Neue",Helvetica,sans-serif;width:120px;float:left;margin-top:0;}
.tinmoititletop a{color:#464646;font-size:24px;background:url(images/icongt.png)no-repeat 8px 5px;padding:5px 60px;}
.newsts{float:left;width:293px;border-right:1px solid #ddd;}
.newsts:last-child{border:none;}
.newscd{padding:0px 17px;}
.newsdh{padding-right:17px;}
.newstc{padding-left:17px;}
.header-ts h4{padding:2px 10px;border-left:5px solid #047ACE;margin-bottom:12px;}
.header-ts h4 a{color:#4c4c4c;font-size:18px;font-weight:bold;}
.intro-ts img{height:170px;border:1px solid #ddd;}
.intro-ts p{padding:12px 0px;line-height:28px;}
.intro-ts p a{color:#2a2727;font-size:17px;}
.newsts ul li a{font-size:15px;font-family:"mipro";color:#716e6e;padding-left:20px;display:block;line-height:28px;}
.newsts ul li{list-style:none;background:url(images/li-dc.png) no-repeat left 4px;padding-bottom:15px;}
.bx-loading{display:none;}
#tin-tuc .wrap-news{border:none;}
.widget-tintuc{margin-bottom:40px;overflow:hidden;width:100%;}
.widget-tintuc img{width:324px;height:216px;border:1px solid #ddd;}
.widget-tintuc h2 a{font-size:18px;color:#EE3939}
.widget-tintuc h2 a:hover{color:#1ba1e2;}
.widget-tintuc span.time{font-family:'Open Sans';font-size:11px;margin-bottom:7px;line-height:1;min-height:17px;display:block;color:#3a3a3a}
.widget-tintuc span.xt a{color:#fff !important;display:inline-block;font-size:12px;line-height:1;padding:10px 12px;background:#EE3939;}
.widget-tintuc a.aimg{overflow:hidden;display:block;float:left;width:324px;margin-right:10px;}
.widget-tintuc .desctt{overflow:hidden;float:left;width:260px;}
#home-block-news{float:left;width:610px;padding-right:0px;}
#sidebar-home{float:right;width:306px;}
.searchformts{background:url(images/bg-search.jpg) no-repeat;background-size:100%;border-top:1px solid #CCCCCC;border-bottom:1px solid #CCCCCC;padding-bottom:15px;}
.search-wrap{width:95%;margin:0 auto;}
.intro-search{position:relative;overflow:hidden;background:url(images/bg-head-search.png) repeat-x left center;margin-bottom:17px;border-bottom-right-radius:13px;border-bottom-left-radius:13px;border:1px solid #ddd;height:29px;}
.intro-search i{font-size:18px;color:#7d6969;position:absolute;top:5px;left:18px;}
.intro-search h4{color:#7d6969;font-size:13px;font-weight:bold;text-transform:uppercase;padding:7px 40px;}
.searchformts #uwpqsf_id{border:none !important;}
.searchformts .uwpqsf_class{width:22%;margin-bottom:15px;clear:none;float:left;margin-right:15px;}
.searchformts .uwpqsf_class select{-webkit-appearance:menulist-button;width:188px;cursor:pointer;height:33px;font-size:11px;opacity:0.8;background:#fff;}
::-webkit-input-placeholder{color:#7d6969;}
::-moz-placeholder{color:#7d6969;}
:-ms-input-placeholder{color:#7d6969;}
:-moz-placeholder{color:#7d6969;}
.uwpqsf_submit input#uwpqsf_id_btn{background:#3B71C5 url(images/isearch.png)no-repeat 75px 7px;background:-webkit-linear-gradient(#3A94D9, #2254B8);background:-o-linear-gradient(#3A94D9, #2254B8);background:-moz-linear-gradient(#3A94D9, #2254B8);background:linear-gradient(#3A94D9, #2254B8);width:112px;height:34px;text-align:left;border-radius:6px;margin-top:9px;box-shadow:0px 4px 5px #C7C7C7;transition:all 0.2s;}
.uwpqsf_submit input#uwpqsf_id_btn:hover{box-shadow:0px 4px 5px #888888;opacity:1;}
#boxNewest .owl-theme .owl-controls .owl-page span{background:#27378B !important;}
#boxNewest ul li{list-style:none;padding:10px; width: 275px; float: left;}
.owl-controls{margin-top:20px;}
.vietnit-post-list-widget ul li{list-style:none;}
p.wp-caption-text{text-align:center;}
.fb_iframe_widget_fluid{display:inline-block !important;}
.group-area-ct .gitem{float:left;width:220px;height:100px;margin-right:21px;}
.group-area-ct .congan{float:right;margin:0px;}
.group-area-ct .gitem a.aarea:hover i{position:absolute;top:20px;left:140px;}
body.term-khoi-bo-doi-cong-an .group-area-ct .vanhoa{float:right;margin:0px;}
.listpost ul li{margin-left:40px;list-style-type:square;color:#0A8ADE;padding-bottom:6px;}
.listpost ul li a{font-size:14px;}
span.numcmt{color:red;font-size:25px;}
.wc-comment-bar{}
body{position: relative;}
.fixed{position:fixed;top:10px;width:245px;}
.fixedp{position:absolute;bottom:560px;width:245px;}
.fixedpc {position: absolute;bottom: 245px;width: 245px;}
.fixed2{position:fixed;top:10px;width:295px;}
.fixed2p{position: absolute;bottom: 575px;width: 295px;}
.fixed2pc{position: absolute;bottom: 365px;width:295px;}
.fixedtb{    position: absolute;bottom: 583px;width: 295px;}
#ajaxsearchlite1 input[placeholder]{color:#7d6969 !important;font-size:13px !important;font-weight:bold !important;text-transform:uppercase;}
.menu_cat_main li{float:left;width:93px;background-color:#efeff4;margin-left:10px;margin-top:10px;border-radius:3px;box-shadow:0 1px 1px #dedee3;list-style:none;}
.menu_cat_main li a{display:block;padding:10px 0;}
.menu_cat_main li span{display:block;text-align:center;font:normal 12px/1.300 arial;color:#505050;}
.menu_cat_main li span i{color:#2D5BE3;}
.menu_cat_main li span.txt{margin-top:10px;text-transform:uppercase;}
.view .navbar-collapse{padding:0px;}
.menu_cat_main{padding:20px 0;}
.menu_cat_main{overflow:hidden;}
.menu_cat_sub{overflow:hidden;padding-bottom:20px;}
.menu_cat_sub h4{border-top:dotted 1px #dcdcdc;padding:10px 0;margin:0 10px;font:normal 13px/1.300 arial;color:#888;}
.menu_cat_sub ul{overflow:hidden;text-align:center;}
.menu_cat_sub li{display:inline-block;margin-left:10px;margin-top:10px;background-color:#f5f7f7;border-radius:3px;border:solid 1px #dfe3e6;width:143px;}
.menu_cat_sub li a{display:block;font:bold 12px/1.300 arial;text-align:center;color:#666;padding:10px 0;text-transform:uppercase;}
.ovh li{width:120px;}
.modal-backdrop{position:static !important;}
body.page #content{width:880px;}
span#clock{font-size:14px;}
a.ttgd{height:29px;display:block;}
.lh-info{text-align: center; margin-top: 10px;}
.likebox{padding:25px 0px;}
.liketext{float: left;margin-right: 15px;text-transform: uppercase;font-size: 17px;}
.adaymash{margin-top: 20px;}
.adaymash .formlh2{
    background-image: linear-gradient(to bottom , #FFE92B 0%, orange 100%);
    display: table;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
}
.adaymash .mota-form-after h3 span{font-size: 20px;color: #ff0000;font-weight: bold;line-height: 2;}
.adaymash .mota-form-after h3 i.fa-pencil-square-o{font-size: 18px;margin-right: 5px;color: orange;}
.adaymash .mota-form-after p > span{font-size: 15px;color: #3333ff;line-height:1;}
.adaymash .formlh2 span.main-label span{color:#3333ff;font-size: 15px;}
#banner-under-menu a.banner-1 img{float: left;padding: 1px;border: 1px solid #ddd;}
#banner-under-menu a.banner-2 img{float: right;padding: 1px;border: 1px solid #ddd;}
#wpcomm .wc-comment-title{font-size: 16px;color: #f40711;}
