/* slider */
body.page #content{
	width: 100% !important;
}
.home_slide{
  height: 570px;
}
.main-content{
  background: #273b60;
  padding: 26px;
  opacity: 0.9;
}
.type-page{
  display: none;
}

.main-content>h2{
  color: #fff
}
.main-content>p,.see-more ,.see-more>h4,.see-more>p{
  color: #FFF;
  font-size: 16px;
  line-height: 30px;
}
.see-more>h4::before{
  content:"\f15c";
  display:inline-block;
  font:normal normal normal 24px/1 FontAwesome;
  color: #f5c214;
  margin-right: 5px;
}
.no-item::before{
  content:"\f15c";
  display:inline-block;
  font:normal normal normal 24px/1 FontAwesome;
  color: #f5c214;
  margin-right: 5px;
}
.item-course::before{
  content:"\f00c";
  display:inline-block;
  font:normal normal normal 16px/1 FontAwesome;
  color: #99fbff;
  margin-right: 5px;
}

/* sidebar */
.sidebar-course{
	margin-top:20px ;
	border: 1px solid #d6d6d6;
}
.sidebar-course h2 {
	text-align: center;
	border-bottom: 1px solid #d6d6d6;
	padding: 10px 0;
	font-size: 18px;
  font-weight: bold;
  padding-top: 20px;
}
.sidebar-course ul{
	list-style: none;
}
.sidebar-course ul li {
	border-bottom: 1px solid #d6d6d6;
	font-size: 16px;
	padding: 5px;
}
.sidebar-course ul li input{
	margin-right: 6px;
}
.sidebar-course ul li span{
	color: #4a9747;
  font-weight: bold;
}
.sidebar-course ul li span::before{
  content:"\f14a";
  display:inline-block;
  font:normal normal normal 14px/1 FontAwesome;
  color: #4A9747;
  margin-right: 5px;
}
.sidebar-course ul>ul{
	margin-left: 10px;
}

.main-content>h1{
  font-weight: bold;
  color: #f5c214;
}
.more{
  margin-top: 60px;
}
.more h2{
  font-size: 20px;
  color: #8f867a;
  background: url('../images/giaovien/bg-h2.png') no-repeat center right;
  background-position:150px ;
}
.more h2::after{
  content:"\f144";
  display:inline-block;
  font:normal normal normal 20px/1 FontAwesome;
  color: #FF9600;
  margin-left: 5px;
}

.study-time{
  padding: 20px;
  /* border-right: 1px solid #efefef; */
  border-bottom: #EFEFEF 1px solid;
  display: inline-block;
  margin: 20px;
}
.study-time img{
  margin-bottom: 15px;
}
.study-time h3 ,.study-time>p{
  text-align: center;
  margin-bottom:10px ;
}
/* tiểu sử giáo viên */
.profile-teacher{
  margin-top: 30px;
  border: 1px solid #cde1cd;
  border-radius:5px;
  position: relative;
  padding: 30px;
  height: 280px;
  background: #273b60;
  opacity: 0.9;
}
.image-left{
  position: absolute;
  top: -20px;
  left: 60%;
 }
/* timeline */
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 50px;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: #ccc;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

/* Container around content */
.contain {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

/* The circles on the timeline */
.contain::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #FF9F55;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
    
}

/* Place the container to the left */
.left {
    left: 0;
}

/* Place the container to the right */
.right {
    left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
    left: -16px;
}

/* The actual content */
.content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
    box-shadow: 10px 10px 27px 2px rgba(0,0,0,0.13);
    border: 1px solid #f1f1f1;
    height: auto;
}
.content h2{
  font-size: 18px;
  font-weight: bold;
  color: coral;
}
.content p{
  font-family: arial;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media all and (max-width: 600px) {
  /* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }
  
  /* Full-width containers */
  .contain {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }
  
  /* Make sure that all arrows are pointing leftwards */
  .contain::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .left::after, .right::after {
    left: 15px;
  }
  
  /* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }
}
@media only screen and (max-width: 767px){
  .home_slide{
    height: 190px;
  }
  .image-left{
    display: none;
  }
}