.full-width-content #content{
	width: 100%;
}
.container{
	width: 100%;
	margin: auto;
	overflow: hidden;
	padding-left: 0px;
	position: relative;
}
.post-37090{
	display: none;
}
.post-37092{
	display: none;
}
.post-37086{
	display: none;
}
.post-37096{
	display: none;
}
.img_bg{
	background-image: url('../images/images-thang/truong-hoc.jpg');
	width: 100%;
	height: 950px;
	background-position: 0;
	background-repeat: no-repeat;
}
.img_mon{
	position:absolute;
	top:25px;
	left:210px;
}
.ten_mon{
	position: absolute;
	top: 220px;
	left: 380px;
	padding: 8px;
}
.ten_mon h1{
	text-align: center;
	font-size: 48px;
	color: #2a55a3;
	font-weight: 750;
	font-family: Segoe UI Black;
}
.ten_mon h5{
	text-align: center;
	color: #2a55a3;
	font-size: 15px;
}
.phu{
	background-color: white;
    width: 88%;
    height: 290px;
    position: absolute;
    top: 545px;
    left: 30px;
    opacity: 0.5;
}
.header_content{
	position: absolute;
    top: 510px;
    left: 64px;
    background-color: white;
    width: 82%;
    opacity: 0.8;
    height: 355px;
}
.ctts{
	background-color: #ffffff;
    color: white;
    position: absolute;
    border: 5px solid #00afef;
    height: 230px;
    float: left;
    top: 395px;
    left: 380px;
    width: 350px;
}
.ctts h3{
	color: white;
	background-color: #00afef;
    font-size: 23px;
    font-weight: bold;
    padding-top: 4px;
    text-align: center;
    height: 40px;
}
.ctts_left{
	width: 64%;
    float: left;
    margin: 6px 0px 0px 6px;
    height: 50px;
}
.ctts .ctts_left button{
	font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    width: 300px;
    margin-left: 16px;
	background: -webkit-gradient(linear,0 0,0 100%,from(#00afef),to(#2a55a3));
    border-radius: 5px;
    padding: 1px;
	font-size: 18px;
	box-shadow: 0 2px 4px #666
}
.main{
	padding-top: 90px;
}
.title_mon{
	padding-top: 40px;
}
.logo{
	border-right: 2px solid blue;
}
.title_mon .logo_content .ctdt h2{
	text-align: right;
	font-weight: bold;
	margin-top: 8px;
	color: #00afef;
}
.title_mon .logo_content .mon h2{
	font-weight: bold;
	background-color: #2a55a3;
	color: white;
    width: 265px;
    text-align: center;
    padding: 5px;
    margin-bottom: 10px;
}
.mota h5{
	font-size: 17px;
	color: #444;
	text-align: center;
}
.ndmota p{
	font-size: 15px;
    padding: 15px 35px 10px 35px;
}
.cndt{
	background-color: #f5f6f6;
	/* margin-top:-176px; */
	height: auto;
}
.tab{
	display: none;
}
.tab{
     /* Fading effect takes 1 second */
	 animation: fadeEffect 1s;
}

.tab button:hover {
    background-color: #0a89ff;
    font-weight: bold;
    color: #FFF; 
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #0a89ff;
    color: #FFF;
    font-weight: bold;
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}  
.cndt h1{
    margin:auto;
    font-size: 35px;
    /* background-color: #2a55a3; */
    font-weight: bold;
    color: white;
    text-align: center;
    width: 500px;
    padding: 10px;
    border: 1px solid #cde;
    box-shadow: 0 3px 14px rgba(0,0,0,.15);
    border-radius: 5px;
	padding: 8px;
	font-size: 18px;
	box-shadow: 0 2px 4px #666;
	background: -webkit-gradient(linear,0 0,0 100%,from(#00afef),to(#2a55a3));
}
.body_cndt{
	margin-top:25px;
}
.body_cndt .body_cndt_left{
	margin-left:80px;
}
.body_cndt div h4{
	color: #2b56a3;
    font-size: 25px;
    font-weight: bold;
}
.body_cndt div p{
	font-size: 18px;
    color: rgb(120, 120, 121);
    padding-left: 30px;
}
.chnn{
	width: 100%;
	background-image: url('../images/images-thang/img.png');
	height:auto;
	position: relative;
	background-repeat: no-repeat;
	background-position:15px;
}
.chnn .title_chnn{
	width: 500px;
    font-size: 27px;
    font-weight: bold;
    color: #fff;
    height: 50px;
    text-align: center;
    padding-top: 12px;
    box-shadow: -4px -4px 6px rgb(226, 221, 221);
    background: -webkit-gradient(linear,0 0,0 100%,from(#00afef),to(#2a55a3));
    margin-left: 338px;
	position:absolute;
	top: 10px;
	border-radius:5px;
}

.chnn p{
	padding: 80px 100px;
    font-size: 20px;
    color: white;
    font-style: italic;
    font-weight: bold;
}
/* tùng ngày 22-1-2018 */
.form-page ,.form-page-0,.active{
	background: none;
	padding-top: 50px;
}
.form_login{
	margin-left: 15px;
}
html .formcraft-css .fc-form{
	-webkit-box-shadow: none;
	        box-shadow: none;
}
html .formcraft-css .fc-form .form-element .form-element-html{
	padding: 0.5em 1.5em;
}

/* giao diện mobile */
@media all and (min-width:320px) and (max-width:1184px){
	.img_bg{
		width: 475px;
		height: 1215px;
	}
	.img_mon {
    position: absolute;
    top: 25px;
    left: 3px;
	}
	.ten_mon {
    position: absolute;
    top: 112px;
    left: 90px;
    padding: 8px;
	}
	.ten_mon h1{
		font-size: 24px;
	}
	.ten_mon h5{
		font-size: 13px;
	}

	.ctts{
	top: 212px;
	left: 15px;
	width: 300px;
	}
	.phu{
	width: 90%;
	top: 480px;
	left: 15px;
	}
	.header_content{
	top: 458px;
 	left: 30px;
 	height: auto;
	}
	.ctts .ctts_left button{
	width: 260px;
	}
	.main{
		padding: 0;
	}
	.title_mon .logo_content .ctdt h2{
		text-align: center;
	}
	.title_mon .logo_content .mon h2{
		margin: auto;
	}
	.cndt h1{
		width: 200px;
	}
	.chnn .title_chnn{
		margin-left:40px;
		height: 45px;
		font-size: 20px;
		width: 284px;
		padding-top: 15px;
		border-radius:5px;
	}
	.body_cndt .body_cndt_left{margin-left: 0;}

}