@media all and (min-width:320px) and (max-width:1184px) {

	body.category-4441 #banner-under-menu,
	body.category-4442 #banner-under-menu,
	body.category-758 #banner-under-menu,
	body.category-759 #banner-under-menu,
	body.category-760 #banner-under-menu,
	body.category-4439 #banner-under-menu,
	body.category-4440 #banner-under-menu,
	body.category-761 #banner-under-menu,
	body.category-762 #banner-under-menu,
	body.category-763 #banner-under-menu {
		display:none;
		position: fixed !important;
		top: 51px;
		left: 0;z-index: 100000;
		padding-top:0px !important;
		background-color:#fff;
	}

	#banner-under-menu {
		padding-top:7px;
	}

	.lof_slidecontent {
		margin-top:4px;
	}
	
	#banner-under-menu-mobile_cd img,
	#banner-under-menu-mobile_tc img {
		margin-top: 17px;
	}

	#content-sidebar-wrap {
		padding-top: 2px;
	}
	
	.ads .logo_qc {
		padding-right: 8px;
		padding-left: 8px;
	}
	
	.ads .logo_qc img {
		border: 1px solid #d9d9d9;
		padding: 1px;
		background: #fff;
	}

	.adaymash .formlh2 {
		width:100%;
		display: block;
		padding: 5px;
	}

	html .formcraft-css .fc-form .form-page-content {
		padding: 1.5em 0.5em;
	}
	
	.fixedp {
		position: inherit;
		width:100%;
	}
	
	#div_bang_bao_gia {
		width: 100%;
	}
	
	.full-width-content #content {
		width: 100% !important;
	}
	
	.intro-ts p a {
		font-size: 18px;
		font-weight: bold;
	}
	
	.widget-tintuc h2 a {
		/* padding: 5px; */
		display: block;
		color: #000;
		font-size: 15px;
	}

	body.home #caia-post-list-8 ul li h3 a {
		min-height: 160px;
	}

	.header-ts h4 a {
		font-size: 23px;
	}
	.vietnit-post-list-widget h4 {
		font-size: 18px;
	}
	.modal {
		top: 60px;
	}
	.navbar-custom {
		display: block;
	}
	.fixed {
		position: static;
		position: static;width: 100%;height: auto;
	}

	.fixed2{
		position: static;position: static;
		width: 100%;height: auto;
	}

	.lof-main-outer{background:#fff;}
	.searchtop{display: none;}
	.ads{display: block !important;}
	.flexible-block{margin:0px;}
	.older-posts p.time{display: block;}
	.navigation{display: none;}
	.nav_mobi{display: block;}
	.block-wrap .main-posts h3 a{color: #3a3a3a;line-height: 20px;}
	#content .news-block .block-wrap .main-posts .caia-block-item p {
		height: auto;
	}
	.cmenu{
		padding-right: 10px !important;
		padding-left: 10px !important;
	}
	#nav{display: none;}
	.hfeed .post {
		padding: 0px 10px 0px 10px;
	}

	h1.entry-title {
		font-family: Arial;
	}
	.entry-content p{font-size: 17px;}
	p.desc{display: none;}
	.block p{font-size: 14px;}
	#search-2 input[type="text"]{width: 55% !important;}
	#ubermenu-main-8-primary .ubermenu-item-level-0 > .ubermenu-target{border: none !important;}
	#wprmenu_bar{padding: 4px 16px !important;}
	img.bar_logo{height: 52px !important;}
	#title-area{width: 90%;margin: 0 auto;float: none;}

	#title a, #title a:hover {
		text-align: center;
		display: inline-block;
		width: 100%;
		height: 70px;
		background: url(../images/logotet.png) no-repeat center;
		background-size:90%;display: none;
	}
	#nav{
		width: 100%;
	}
	#wprmenu_bar .bar_logo {
		margin-top: 6px !important;width: 95px;height: 20px !important;
	}
	#wprmenu_bar .wprmenu_icon{top: 8px !important;width: 27px !important;}
	#wprmenu_bar .wprmenu_icon span{width:27px !important;}	
	#wrap{width: 100%;}
	.mntop{display: none;}
	.date{width: 100%; text-align: center;font-size: 12px;color: #8a8a8a;margin-top: 0px !important;}
	img.imglogo{float:left;padding-right:5px;}
	p#sologan{margin-top:-14px;}
	span.textstyle{font-size:14px;color:#00f6ff;display:block;}	
	span.textlogo{font-size:17px;font-weight:bold;color:#ffffff;text-transform:uppercase;width:130%;display:block;}
	.lof_navigator{border:none;}	
	#nav .slicknav_menu a.slicknav_btn{height:30px;width:100%;}
	.slicknav_btn{margin:5px 8px 10px !important;}
	#nav .slicknav_menu ul.slicknav_nav{padding-top:17px;}
	#inner{width:95%;box-shadow:none;background: none;}
	#nav .wrap{width:100%;}
	.header-widget-area {display: none;}
	#header{width: 100%;background: #F2F2F2;min-height: 70px;display:none;}
	.bk-banner a.banner-2{display:none;}	
	#wrap #content-sidebar-wrap #content .therain .lof_slidecontent .lof_navigator_outer{width: 100%;float: left;margin-top: 15px;}
	.right-new{display:none;}
	#text-12{display:none;}
	.fuckh{display:none;}
	#sidebar{display:none;}
	#sidebar-alt{display: none;}
	body.home .lof_slidecontent{width:100%;}
	.lof_navigator_outer ul li h3{
		display: none;
	}

	a.atitle{
		display: block;
		line-height: 21px;
		font-size: 16px;
	}

	.news .item a.aname {
		float: left;width: 65%;
		font-size: 17px;margin-left: 10px;
		font-weight: bold;
	}

	.news .item img {
		width: 80px;
		height: 70px;
	}

	body.home .lof_navigator_outer ul li a img {
		width: 100%;
		height: 110px;
	}

	.lof-main-outer h3.ginuaday a {
		color: #3a3a3a;
		font-family: arial;
		display: block;
		padding: 0px 5px;
		text-align: justify;
		font-weight: bold;
		font-size: 18pt;
	}
	#wrap #content-sidebar-wrap #content .therain .lof_slidecontent .lof-main-outer{ width: 100%;float: none;padding: 0px 0px 10px 0px;}
	#wrap #content-sidebar-wrap #content .therain .lof_slidecontent .lof-main-outer .slide img{width:100%;height:215px;padding:5px;border: 1px solid #F7F7F6;}
	body.home .lof-main-outer a.slide{display: block;text-align: center;}
	h3.h3_slide{padding-top: 5px;clear: both;}
	h3.h3_slide a{display:block;font-weight:bold;}
	h3.h3_slide a:hover{color:#154AB0;}
	.quangcao-center{display:none;}
	#content-sidebar-wrap{width:100%;}
	#content{width:100%;}
	body.single #content{background: #fff;}
	h2.cat_title{margin-left: 10px;}
	.caia-block-item h3,
	.caia-block-item p {
		/*float:left;*/
		margin:0px 0px 6px 0px;
		height: auto;
	}
	.block-wrap .main-posts .caia-block-item a img {
		width:100%;
		height: auto;
		margin-right: 10px;
		padding:1px;
		border:1px solid #ddd;
	}
	#ftmbi{display:block;}
	#nav_menu-3{display:none;}	
	#footer{width:100%;background:none;}
	#footer .wrap{background-color:#161C29;background-image:none;padding-left:10px;padding-right: 10px;}
	#ftmbi span.fmbt{font-size:21px;color:#02c802;text-transform:uppercase;}
	#fb1 p{color:#d1f4ff;font-size:12px;}
	#fb1 p.fb1t{text-transform:uppercase;}	
	#fb2 p{color:#6bdaff;font-size:12px;}
	#ftmbi a{color: #cc1d00;}
	#fb3 span{font-size:12px;}
	#fb3 span.rednum{color:#cc1d00;}
	#fb3 span.hotline{text-transform:uppercase;color:#feffff;padding-left:21px;}
	#fb3{background:url(images/icon_phone_ft.png) no-repeat top left;}
	#metro_menu{display:block;background-color:#1D1D1D;height:163px;margin-bottom: 10px;}	
	#metro_menu a{color:#ffffff;text-decoration:none;font-size:13px;}
	.tracuu {
		background-color:#666666;width:45%;height:143px;
		float:left;margin-left:11px;
		margin-top:9px;margin-right:11px;
	}
	.tracuu a {
		background:url(images/icon-tracuu.png) no-repeat top center;
		background-position:center 25%;height:45px;display:block;
		padding:82px 0px 0px 0;margin-left:3px;
	}	
	.thuvien{background-color:#1673D2;width:21.3%;height:68px;float:left;margin-right:9px;margin-bottom:6px;}	
	.thuvien a {
		background:url(images/icon-thuvien.png) no-repeat top center;width:85%;
		height:10px;background-position:center 25%;
		display:block;padding:30px 0px 0px 0px;margin-left:8px;text-align:center;
	}
	.tin{background-color:#008A00;width:21.3%;height:68px;float:left;}	
	.tin a {
		background:url(images/icon-tin.png) no-repeat top center;
		width:85%;height:10px;background-position:center 25%;display:block;
		padding:30px 0px 0px 0px;margin-left:8px;text-align:center;
	}
	.chitieu{background-color:#FD5C04;width:45.5%;height:68px;float:left;}
	.chitieu a {
		background:url(images/icon-chitieu.png) no-repeat top center;
		width:95px;height:35px;background-position:left 50%;display:block;
		padding:15px 0px 20px 30px;margin-left:5px;
		text-align:center;
	}
	#wrap #content-sidebar-wrap #content .therain .lof_slidecontent .lof_navigator_outer .icon-event{
		text-align: center;
		text-transform: uppercase;
		background-image: none;
		/* background-repeat: repeat-x; */
		border-top: solid 3px #66bcfe;
    	background-color: #06c;
	}
	#ttc{padding-top:10px;}	
	#inner .navsingle{display:none;}
	#caia-post-list-5{display:none;}
	#hupso_counters_0{display:none;}
	#respond input[type="text"]{width:75%;}
	#content-sidebar-wrap .wp-caption{width:100% !important;}
	body.category .lof_slidecontent{width:100%;}
	body.category .lof-main-outer{width: 100%;float: none;background: #E0E1DE;padding: 0px 10px 10px 10px;}
	body.category .lof_navigator_outer{display:none;}	
	body.category .widget-tintuc {
		overflow:hidden;
		width: 100%;
		float: left;
	}
	body.category .widget-tintuc img {
		height: auto;
		margin: 0px;
	}
	body.category .lof_slidecontent-duhoc{display:none;}
	body.page .entry-content input{width:217px;}
	body.page .entry-content textarea{width:95%;}
	body.page .entry-content input.wpcf7-submit{width:62px;}
	body.page .entry-content span{font-size:10pt !important;}	
	body.page #content{border-right:none; width: 100%;}
	body.page #content p{text-align:justify;margin-left:5px;margin-right:5px;}
	.paging{width: 100%;}
	.widget-tintuc p{text-align: justify;overflow: hidden;}
	.entry-content table{width: 100%;overflow-x: scroll;display: block;height: auto !important;}
	#blocktop{background: url(images/bg-time.png) repeat-x left center;    padding: 5px 0px 10px 0px !important;}
	#footer .thanh span {
		line-height: 1.5;
		font-size: 15px;
		color: #02c802;
		text-transform: uppercase;
	}
	#footer p{color: #d1f4ff;font-size: 12px;margin: 0 0 5px;}
	#footer .thanh,#footer .vu{width: 100%;padding-top: 7px;}
	#footer a, #footer a:visited {color: #0d72c7;}
	h4.title-tab {
		height: 35px;background: #039be5;	
		border-bottom: 1px solid #ddd;
		text-transform: uppercase;
		line-height: 36px;
		padding-left: 15px;
		color: #fff;
		font-size: 16px;
	}
	.custom-drop {
		width: 100%;
		position: relative;
		height: 35px;
	}
	.custom-toggle {	
		position: absolute;
		top: 7px;
		right: 7px;
		border: none;
		border-radius: 100%;
		height: 20px;
		width: 20px;
		cursor: pointer;
		background-color: #fff;
		text-align: center;
		display: inline-block;
		text-shadow: 0px -1px 1px rgba(255,255,255,0.5);
		color: #039be5;
		-moz-transition: .1s ease-out;
		-webkit-transition: .1s ease-out;
		-o-transition: .1s ease-out;
		-ms-transition: .1s ease-out;	
		-khtml-transition: .1s ease-out;
		transition: .1s ease-out;
		box-shadow: inset 0 0 5px 0 rgba(255,255,255,0.5);
		-moz-box-shadow: inset 0 0 5px 0 rgba(255,255,255,0.5);
		-ms-box-shadow: inset 0 0 5px 0 rgba(255,255,255,0.5);
		-webkit-box-shadow: inset 0 0 5px 0 rgba(255,255,255,0.5);
		-khtml-box-shadow: inset 0 0 5px 0 rgba(255,255,255,0.5);
		-o-box-shadow: inset 0 0 5px 0 rgba(255,255,255,0.5);
	}
	#home-block-news{width:100%;padding:0px;}
	body.home #content{padding:0px;}
	.news li:nth-child(2) a{margin:0px;}
	.news li:first-child{background:none;}
	.news li:first-child>a:before{background:none;}
	.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
		color: #fff;
		text-decoration: none;
		background-color: #039be5;
		outline: 0;	
	}
	.custom-drop li:first-child.active>a, .custom-drop li:first-child.active>a:focus, .custom-drop li:first-child.active>a:hover {
		color: #fff;
	}
	.custom-drop li:first-child>a{padding: 3px 20px;color:#3a3a3a;text-transform:none;margin:0;}
	.dropdown-menu>li>a {
		display: block;
		padding: 3px 20px;
		clear: both;
		font-weight: 400;
		line-height: 1.42857143;
		color: #333;
		white-space: nowrap;
	}
	#wrap #inner #content-sidebar-wrap #content #home-block-news .itemblock {
		width:100%;
		margin-right: 13px;
	}
	.group-area-home .kn .gitem {
		margin-right:8px;
	}
	.group-area-home .kn .kythuat,
	.group-area-home .kn .supham,
	.group-area-home .kn .congan {
		margin-right: 0px;
		float: right;
	}
	.gitem p.ng1{
		font-size: 14px;
	}
	.gitem p.ng2 {
	font-size: 20px;
	}
	.gitem i {
		font-size:40px;
		left: 4px;
		top: 20px;
	}
	.group-area-home .gitem a.aarea:hover i{left: 90px;}
	.congan i.congan {
		height: 50px;width: 60px;
		background-size: 77%;
	}
	.tinmoi_header .list li a{
		width: 100%;
		font-size: 17px;
		margin-top: 10px;
		line-height: 25px;
	}
	#caia-post-list-8 ul li{border:none;padding: 5px;}
	#caia-post-list-8 ul li h3 a{
		font-size: 15px;width: 100%;
		display: block;
		min-height: 160px;
	}
	#caia-post-list-7 ul a{font-size: 17px;}
	.newsts ul li a{font-size: 17px;}
	#caia-post-list-9  ul li h3 a{font-size: 16px;padding:0px;}
	#sidebar-home{width:100%;}
	#caia-post-list-8 ul li img{
	width: 100%;
		height: 100px;
	}
	.newsdh{padding:10px;}
	.newsts{width:100%;padding: 17px;}
	body.category #content, body.tax-nhom_nganh #content, .tax-muc_diem_chuan #content{width:100%;}
	.archive-head .intro {
		width: 80%;
	}
	.searchformts{
		background-size:cover;
		display: none;
	}
	.intro-search h4{font-size: 11px;}
	.searchformts .uwpqsf_class{width:44%;}
	.searchformts .uwpqsf_class select{width:100%;}
	#wrap #inner #content-sidebar-wrap #content .listpost .itemblock{width: 33%;padding: 5px;margin: 0px;}
	.listpost .itemblock  .item img{width: 100%;height: 75px;margin-right: 0px;}
	.listpost .itemblock { margin-left: 0px; height: 155px; }
	.group-area .gitem{width:48%;margin-bottom:10px;margin-right:0px;}
	.group-area-ct .gitem{width:48%;margin-bottom:10px;margin-right:0px;}
	.group-area .kythuat,.group-area .supham,.group-area-ct .kythuat,.group-area-ct .supham {
		float:right;
	}
	.wrap-news{width:100%;}
	#tin-tuc .main-news {
		padding:0px;
		border: 0px;
	}
	.widget-tintuc .desctt{width: 100%;}
	.widget-tintuc a.aimg {
		width:30%;
		float: left;
		height: auto;
		margin-right: 0px;
	}
	.news-sidebar{width:100%;}
	/*single*/
	body.single #content{width:100%;/* padding: 20px 5px 5px; */}
	#boxNewest .item img{height: 105px;}
	#main-info .top-info .desc-info{width: 100%;margin-left:0px;}
	.block-gd{width:100%;}
	.block-nd{width:100%;padding:5px;}
	#nhomnganh ul li{width:44%;min-height: 326px;}
	#nhomnganh ul li:last-child{display:none;}
	.list-area .itemkv{width:50%;}
	.list-area img{height: 120px;}
	.gitem a.aarea:hover i,.group-area-ct .gitem a.aarea:hover i{left:95px;}
	.yduoc  i.yduoc{height: 75px;width: 50px;background-size: 100%;}
	.yduoc  i.vanhoa{height: 75px;width: 43px;background-size: 100%;}
	#caia-post-list-9  ul li img{width:85px;float:left;margin: 0px 15px 0px 0px;}
	#caia-post-list-9  ul li {padding-bottom: 15px;overflow: hidden;}
	/* .news1 .item img {
		width: 130px;
		height: 100px;
	} */
	.news1 .item a.aname {
		width: 90%;
		margin-left: 0px;
		font-size: 17px;
	}
	.entry-content a.star,.entry-content span{font-size: 17px;}
	.taxonomy-description h1.archive-title{font-family: "mytitle";font-size: 28px;text-transform: none;}
	.listpost .itemblock a{min-height: 158px;font-size: 13px;}
	#lienthong .listpost .itemblock .item img{width:100%;height: 110px;}
	#lienthong .listpost .itemblock{width:46%;margin-bottom:0px;min-height: 210px;}
	#lienthong .listpost .itemblock a{min-height: 156px;}
	#header .widget-area{width:100%;}
	#header .header-widget-area a img{height: auto;}
	.header-widget-area{display: block;}
	.group-area-ct .congan{float:left;}
	body.term-khoi-su-pham .group-area-ct .vanhoa{
		float: right;margin-right: 0px;
	}
	.lof-main-outer #ct-morelink {
		padding: 0px 6px 0px 6px;
	}
	.news-block {
		width: 100%;
		margin: 0px 0px 15px 0px;
		height: auto;
	}
	.block-wrap .main-posts h3~ a:first-of-type {
		width: 100%;
	}
	.group-area-home .kn1 {
		width: 100%;
	}
	ul.tuyensinh-online-wrapper li {
		width: 47%;
		margin: 5px;
	}
	ul.content-wrapper li {
		width: 46%;
		margin-bottom: 10px;
	}
	.older-posts-tintuc {
		float: none;
		margin: auto;
	}
	.block h3.title-block {
		height: auto;
	}
	.block-wrap .main-posts p {
		height: auto;
	}
	/** Mobile **/
	ul#ct-mobile {
		display: inline;
		margin-top: 10px;
		width: 100%;
		float: left;
		list-style-type: none;
	}
	ul#ct-mobile li {
		border-top: 2px solid #337ab7;
		padding: 10px 0;
		width: 100%;
		float: left;
	}
	ul#ct-mobile li h3 {
		font-weight: bold;
		font-size: 20px;
		text-align: left;
	}
	ul#ct-mobile li p {
		font: normal 15px/1.4 arial;
		color: #4F4F4F;
	}
	#ct-morelink{
		display: none;
	}
	.slide-mobile {
		float: left;
		margin-right: 10px;
	}
	body.home .lof-main-outer a.slide-mobile img {
		width: 135px;
		height: 105px;
	}
	.lof_navigator_outer ul.lof_navigator li a {
		font-weight: bold;
	}
	#desktop-centent{ display:none; }
	#mobile-centent { display:  inline;}
	.news-block-tintuc-mobile {
		width: 100%;
		float: left;
	}
	.block-title-mobile {
		background-color: #06c;
    border-bottom: 3px solid #66bcfe;
		padding: 10px 0px 10px 6px;
		display: block;
	}
	.block-title-mobile a {
		color: #fff;
		font-weight: bold;
		font-size: 14px;
	}
	.block-title-mobile a.xemtatca-mobile {
		font-size: 12px;
		margin: 0px 12px 0px 0px;
		float: right;
		width: 20px;
		height: 20px;
		background-color: #fff;
		border-radius: 11px;
		text-align: center;
		color: #039be5;
		padding-top: 4px;
	}
	.caia-block-item-mobile a {
		width: 100%;
		float: left;
	}
	.caia-block-item-mobile a img {
		width: 100%;
		border: 1px solid #ddd;
		padding: 3px;
		height: 220px;
	}
	.title-block-mobile {
		width: 100%;
		float: left;
	}
	.title-block-mobile a {
		color: #000;
		font-size: 18px;
		font-weight: bold;
		text-align: left;
	}
	ul.older-posts-tintuc-mobile li {
		border-top: 1px solid #ddd;
		width: 100%;
		float: left;
		padding: 10px 0px 10px 0px;
	}
	ul.older-posts-tintuc-mobile li {
		width: 100%;
		float: left;
		list-style-type: none;
	}
	ul.older-posts-tintuc-mobile li a img{
		height: 90px;
		width: 30%;
		border: 1px solid #ddd;
		padding: 3px;
		float: left;
	}
	ul.older-posts-tintuc-mobile li a h3 {
		width: 65%;
		float: left;
		margin-left: 10px;
		font-size: 15px;
		text-align: left;
		font-weight: bold;
	}
	#news-block-0,
	#news-block-1,
	#news-block-2,
	#news-block-3,
	#news-block-4,
	#news-block-5,
	#news-block-6,
	#news-block-7 { display: none; }
	.lof-main-outer .lof-main-item-desc p {
		font: normal 15px/1.4 arial;
		color: #4F4F4F;
	}
	.lof_navigator_outer ul.lof_navigator li {
		background-position: 0px 15px;
		padding: 10px 10px 10px 15px;
	}
	.quang-cao {
		width: 100%;
		float: left;
		margin-bottom: 15px;
	}
	.content-quangcao {
		height: 250px;
		margin: auto;
		width: 300px;
	}
	.block-title {
		display: none;
	}
	h2.block-title-mobile a {
		color: #fff;
		text-transform: uppercase;
	}
	.time-mobile {
		color: #888;
		font-size: 11px;
		width: 66%;
		float: left;
		margin: 15px 0 0 10px;
	}
	.DMCA {
		width: 25%;
		margin: 0px;
		position: relative;
	}
	.DMCA>a>img{
		position: absolute;
		top: -134px;
    	left: 420px;
    	height: 65px;
	}
	/**
	 * Category
	 */
	.main-news .widget-tintuc .desctt {
		width: 100%;
		height: auto;
		display: none;
		margin: 0;
	}
	.widget-tintuc span.time {
		/* padding: 5px; */
		display: block;
	}
	#tin-tuc .wrap-news .main-news .widget-tintuc .title-category {
		margin-right: 10px;
		height: auto;
	}
	.category-mobile {
		width: 70%;
		float: left;
	}
	.widget-tintuc span.xt a {
		float: right;
		margin-top: 3px;
	}
	.widget-tintuc span.xt {
		width: 100%;
		float: left;
	}
	#tin-tuc .wrap-news .main-news .widget-tintuc:first-child .category-mobile {
		width: 100%;
		float: left;
	}
	#tin-tuc .wrap-news .main-news .widget-tintuc:first-child a.aimg {
		width: 100%;
		height: auto;
	}
	#tin-tuc .wrap-news .main-news .widget-tintuc:first-child a.aimg img {
		width: 100%;
		height: auto;
	}
	#tin-tuc .wrap-news .main-news .widget-tintuc:first-child .desctt {
		/* padding: 5px; */
		display: block;
		width: 100%;
	}
	#tin-tuc .wrap-news .main-news .widget-tintuc:first-child .desctt #random-post {
		display: none;
	}
	.desctt ul#ct-mobile li h3 {
		font-size: 15px;
	}
	#tin-tuc .wrap-news .main-news .widget-tintuc:first-child .desctt #ct-mobile li a img {
		width: 100px;
		height: 85px;
		border: 1px solid #f1f1f1;
	}
	#tin-tuc .wrap-news .main-news .widget-tintuc:first-child .desctt #ct-mobile li p {
		font-size: 13px;
		display: inline;
	}
	#tin-tuc .wrap-news .main-news .widget-tintuc:first-child .desctt p {
		font-size: 18px;
		display: inline;
	}
	.quang-cao-1-category {
		display: none;
		width: 49%;
		float: left;
	}
	.quang-cao-2-category {
		width: 100%;
		float: right;
		margin-bottom: 10px;
		display: flex;
	}
	.adsbygoogle { margin: auto; }
	.news-tb .archive-description .archive-head .nums-post {
		width: 20%;
		height: 85px;
	}
	.taxonomy-description .intro p {
		padding: 5px 10px 0 5px;
	}
}

@media all and (min-width:480px)and (max-width:1184px) {
	
	body.home #caia-post-list-8 ul li h3 a {min-height: 165px;}
	.widget-tintuc .desctt{width: 45%;}	
	.news .item img{width:50px;height: 50px;}
	#caia-post-list-8 ul li{padding:0px 5px;}
	#caia-post-list-8 ul li h3 a{min-height: 165px;}
	#title a, #title a:hover{background-size: 70%;}
	img.imglogo{float:left;padding-right:5px;}
	.flexible-block .older-posts ul li{background:#F1F1F1 url(images/red-star.gif) 0px 11px no-repeat;}
	#title a, #title a:hover{width: 100%;}
	.mntop{display: none;width: 100% !important;}
	#blocktop .widget_nav_menu ul li{padding: 5px 8px 5px 28px !important;margin: 0px 2px 0px 0px !important;}
	p#sologan{margin-top:-14px;}
	span.textstyle{font-size:14px;color:#00f6ff;display:block;}	
	span.textlogo{font-size:17px;font-weight:bold;color:#ffffff;text-transform:uppercase;width:130%;display:block;}
	#nav .slicknav_menu a.slicknav_btn{height:30px;width:100%;}
	.slicknav_btn {
		margin:5px 8px 10px !important;
	}
	#nav .slicknav_menu ul.slicknav_nav{padding-top:17px;}
	#nav .wrap{width:100%;}
	.lof_navigator_outer{width:100%;float:left;}
	.right-new{display:none;}
	#text-12{display:none;}
	.fuckh{display:none;}
	#panel_chat_vatgia{display:none;}
	body.home .lof_slidecontent{width:100%;}
	body.home .lof-main-outer{width:100%;float:none;}
	body.home .lof-main-outer a img {
		height:235px;
	}
	body.home .lof_navigator_outer ul li a img{height:140px;}
	body.home .lof_navigator_outer ul li {
		width: 100%;
		margin: 0px 5px 5px 0px;
		float: left;
	}
	body.home .lof_navigator_outer ul li:nth-child(2n){margin-right: 0px;}
	h3.h3_slide a{display:block;font-weight:bold;}
	h3.h3_slide a:hover{color:#154AB0;}
	.quangcao-center{display:none;}
	#content-sidebar-wrap{width:99%;}
	#content{width:100%;}
	.block-title span {		
		background: url(../images/border-sp-1.png) no-repeat right center;
		/* width: 185px; */
		float: left;
		text-indent: 12px;
		height: 32px;
		color: #ffffff;
		font-size: 13px;
		font-weight: bold;
		line-height: 26px;
		padding: 0px 20px 10px 0px;
	}
	.block-title{border:none;}
	.caia-block-item h3,
	.caia-block-item p {
		float:none;
		display: block;
	}
	.caia-block-item img {
		min-width: 100%;
		margin-left: 0;
	}
	#nav_menu-3{display:none;}
	#fb1 p{color:#d1f4ff;font-size:12px;}
	#fb1 p.fb1t{text-transform:uppercase;}
	#fb2 p{color:#6bdaff;font-size:12px;}
	#fb3 span{font-size:12px;}
	#fb3 span.rednum{color:#cc1d00;}
	#fb3 span.hotline{text-transform:uppercase;color:#feffff;padding-left:21px;}
		#fb3{background:url(images/icon_phone_ft.png) no-repeat center left;}
		#metro_menu{display:block;background-color:#1D1D1D;height:163px;}
	#metro_menu a{color:#ffffff;text-decoration:none;font-size:13px;}
	.tracuu{background-color:#666666;width:45%;height:143px;float:left;margin-left:11px;margin-top:9px;margin-right:11px;}
	.tracuu a {
		background:url(images/icon-tracuu.png) no-repeat top center;
		background-position:center 25%;
		height:45px;
		display:block;
		padding:82px 0px 0px 0;margin-left:3px;
	}
	.thuvien{background-color:#1673D2;width:23.3%;height:68px;float:left;margin-right:9px;margin-bottom:6px;}
	.thuvien a {
		background:url(images/icon-thuvien.png) no-repeat top center;
		width:85%;height:10px;
		background-position:center 25%;
		display:block;padding:30px 0px 0px 0px;margin-left:8px;text-align:center;
	}
	.tin {
		background-color:#008A00;
		width:23.3%;height:68px;
		float:left;
	}	
	.tin a {
		background:url(images/icon-tin.png) no-repeat top center;
		width:85%;height:10px;
		background-position:center 25%;
		display:block;
		padding:30px 0px 0px 0px;
		margin-left:8px;
		text-align:center;
	}	
	.chitieu {
		background-color:#FD5C04;
		width:48.5%;height:68px;float:left;
	}
	.chitieu a {
		background:url(images/icon-chitieu.png) no-repeat top center;
		width:180px;height:35px;background-position:left 50%;
		display:block;padding:15px 0px 20px 30px;margin-left:5px;
		text-align:center;
	}
	#ttc{padding-top:10px;}
	body.category .lof_slidecontent{width:100%;}	
	body.category .lof-main-outer{width:100%;margin-top:6px;}
	body.category .lof-main-outer img{width: 100% !important;height: 300px;}
	body.category .lof_navigator_outer{display:none;}
	/* body.category .widget-tintuc{overflow:hidden;}
	body.category .widget-tintuc img{margin-left: 0%;width: 100%;height: 150px;}*/
	body.page .entry-content input{width:310px;}
	body.page .entry-content textarea{width:299;}
	body.page .entry-content input.wpcf7-submit{width:54px;}
	body.page .entry-content span{font-size:12pt !important;}
	.news-relate ul.ul-relate li img{width: 40% !important;}
	#search-2 input[type="text"]{width: 70% !important;}
	.news .itemblock {
		width:45%;
	}
	.gitem i {
		font-size: 60px;
		left: 15px;
		top: 20px;
	}
	.gitem p.ng1 {
		font-size: 16px;
	}
	.gitem p.ng2 {
		font-size: 25px;
	}
	.congan i.congan{background-size:100%;}
	.group-area-home .gitem a.aarea:hover i{left: 140px;}
	.tinmoi_header .list li a{width:70%;}	
	#caia-post-list-8 ul li img {width: 100%;height: 125px;}
	/*.widget-tintuc a.aimg{width:50%;}*/
	.listpost .itemblock{width:33%;}
	.list-area img {height: 135px;}	
	#main-info .top-info .hinh-anh-truong{width:100%;}
	#main-info .top-info .hinh-anh-truong img {width: 100%;}
	#nhomnganh ul li {width: 29%;}
	.gitem a.aarea:hover i,.group-area-ct .gitem a.aarea:hover i{left:130px;}
	#lienthong .listpost .itemblock{width:31%;}
	#wrap #inner #content-sidebar-wrap #content #home-block-news .itemblock .item .aname{width: 62%;margin-left: 10px;}	
	.news1 .itemblock{    width: 47%;}
	.listpost .itemblock .item img{width: 100%;height: 110px;}
	.listpost .itemblock a{min-height: 175px;}
	#lienthong .listpost .itemblock a{min-height: 175px;}
	.widget-tintuc p{display: none;}
}

@media all and (min-width:568px) and (max-width:1184px) {
	.cac-buoc-luyen-thi ul li .left{
		padding: 45px 0 8px 72px;
	}
#caia-post-list-8 ul li {padding: 0px 10px;}
.lof_navigator_outer ul li h3{display: block;}
	
body.home #caia-post-list-8 ul li h3 a{min-height: 65px;}
	
#caia-post-list-8 ul li h3 a{min-height: 200px;}
body.category .widget-tintuc img{height: 195px;}
	
.news .item img{width:70px;height: 70px;}
.news .itemblock {width: 48%;}

	#blocktop .widget_nav_menu ul li{margin: 0px 10px 0px 9px !important;padding: 5px 15px 5px 33px !important;}

	.lof_navigator_outer{width:40%;float:left;margin:0px;}
	
body.home .lof_navigator_outer ul li {
	width: 100%;
	margin: 5px 5px 5px 5px;
	float: left;
	min-height: 85px;
	padding: 5px 10px 7px;
}
body.home .lof_navigator_outer ul li:last-child{display:none;}
body.home .lof_slidecontent{width:100%;margin-bottom: 10px !important;}
body.home .lof-main-outer{width:60%;float:left;}
body.home .lof-main-outer a img{width:100%;height:300px;margin-top:3px;}
.lof-main-outer h3.ginuaday a{color:#3a3a3a;}
h3.h3_slide a:hover{color:#154AB0;}
.quangcao-center{display:none;}
#content-sidebar-wrap{width:99%;}
#sidebar{width: 43%;display: block;}
.more-from-category {
    padding: 5px 15px 0 152px;
}
#nav_menu-3{display:none;}
#footer{width:100%;background-image:none;}
#footer .wrap{background-color:#161C29;background-image:none;padding-left:10px;}
#ftmbi span.fmbt{font-size:21px;color:#02c802;text-transform:uppercase;}
#fb1 p{color:#d1f4ff;font-size:12px;}
#fb1 p.fb1t{text-transform:uppercase;}
#fb2 p{color:#6bdaff;font-size:12px;}
#fb3 span{font-size:12px;}
#fb3 span.rednum{color:#cc1d00;}
#fb3 span.hotline{text-transform:uppercase;color:#feffff;padding-left:21px;}
#fb3{background:url(images/icon_phone_ft.png) no-repeat center left;}
#metro_menu{display:block;background-color:#1D1D1D;height:163px;}
#metro_menu a{color:#ffffff;text-decoration:none;font-size:13px;}
.tracuu {
	background-color:#666666;
	width:45%;
	height:143px;
	float:left;
	margin-left:11px;
	margin-top:10px;
	margin-right:11px;
}
.tracuu a {
		background:url(images/icon-tracuu.png) no-repeat top center;background-position:center 25%;
		height:45px;display:block;padding:82px 0px 0px 0;margin-left:3px;
	}
	
.thuvien{background-color:#1673D2;width:23.6%;height:68px;float:left;margin-right:10px;margin-bottom:6px;}
	
.thuvien a {
		background:url(images/icon-thuvien.png) no-repeat top center;
		width:85%;height:10px;background-position:center 25%;display:block;
		padding:30px 0px 0px 0px;margin-left:8px;text-align:center;
	}
	
.tin{background-color:#008A00;width:23.6%;height:68px;float:left;}
	
.tin a {
		background:url(images/icon-tin.png) no-repeat top center;width:85%;
		height:10px;background-position:center 25%;display:block;padding:30px 0px 0px 0px;
		margin-left:8px;text-align:center;}
.chitieu{background-color:#FD5C04;
		width:49.2%;height:68px;float:left;
	}
	
.chitieu a {
		background:url(images/icon-chitieu.png) no-repeat top center;width:180px;
		height:35px;background-position:left 50%;
		display:block;padding:15px 0px 20px 30px;margin-left:5px;
		text-align:center;
	}
	
#ttc{padding-top:10px;}
#content-sidebar-wrap .wp-caption{width:60% !important;}
	
body.single img.size-full{width:80%;}
	
body.category .lof_slidecontent{width:100%;}
	
body.category .widget-tintuc{overflow:hidden;}
	
body.category .widget-tintuc img{margin-bottom:25px;margin-left:0%;}
	
body.category .lof-main-outer{width:50%;margin-top:6px;}

	body.category .lof_navigator_outer{display:block;width:47%;margin-top:6px;}
	
body.category #caia-post-list-5{display:block;}
body.category-du-hoc-nhat-ban .lof-main-outer{width:100% !important;}

	.gitem a.aarea:hover i,.group-area-ct .gitem a.aarea:hover i{left:180px;}
	
.yduoc  i.yduoc{width:65px;}
#caia-post-list-8 ul li img{height: 160px;}
	
.newsts{width:50%;}
.newstc{clear:both;}
#nhomnganh ul li {width: 29%;min-height: 255px;}
	
.group-area-ct .gitem{
	width: 49%;
	margin-right: 10px;
    margin-bottom: 10px;
}
	
.group-area-ct .kythuat,.group-area-ct .supham,.group-area-ct .kythuat{
	float: right;
    margin-right: 0px;
}
	
.listpost .itemblock{width:25%;}
#lienthong .listpost .itemblock {width: 23%;}

	#lienthong .listpost .itemblock a {min-height: 195px;}

}

@media all and (min-width:600px) and (max-width:1184px) {
	
#caia-post-list-8 ul li{border:none;}
p.desc{display: block;}
	
.js .genesis-nav-menu{display:none;}
	
.js .slicknav_menu{display:block;width:100%;}

	img.imglogo{float:left;padding-right:15px;margin-top:-11px;margin-left:5px;}
	
p#sologan{margin-top:-4px;width:430px;}

	span.textstyle{font-size:18px;color:#00f6ff;display:block;padding-right:5px;margin-top:4px;float:left;}

	span.textlogo{font-size:22px;font-weight:bold;color:#ffffff;text-transform:uppercase;width:130%;display:block;}
	
#nav .slicknav_menu a.slicknav_btn{height:30px;width:100%;}
.slicknav_btn{margin:5px 8px 10px !important;}
	
#nav .slicknav_menu ul.slicknav_nav{padding-top:17px;}
	
#metro_menu{display:block;background-color:#1D1D1D;height:163px;height:100px;}

	#metro_menu a{color:#ffffff;text-decoration:none;font-size:13px;}

	.tracuu{background-color:#666666;width:34.9%;height:80px;float:left;margin-left:11px;margin-top:10px;margin-right:11px;}
	
.tracuu a {
		background:url(images/icon-tracuu.png) no-repeat top center;
		width:135px;height:49px;background-position:left 50%;
		display:block;padding:10px 0px 20px 68px;margin-left:10px;
	}
	
.thuvien{background-color:#1673D2;width:13.4%;height:80px;float:left;margin-right:10px;margin-bottom:6px;}
	
.thuvien a {
		background:url(images/icon-thuvien.png) no-repeat top center;
		width:85%;height:10px;background-position:center 25%;display:block;
		padding:40px 0px 0px 0px;margin-left:8px;text-align:center;
	}
	
.tin{background-color:#008A00;width:17.5%;height:80px;float:left;margin-right:10px;}

	.tin a {
		background:url(images/icon-tin.png) no-repeat top center;
		width:85%;height:10px;background-position:center 25%;
		display:block;padding:40px 0px 0px 0px;margin-left:8px;text-align:center;}
	
.chitieu{background-color:#FD5C04;width:25.5%;height:80px;float:left;}

	.chitieu a {
		background:url(images/icon-chitieu.png) no-repeat top center;width:100px;height:35px;
		background-position:left 50%;display:block;padding:15px 0px 20px 30px;margin-left:5px;
		text-align:center;
	}
	
#ttc{padding-top:10px;}
#inner{width: 95%;}
#nav{margin-top:7px;min-width:100%;}

	#nav .wrap{width:100%;}
.quangcao-center{display:none;}
#content-sidebar-wrap{width:99%;}
	
#content{width:56%;}

	.block-title span{background:url(images/chamxanh.png) left center no-repeat;padding-left:5px;text-transform:uppercase;margin-top:0px;color:#154ab0;}
	
h2.block-title{background:none;border-bottom:1px solid #CDCDCD;border-top: none;}
	
.block-title{border:none;}

	.extra-menu{left:115px;margin-top:2px;}

	.extra-menu ul li a{text-transform:uppercase;font-weight:bold;border-left:2px solid #154ab0;color:#154ab0;padding-right:9px;border-right:none;}
.extra-menu ul li a:hover{color:#3a3a3a;text-decoration:none;}
#menu-225,#menu-81{width:465px;left:140px;}
#hupso_counters_0{display:block;}
body.single .right-new{display:block;width:100%;}
body.category .lof-main-outer{width:55%;margin-top:6px;}
body.category .lof_navigator_outer{display:block;width:41.8%;}
body.category #caia-post-list-5{display:block;}
.news-relate ul.ul-relate li{width: 30% !important;padding-right: 10px !important;padding-left: 8px;border: none;}
.news-relate ul.ul-relate li img{width: 100% !important;height: 120px !important;}
#main-info .top-info .desc-info {width: 50%;margin-left: 10px;}
	
#main-info .top-info .hinh-anh-truong {width: 48%;}

}


@media all and (min-width:768px) and (max-width:1184px){
/* #wrap #content-sidebar-wrap #content .therain .lof_slidecontent .lof-main-outer{
	width: 60% !important;
	float: left !important;
}
#wrap #content-sidebar-wrap #content .therain .lof_slidecontent .lof_navigator_outer{
	width: 40% !important;
	margin-top: 3px;
} */
.adver_top_home{display: none !important;}
.DMCA>a>img{
	top: -100px;
    left: 880px;
}
.fixed2{position: fixed;width: 35%;}
	
body.single #sidebar{display: none;}
body.single #caia-post-list-8 ul li h3 a{min-height: 130px;}

/* .vietnit-post-list-widget{width: 48% !important;} */
#caia-post-list-8 ul li img{height: 75px;}
	
#caia-post-list-8 ul li h3 a{min-height: 180px;}
#nav{display: block;}

	#blocktop{margin-top: 0px;padding:5px 0px 2px 0px !important;}
	
#blocktop .menu-blocktop-container ul li {
	padding: 5px 10px 5px 30px !important;
	margin: 0px 4px 0px 0px !important;
	font-size: 12px !important;
}	
.menu-primary a, .menu-secondary a, #header .menu a {
	padding: 10px 8px;
}
	
#title-area{float: left;width: 40%;}

ul#menu-mainmenutop>li.menu-item-has-children>a::after{content:"";}
.navbar-custom{display: none !important;}
body.home .lof-main-outer a img{height: 265px;}
body.home .lof-main-outer{float: left;width: 50%;}
body.home .lof_navigator_outer ul li{width: 100%;}
body.home .lof_navigator_outer ul li{min-height: 55px;}
body.home .lof_navigator_outer ul li a img{width: 75px !important;height: 55px !important;}
h3.h3_slide{float: initial;clear: none;}
.lof-main-item-desc p{display: block;}
.niemdauchondau{width: 30%;}
.ads{display: none !important;}
.lof_navigator_outer{width: 48%;float: right;}
.row {
	margin-right: 20px !important;
	margin-left: 20px !important;
}
#panel_chat_vatgia{display:block;}
#blocktop .widget_nav_menu ul li {margin: 0px 2px 0px 1px !important;padding: 5px 6px 5px 25px !important;}
.mntop {display: block;width: 57% !important;}
.date {width: 38%;display: block;margin-top: 5px !important;}
.sphl{width: 150px;}
#caia-post-list-6 ul li, #footer-widgets .widget-area ul li{width: 46%;}
#header .widget-area{margin-right: 5px;display: block;width: 55%;}
#title a, #title a:hover{width: 295px;background-size: 280px 65px;margin-left: 5px;display: block;}
.quangcao-center{display:block;width:100%}
#sidebar{display:block;width:34%;}
	
.niemdauchondau a img{height:60px;}
.niemdau{border-bottom:none;}

	#content-sidebar-wrap{width:99%;}
	
#content{width:65%;}

	.nhip span{background:url(images/chamxanh.png) left center no-repeat;color:#154ab0;padding-left:15px;}

	.thuvien{width:14.4%;}
.tin{width:18.5%;}
body.category .lof_navigator_outer{width:42%;}
	
body.category .lof-main-outer{width:55%;float: left;}
body.category-du-hoc-nhat-ban .lof-main-outer{width:35%;}
	
body.category-du-hoc-nhat-ban .lof_slidecontent-duhoc{display:block;}
	
body.page #caia-post-list-5{display:block;}
	body.page #content-sidebar-wrap{width:100%}
	
body.page #content{border-right:1px solid #f1f1f1;}
	
body.home .lof_navigator_outer ul li:last-child{display:block;}

	#caia-post-list-8{/* width: 48%; */float: left;/* margin-right: 10px; */}
.newsts{width: 50%;padding: 10px;}

	.newstc{clear:both;}
.menu-blocktop-container{display:none;}
.more-from-category{
	    padding: 5px 15px 0 155px;
}
	
body.category #content, body.tax-nhom_nganh #content, .tax-muc_diem_chuan #content{width:65%;}
	
.sphl{width:100%;}
#infosv .if1 i.fa-graduation-cap,#infosv .if1 i.fa-book{font-size:20px;}

	.group-area .gitem{width:32%;margin-right: 14px;}
.group-area-ct .gitem{width: 32%;margin-right: 8px;}

	.group-area-ct  .congan{float:left;}
body.term-khoi-su-pham .group-area-ct .vanhoa{float:left;margin-right: 10px;}

	.gitem a.aarea:hover i, .group-area-ct .gitem a.aarea:hover i {left: 155px;}
	
.group-area .kythuat, .group-area .supham,.group-area-ct .kythuat, .group-area-ct .supham,.group-area-ct .yduoc{float:left;}
	
.group-area .yduoc{float:right;margin:0px;}
body.term-khoi-bo-doi-cong-an .group-area-ct .vanhoa{float:left;}
	
.gitem a.aarea:hover i{left: 155px;}
.block-nd{width: 63%;}
	
.block-gd{width: 37%;}
body.single-format-aside #sidebar,#lienthong #sidebar{display:none;}
	
#nhomnganh ul li{width: 22%;}
.list-area .itemkv{width: 33%;}
	
#footer .thanh, #footer .vu{width:50%;}
	
#lienthong .listpost .itemblock{width: 31%;}
#lienthong .listpost .itemblock .item img{height: 110px;}

	#lienthong .listpost .itemblock a {min-height: 175px;}
.news .itemblock{width: 47%;}

	.news .item img {width: 60px;height: 60px;}

}

@media all and (min-width:800px) and (max-width:1184px) {
	#content{width:68%;}
.menu-primary a, .menu-secondary a, #header .menu a{padding: 10px 9px;}

	#sidebar{width:31%;}
body.category-du-hoc-nhat-ban .lof-main-outer{width:37%;}
body.single #content{width:100%;}
	
body.single #sidebar{width:36%;}
body.home .lof_slidecontent{width:68%;}

	.right-new{display:block;width:31%}
body.home .lof-main-outer{width:60%;}
	
.lof_navigator_outer{width:40%;}
body.home .lof_navigator_outer ul li:last-child{display:none;}
	
body.category #content, body.tax-nhom_nganh #content, .tax-muc_diem_chuan #content{width:68%;}

	.block-gd{width: 35%;}
.block-nd{width:65%;}
.fixed2{width: 31%;}

}

@media all and (min-width:992px) and (max-width:1184px) {
	
body.single #sidebar{display: block;}

	.fixed2{width: 295px;}
.menu-primary a, .menu-secondary a, #header .menu a{padding: 10px 20px;}
	
.news li:first-child {

		background: #047ACE;
	
}
	
.news li:nth-child(2) a{margin-left: 15px;}

	.group-area-home .gitem a.aarea:hover i{left:220px;}
	
.gitem a.aarea{padding: 18px 20px;}
	
.newsts{width:33%;}

	.newstc{float:left;}
	
.gitem a.aarea:hover i{left:230px;}
	
body.single #sidebar{width:30%;}
	
body.single-format-aside #sidebar, #lienthong #sidebar{display:block;}
	
body.single #content{width:70%;}
	
#nhomnganh ul li{width: 14.7%;}

}
@media all and (min-width:320px) and (max-width:1184px) {
	#main-info .top-info .hinh-anh-truong {
		width: 100%;
	}
	.image-form-dang-ky {
		display: none;
	}
	.form-dang-ky {
		width: 100%; float: left;
	}
	html .formcraft-css .fc-form .form-page-content {
		padding: 0px 0px 0px 0px !important;
	}
}

/* tùng ngày 29/1 */
@media all and (min-width:320px) and (max-width:1184px){
	#wrap .slider-home .menu-luyenthi .cac-mon-hoc .menu-luyenthi-menu-container ul li{
		width: 47%;
		margin-right: 3px;
		max-height: 116px;
		margin-left: 6px;
		margin-bottom: 6px;
	}
	.slider-home .giao-vien ul li {
    width: 47%;
	}
	.giao-vien ul li {
	width: 47%;
    float: left;
    margin-right: 3px;
    list-style-type: none;
    margin-left: 6px;
	}
	#wrap .slider-home .menu-luyenthi .cac-mon-hoc .menu-luyenthi-menu-container ul li:last-child{
		float: none;
	}
	.giao-vien ul li .col .images {
    min-height: 85px;
    position: relative;
	}
	.giao-vien ul li .col .title {
   font-size: 12px;
	}
	.giao-vien ul li .col .price{
		padding: 5px;
	}
	.slider-home .giao-vien ul li:last-child {
    float: none;
	}

	/* ngày 30-1-2018 page-giao-vien */
	.home-luyenthi p{
		font-size: 12px;
	}
	.cac-buoc-luyen-thi{
		margin-top: 12px;
	}

	#highlight{
		max-height: 800px;
	}
	.fixed{
		top:-300px;
		display: none;
	}
	/* tùng ngày 21-2 */
	.view .navbar-collapse{
		max-height: 495px;
	}
	/* .logo{
		width: 145px;
	} */
	.banner-category{
		display:none ;
	}
	.socialbutton{
		position: relative;
		top: 0;
		left: 0;
	}
	.twitter-share-button{
		position: relative;
	}
	#___plus_0{
		margin-left: 0 !important;
	}
	.taxonomy-count{
		left: 80.7%;
		top: 235px;
		width: 14%;
	}
	.widget-tintuc:nth-child(4){
		height: auto !important;
	}
	#wrap #blocktop{
		border: none;
	}
	.butom-gioi-thieu{
		padding: 3px;
		float: left;
		font-size: 10px;
	}
	.tai-lieu-on-mien-phi{
		padding: 3px;
		font-size: 10px;
		margin-left: 3px;
		float: right;
	}


	/* Quảng cáo top home mobile */
	.adver_top_home{
		clear: both;
		display: block;
		width: 100%;
		height: 255px;
    	border: 1px solid #f1f1f1;
    	padding: 1px 10px;
    	background: #000;
	}
	/* end */
	
	


	#wrap #content-sidebar-wrap #content .therain .lof_slidecontent .lof_navigator_outer ul.lof_navigator li{
		
    	background-repeat: no-repeat;
    	background-position: 2px 13px;
	}
	#wrap #content-sidebar-wrap #content .therain .lof_slidecontent .lof_navigator_outer ul.lof_navigator li a{
		/* font-size: 14px; */
		padding: 7px 0;
		font: normal 17px/1.3 helvetica-idesignVn,arial;
		font-weight: bold;
	}
	#wrap #content-sidebar-wrap #content .therain .lof_slidecontent .lof_navigator_outer ul.lof_navigator li:nth-child(2) a,
	#wrap #content-sidebar-wrap #content .therain .lof_slidecontent .lof_navigator_outer ul.lof_navigator li:nth-child(4) a,
	#wrap #content-sidebar-wrap #content .therain .lof_slidecontent .lof_navigator_outer ul.lof_navigator li:nth-child(6) a,
	#wrap #content-sidebar-wrap #content .therain .lof_slidecontent .lof_navigator_outer ul.lof_navigator li:nth-child(8) a,
	#wrap #content-sidebar-wrap #content .therain .lof_slidecontent .lof_navigator_outer ul.lof_navigator li:nth-child(10) a{
		border-top: solid 1px #f1f1f1;
    	border-bottom: solid 1px #f1f1f1;
    	background: #FAFAFA;
	}
	#wrap #inner #content-sidebar-wrap #content #home-block-news .itemblock:nth-child(2),
	#wrap #inner #content-sidebar-wrap #content #home-block-news .itemblock:nth-child(4),
	#wrap #inner #content-sidebar-wrap #content #home-block-news .itemblock:nth-child(6){
		border-top: solid 1px #f1f1f1;
    	border-bottom: solid 1px #f1f1f1;
    	background: #FAFAFA;
	}
	.entry-content ul li{
		font-size: 17px;
	}
	#boxNewest ul li a{
	font-size: 14px;
    font-weight: bold;
	}
	#boxNewest ul li a:hover{
		text-decoration: underline !important;
	}
	#boxNewest ul li{
		padding: 0px 0px 11px 14px;
		line-height: 17px;
	}
	.liketext{
		width: 100%;
	}
	/* giao diện  */
	body{
		background: none;
	}
	
}
/*  giao diện mobile xoay ngang */
@media all and (min-width: 767px) and (max-width:1184px){
	#wrap .slider-home .menu-luyenthi .cac-mon-hoc{
		margin-left: 9px;
	}
	#wrap .slider-home .menu-luyenthi .cac-mon-hoc .menu-luyenthi-menu-container ul li{
		width: 22%;
		margin-right: 10.7px;
		margin-bottom: 5px;
	}
	#wrap .slider-home .menu-luyenthi .cac-mon-hoc .menu-luyenthi-menu-container ul li:last-child{
		float: none;
	}
	.slider-home .giao-vien ul li{
		width: 48%;
		margin-left: 8px;
		margin-right: 0;
	}
}