/* tùng ngày 10-2-2018 */
#wrap #inner #content-sidebar-wrap{
	width: 100%;
}
.content-sidebar #content, .sidebar-content #content{
	width: 785px;
}
.sidebar{
	width: 300px;
}
.home-luyenthi p{
	border-bottom: 1px solid #dfdfdf;
	border-top: #DFDFDF 1px solid;
	background: #F9F9F9;
	padding: 2px;
}
.cac-buoc-luyen-thi{
	margin:10px auto;
	height: 120px;
}
.cac-buoc-luyen-thi ul{
	list-style-type: none;
}
.cac-buoc-luyen-thi ul li{
	float: left;
	width: 31%;
	margin-left: 15px;
}
.cac-buoc-luyen-thi ul li .left{
	padding: 30px 0 30px 17px;
	float: left;
}
.cac-buoc-luyen-thi ul li .left i{
	font-size: 40px;
	color: #FFF;
}
.cac-buoc-luyen-thi ul li .right{
	float: left;
	padding-top: 10px;
	margin-left: 31px;
	text-align: center;
}
.cac-buoc-luyen-thi ul li .right h2{
	color: #FFF;
	font-weight: bold;
}
.cac-buoc-luyen-thi ul li .right .time-khoidong{
	color: #FFF;
}
.cac-buoc-luyen-thi ul li .right p{
	color: #FFF;
}
.cac-buoc-luyen-thi ul li:nth-child(1){
	background: url('../images/luyen-thi/khoa-hoc-1.png');
	background-repeat: no-repeat;
}
.cac-buoc-luyen-thi ul li:nth-child(2){
	background: url('../images/luyen-thi/khoa-hoc-2.png');
	background-repeat: no-repeat;
}
.cac-buoc-luyen-thi ul li:nth-child(3){
	background: url('../images/luyen-thi/khoa-hoc-3.png');
	background-repeat: no-repeat;
}


.thi-thpt-quoc-gia{
	padding: 50px;
	background: url('../images/luyen-thi/Untitled-1.png');
	background-repeat: no-repeat;
}
#main_countedown_1 .time_left{
	background: none !important;
	font-size: 40px !important;
}
#main_countedown_1 .countdown{
	background: url('../images/luyen-thi/background-time.png');
	background-repeat: no-repeat;
	background-position: 161px -14px;
} 
.vi-sao{
	margin-top: 10px;
	height: 270px;
}
/*
.vi-sao h2{
	border-bottom: 1px solid #dfdfdf;
	border-top: 1px solid #dfdfdf;
	background: #f9f9f9;
	padding: 2px 0;
}
*/
.td-icon{
	float: left;
	border: 1px solid #f1f1f1;
    padding: 5px;
    background: #fff;
    border-radius: 50%;
    margin-top: -5px;
    margin-right: 7px;
}
.td-icon i{
	color: #FA9F08;
}
.wapper-visao{
	width: 100%;
}
.videos-visao{
	width: 52%;
	float: left;
}
.list-noibat{
	width: 48%;
	float: right;
	padding-left: 30px;
}
.list-noibat ul{
	margin-top: 10px;
	list-style: none;
}
.list-noibat ul li{
	padding-top: 10px;
}
.list-noibat ul li a{
	font-size: 14px;
}
.list-noibat ul li::before{
	content: '\f138';
	font-family: 'FontAwesome';
	display: inline-block;
	color: #b5afaf;
	margin-right: 5px;
}
.list-noibat>a{
	margin-top:10px ;
	float: left;
	margin-right:30px ;
}
.nhan-tu-van{
	border-radius: 5px;
	padding: 6px;
	color: #FFF;
	background: -webkit-gradient(linear,0 0,0 100%,from(#4f8bfd),to(#0229ea));
	box-shadow: 0 2px 4px #666;
}
.tham-gia-ngay{
	border-radius: 5px;
	padding: 6px;
	color: #FFF;
	background: -webkit-gradient(linear,0 0,0 100%,from(#ffd000),to(#ff5a00));
	box-shadow: 0 2px 4px #666;
}
.menu-luyenthi{
	clear: both;
	margin-top:20px;
	height: 160px;
}
/*.menu-luyenthi h2{
	border-bottom: 1px solid #dfdfdf;
	border-top: 1px solid #dfdfdf;
	background: #f9f9f9;
	padding: 2px;
}
*/
.menu-luyenthi .cac-mon-hoc .menu-luyenthi-menu-container ul{
	width: 100%;
	list-style: none;
}
.menu-luyenthi .cac-mon-hoc .menu-luyenthi-menu-container ul li {
    width: 19%;
    margin-right: 9.7px;
    display: inline-block;
    float: left;
    padding: 20px 0px 20px 0;
    text-align: center;
    background-color: #422f47;
    position: relative;
 }
 .menu-luyenthi .cac-mon-hoc .menu-luyenthi-menu-container ul li:last-child{
 	margin-right: 0;
 	float: right;
 }
 .giao-vien{
  	margin-bottom: 30px;
  }
.vi-sao h2,
.menu-luyenthi h2,
.giao-vien h2{
	border-top: 1px solid #dfdfdf;
	background: #f9f9f9;
	padding: 6px 3px;
    font-size: 14px;
    font-weight: bold;
 }
 .giao-vien ul li{
 	margin-right: 27px;
 } 
 .giao-vien ul li:last-child{
 	margin-right: 0;
 	float: right;
 }
 .price .old-price {
    color: #999;
    text-decoration: line-through;
}
 .list-projects .price .person {
    float: right;
}

.price .discount {
    font-size: 15px;
    color: #fff;
    background-color: #ed1c24;
    padding: 0px 3px;
    text-decoration: none;
    font-weight: bold;
    float: right;
}
 .slider-comment{
 	clear: both;
 	border: 1px solid #f1f1f1;
 	border-radius:10px;
 	position: relative;
 	padding: 20px;
 	margin-top: 20px;
 }
 .slider-comment h2{
 	top: -16px;
    left: 35%;
 	position: absolute;
 	background: url('../images/luyen-thi/h2-y-kien-hoc-sinh.png');
 	background-repeat: no-repeat;
 	display: inline-block;
 	text-align: center;
    top: -16px;
    width: 300px;
    font-weight: bold;
 }
 .carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img{
 	width: 23%;
 	border-radius:50%;
 	margin-left: 60px;
 }
.carousel-caption{
	left: 35%;
	right: 10%;
}
.carousel-indicators{
	position: absolute;
	width: 130px;
	bottom: -31px;
	left: 74%;
	background: #FFF;
}
.carousel-indicators .active{
	background: #cdcdcd;
}
.carousel-indicators li{
	border: 1px solid #cde1cd;
}
.login_post{
	margin-top: 15px;
	padding: 80px 0;
}
.login_post h3{
	text-align: center;
}
.login_post p{
	text-align: center;
}
.form-register{
	display: flex;
    flex-wrap: wrap;
    position: relative;
    box-shadow: 10px 10px 27px 0px rgba(0,0,0,0.13);
    margin-bottom: 30px;
}
.form-left{
	width: 50%;
    text-align: center;
}
.form-left h2{
	font-size: 25px;
	text-transform: uppercase;
}
html .formcraft-css .fc-form .form-page-content{
	padding-bottom: 45px;
}
.form-right{
	width: 50%;
	position: relative;
}
.form-right .button{
	position: absolute;
	left: 40%;
	top: 80%;
	border: 1px solid #fff;
	background: #C53F27;
	color: #fff;
	font-weight: bold;
}
/* html .formcraft-css .fc-form .form-element .form-element-html{
	padding: 1.5em 0.5em;
} */
	/* chuyên mục luyện thi mobile*/


@media all and (min-width:320px) and (max-width:1184px){
	.cac-buoc-luyen-thi ul li{
		width: 28%;
		margin-right: 2px;
		position: relative;
	}
	.cac-buoc-luyen-thi ul li:last-child{
		/* float: none; */
		/* margin-left: 90px; */
		/* margin-top: 5px; */
		background-image: none;
		background: burlywood;
	}
	.cac-buoc-luyen-thi ul li .right {
    	width: 80%;
    	margin: 0;
	}
	.cac-buoc-luyen-thi ul li:nth-child(1){
		background-image: none;
		background: cadetblue;
	}
	.cac-buoc-luyen-thi ul li:nth-child(2){
		background-image: none;
		background: crimson;
	}
	.time-cacbuoc{
		display: none;
	}
	.cac-buoc-luyen-thi ul li .left{
		float: none;
		padding: 45px 0 10px 28px;
		width: 20%;
	}
	.cac-buoc-luyen-thi ul li h2{
		font-size: 13px;
		position: absolute;
		top: 0;
		width: 100%;
		height: 35px;
    	padding-top: 10px;
	}
	.time-cacbuoc{
		font-size: 20px;
	}
	.cac-buoc-luyen-thi ul li p{
		font-size: 11px;
		text-align: center;
	}
	.thi-thpt-quoc-gia{
		padding: 50px 0 0 0;
		clear: both;
		background-image: url('../images/luyen-thi/thpt.gif');
		background-position: 30px 15px;
	}
	#main_countedown_1 .countdown{
		width: 375px;
		background-position: -10px -10px;
		height: 150px;
	}
	#main_countedown_1 .time_left{
		color: #444 !important;
		font-size: 37px !important;
	}
	#main_countedown_1 .element_conteiner{
		padding-right: 25px;
	}
	.vi-sao{
		margin-top: 15px;
	}
	.vi-sao h2{
		font-size: 14px;
		padding: 6px 0;
	}
	.videos-visao{
		width: 100%;
	}
	.vi-sao .wapper-visao{
		padding: 5px 0;
	}
	.list-noibat{
		width: 100%;
		padding-left: 10px;
		margin-bottom: 20px;
	}
	.menu-luyenthi{
		margin-top: 0;
	}
	.menu-luyenthi .cac-mon-hoc{
		margin-top: 10px;
	}
	.menu-luyenthi .cac-mon-hoc .menu-luyenthi-menu-container ul li{
		width: 47%;
    	margin-left: 6px;
    	margin-bottom: 10px;
    	display: inline-block;
    	padding: 20px 0px 20px 0;
    	margin-right: 3px;
   	 	background-color: #422f47;
	}
	.menu-luyenthi .cac-mon-hoc .menu-luyenthi-menu-container ul li:last-child{
		float: left;
	}
	.y-kien-hoc-sinh h2{
		left: 40px;
	}

	.y-kien-hoc-sinh ul li{	
		width: 100%;
	}
	body.page #content{
		width: 100%;
	}
	.cac-buoc-luyen-thi ul li:nth-child(1) .right>h2{
		background: #0b331040;
		text-align: center;
	}
	.cac-buoc-luyen-thi ul li:nth-child(2) .right>h2{
		background: #542a1673;
		text-align: center;

	}
	.cac-buoc-luyen-thi ul li:nth-child(3) .right>h2{
		background: #de7f7f91;
		text-align: center;

	}
	.nhan-tu-van{
		margin-left:20px;
		background: -webkit-gradient(linear,0 0,0 100%,from(#4f8bfd),to(#0229ea));
	}
	.giao-vien ul li{
		margin-right: 4px;
	}
	.giao-vien ul li:last-child{
		float: none;
	}
	/* slider-comment */
	.carousel-inner .container .carousel-caption{
		width: 100%;
		position: relative;
		left: 0;
		bottom: 10px;
		right: 1%;
	}
	.carousel-caption>h1 ,.carousel-caption .item-school{
		text-align: center;
	}
	.slider-comment>h2{
		left:9%;
	}
	.carousel-caption>h1{
		font-size: 16px;
	}
	.carousel-caption>p{
		font-size: 12px;
	}
	.carousel-inner .item img{
		margin: auto;
	}
	.carousel-indicators{
		left: 60%;
	}
	/* form đăng ký luyện thi*/
	.form-left{
		width: 100%;
	}
	.form-right{
		display: none;
	}
}