.container{
	width: 100%;
	margin: auto;
	overflow: hidden;
	padding-left: 0px;
	position: relative;
}
.post-37090{
	display: none;
}
.img_bg{
	background-image: url('../images/images-thang/truong-hoc.jpg');
	width: 100%;
	height: 885px;
	background-position: 0;
	background-repeat: no-repeat;
}
.img_mon{
	position:absolute;
	top:25px;
	left:210px;
}
.ten_mon{
	position: absolute;
	top: 220px;
	left: 355px;
	padding: 8px;
}
.ten_mon h1{
	text-align: center;
	font-size: 48px;
	color: #2a55a3;
	font-weight: 750;
	font-family: Segoe UI Black;
}
.ten_mon h5{
	text-align: center;
	color: blue;
	font-size: 15px;
}
.phu{
	background-color: white;
    width: 88%;
    height: 290px;
    position: absolute;
    top: 545px;
    left: 30px;
    opacity: .5;
}
.header_content{
	position: absolute;
    top: 510px;
    left: 64px;
    background-color: white;
    width: 82%;
    opacity: 0.8;
    height: 355px;
}
.ctts{
	background-color: #ffffff;
    color: white;
    position: absolute;
    border: 5px solid #00afef;
    height: 230px;
    float: left;
    top: 395px;
    left: 380px;
    width: 350px;
}
.ctts h3{
	color: white;
	background-color: #00afef;
    font-size: 26px;
    font-weight: bold;
    padding-top: 4px;
    text-align: center;
    height: 40px;
}
.ctts_left{
	width: 64%;
    float: left;
    margin: 6px 0px 0px 6px;
    height: 50px;
}
.ctts .ctts_left button{
	font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    width: 300px;
    margin-left: 16px;
	background: -webkit-gradient(linear,0 0,0 100%,from(#00afef),to(#2a55a3));
    border-radius: 5px;
    padding: 8px;
	font-size: 18px;
	box-shadow: 0 2px 4px #666
}
.main{
	padding-top: 90px;
}
.title_mon{
	padding-top: 40px;
}
.logo{
	border-right: 2px solid blue;
}
.title_mon .logo_content .ctdt h2{
	text-align: right;
	font-weight: bold;
	margin-top: 8px;
	color: blue;
}
.title_mon .logo_content .mon h2{
	font-weight: bold;
	background-color: #2a55a3;
	color: white;
    width: 265px;
    text-align: center;
    padding: 5px;
    margin-bottom: 10px;
}
.mota h5{
	font-size: 17px;
}
.ndmota p{
	font-size: 15px;
    padding: 15px 35px 10px 35px;
}
.cndt{
	background-color: #f5f6f6;
	margin-top:-176px;
	height: 620px;
}
.tab{
	display: none;
}
.tab{
     /* Fading effect takes 1 second */
	 animation: fadeEffect 1s;
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
.cndt h1{
    margin-left: 290px;
    font-size: 35px;
    background-color: #2a55a3;
    font-weight: bold;
    color: white;
    text-align: center;
    width: 500px;
    padding: 10px;
}
.body_cndt{
	margin-top:25px;
}
.body_cndt .body_cndt_left{
	margin-left:25px;
    height: auto;
}
.body_cndt div h4{
	color: #2b56a3;
    font-size: 25px;
    font-weight: bold;
}
.body_cndt div p{
	font-size: 18px;
    color: rgb(120, 120, 121);
    padding-left: 30px;
}
.chnn{
	width: 94%;
	background-image: url('../images/images-thang/img.png');
	/* height:400px; */
	position: relative;
}
.chnn .title_chnn{
	width: 500px;
    font-size: 35px;
    font-weight: bold;
    color: blue;
    height: 65px;
    text-align: center;
    padding-top: 22px;
    box-shadow: -4px -4px 6px rgb(226, 221, 221);
    background-color: white;
    margin-left: 285px;
	position:absolute;
	top: -25px;
	
}

.chnn p{
	padding: 80px 100px;
    font-size: 20px;
    color: white;
    font-style: italic;
    font-weight: bold;
}